= link_to conversation_path(m['id']) do
  .span12.entry{:class => m['read'] ? "read" : "unread" }
    .span2.place
      = image_tag m['inquiry']['place_thumb'], :alt => m['inquiry']['place_title']
    .span1.from
      = avatar_image_by_id(m['from'])
      = message_from(m['from'])

    .span2.inquiry
      = render 'messages/target/inquiry_row', :inquiry => m['inquiry']
      
    .span4.message
      - if m['message'].present?
        = truncate(m['message'], :length => 80)
      - else
        %span.empty= t("messages.no_messages")
    .span2
      %span.time= t("time_ago", :time => time_ago_in_words(Time.parse(m['date'])))
