.span15
  %span3.float-left
    - if from
      %a{:href => "/users/#{m['to']['id']}"}
        - unless m['to']['avatar'].nil?
          %img{:src => m['to']['avatar'], :style => "width:60px"}
        - else
          = placehold(60,60)
    - else
      %a{:href => "/users/#{m['from']['id']}"}
        - unless m['from']['avatar'].nil?
          %img{:src => m['from']['avatar'], :style => "width:60px"}
        - else
          = placehold(60,60)

  .span12
    .float-right.delete-conversation
      = link_to '[x]', delete_conversation_path(from ? m['to']['id'] : m['from']['id']), :method => :delete, :confirm => 'Are you sure?'

    %a{:href => from ? "/messages/#{m['to']['id']}" : "/messages/#{m['from']['id']}"}
      %div{:class => m['isread'] ? "alert-message info" : "alert-message warning" }
        - if from
          %b= "#{m['to']['first_name'].chr}. #{m['to']['last_name']}"
        - else
          %b= "#{m['from']['first_name'].chr}. #{m['from']['last_name']}"

        %br
        = truncate(m['message'], :length => 80)

    %span.float-right.mark-as
      %i
        %span.time= time_ago_in_words(Time.parse(m['date']))
      - unless m['isread']
        = link_to 'mark read', mark_as_read_path(from ? m['to']['id'] : m['from']['id'])
      - else
        = link_to 'mark unread', mark_as_unread_path(from ? m['to']['id'] : m['from']['id'])
