.row.message
  .span1.from
    %a{:href => "/users/#{m['from']['id']}"} 
      = avatar_image(m['from'])
      = message_from(m['from'])
  .span11
    .body= simple_format h(m['body'])
    %span.time.pull-right= "#{time_ago_in_words(Time.parse(m['date']))} ago"