.span15
  %span.float-left
    %a{:href => "/users/#{m['from']['id']}"} 
      = avatar_image(m['from'])

  .span12
    %div{:class => "alert-message info"}
      %b= m['from']['first_name'][0] + ". " + m['from']['last_name']
      %br
      = simple_format h(m['body'])

    %div.float-right{:style => "margin-top: -20px; margin-bottom:15px"}
      %span.created_at
        %i 
          %span.time= time_ago_in_words(Time.parse(m['date']))
      
