- if @transaction["state"] == "requested"
  - if @conversation['from']['id'] == current_user["id"]
    = form_for 'workflow', :url => cancel_rental_place_path(:transaction_id => @transaction['id'], :place_id => @inquiry['place_id']), :html => {}, :remote => true do |f|
      = button_tag t(:retract_rental), :class => "btn btn-primary btn-large respond-btn", :id => "retract_rental"
  - else
    = form_for 'workflow', :url => cancel_rental_place_path(:transaction_id => @transaction['id'], :place_id => @inquiry['place_id']), :html => {}, :remote => true do |f|
      = button_tag t(:cancel), :class => "btn btn-primary btn-large respond-btn", :id => "retract_rental"    
    = form_for 'workflow', :url => cancel_rental_place_path(:transaction_id => @transaction['id'], :place_id => @inquiry['place_id']), :html => {}, :remote => true do |f|
      = button_tag t(:accept), :class => "btn btn-primary btn-large respond-btn", :id => "retract_rental"    
- else
  = @transaction["state"]