.conversation
  = breadcrumb [[t("inquiries.inquiries_title"), messages_path]], conversation_title do
    .actions.pull-right
      = link_to t("messages.mark_unread"), mark_as_unread_path(params[:id])
    
  - if @inquiry
    .row.target
      = render 'messages/target/inquiry_box', :inquiry => @inquiry

  - if @messages.present?
    - @messages.each do |m|
      = render 'message', :m => m
  - else
    =t("messages.no_messages")
  .row
    .span6
      = render 'new'
    - if @inquiry
      #inquiry_workflow
        = render 'messages/target/inquiry_workflow', :inquiry => @inquiry