.conversation
  %h4.section-header
    %a{:href => "/messages"}
      =t(:messages)
    &raquo;
    - if @inquiry
      = t(:inquiry_on)
      = @inquiry['place_title']
    - else
      = t(:conversation_with)
      = @conversation['from']['first_name']
    .actions.pull-right
      = link_to t(:mark_unread), mark_as_unread_path(params[:id])

  - if @inquiry
    .row.target
      = render 'messages/target/inquiry_box', :inquiry => @inquiry

  - if @messages.present?
    - @messages.each do |m|
      = render 'message', :m => m
  - else
    =t(:no_messages)
  .row
    = render 'new'