= f.fields_for :address_attributes, current_user.address do |af|
  .text
    .control-group
      = af.label :street, "#{t(:street)}*", :class => 'control-label'
      .controls
        = icon_tooltip(:private)
        = af.text_field :street, :class => "validate[required]"

    .control-group
      = af.label :city, "#{t(:city)}*", :class => 'control-label'
      .controls
        = icon_tooltip(:public)
        = af.text_field :city, :class => "validate[required]"

    .control-group
      = af.label :country, "#{t(:country)}*", :class => 'control-label'
      .controls
        = icon_tooltip(:public)
        = af.country_select(:country, [], {:include_blank => t(:choose_country)}, {:class => "validate[required]", :id => "address_country"})
    .control-group
      = af.label :zip, "#{t(:zip)}*", :class => 'control-label'
      .controls
        = icon_tooltip(:private)
        = af.text_field :zip, :class => "validate[required]"