= form_for :user, :url => profile_path, :method => :put, :html => {:id => "change_address", :class => 'form-horizontal'} do |f|
  = f.fields_for :address_attributes, @user.address do |af|
    .section-header #{t(:section_header_billing_address)}
    .text
      -# FIXME: coded_errors_for is not working
      -# = coded_errors_for @address
      .control-group
        = af.label :street, "#{t(:street)}*", :class => 'control-label'
        .controls
          = icon_tooltip(:private)
          = af.text_field :street, :class => "validate[required]"
    
      .control-group
        = af.label :city, "#{t(:city)}*", :class => 'control-label'
        .controls
          = icon_tooltip(:public)
          = af.text_field :city, :class => "validate[required]"
    
      .control-group
        = af.label :country, "#{t(:country)}*", :class => 'control-label'
        .controls
          = icon_tooltip(:public)
          = af.localized_country_select(:country, [], {:include_blank => t(:choose_country)}, {:class => "validate[required]", :id => "address_country"})
    
      .control-group
        = af.label :zip, "#{t(:zip)}*", :class => 'control-label'
        .controls
          = icon_tooltip(:private)
          = af.text_field :zip, :class => "validate[required]"
    
      .clearfix
      .span4.float-right
        = f.submit t(:save), :class => 'btn btn-primary'
        = link_to t(:cancel), profile_path, :class => 'btn btn-secondary'
      .clearfix