.edit_profile_page
  = render 'users/user_left_column', :user => current_user, :editable => true
  
  .span6
    = render :partial => "profiles/user_information"
    = render :partial => "profiles/billing_address"
    = render :partial => "profiles/bank_account" if @user.agent? || @user.admin?
    = render :partial => "profiles/new_password"

    .form-horizontal.accounts
      .section-header=t(:linked_accounts)
      = render :partial => "users/accounts"
      .clearfix

:javascript
  UserEdit.initialize();