.registration.row-fluid
  %br
  .section.span6.bored
    %h2.offset-one-eight= t(:login)

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .input
        = f.text_field :email,  :placeholder => 'E-Mail Address'
      .input
        = f.password_field :password, :placeholder => 'Password'
      %button.btn.float-right{:type => 'submit'}
        Login

    .alternative
      = link_to t(:forgot_password), new_user_password_path #reset_password_users_path
    .alternative
      =# link_to t(:resend_confirmation), confirm_users_path
    .alternative
      = link_to t(:signup_for_an_account), new_user_registration_path
  .section.span5
    %h2= t(:login_using)
    %a{:href => "/auth/facebook"}
      = image_tag 'signin_facebook.png', :style => 'margin-top: 10px', :alt => 'Sign in with Facebook', :class => 'bottom'
    %br
    %a{:href => "/auth/twitter"}
      = image_tag 'sign-in-with-twitter-l.png', :alt => 'Sign in with twitter'
    %br
    %br
    %br
    %p
      This will allow you to log in to SquareStays
      %br
      using your existing accounts!      
  %br.clearfix
  %br
