.credentials-box.login.row-fluid
  %br
  .section.span6.bored
    %h2.offset-one-eight= t(:login)

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .input
        = f.text_field :email,  :placeholder => 'E-Mail Address'
      .input
        = f.password_field :password, :placeholder => 'Password'

      = f.submit 'Login', :class =>'btn float-right'
    .alternative
      = link_to t(:forgot_password), new_user_password_path
    .alternative
      =# link_to t(:resend_confirmation), confirm_users_path
    .alternative
      = link_to t(:signup_for_an_account), new_user_registration_path

  = render 'registrations/connect_with'