.wizard-aside-wrapper
  .wizard-aside
    %ul.nav.nav-tabs.nav-stacked#wizard_tabs
      %li.active
        .indicator#generalInfo
          = image_tag('check-disabled.png')
        %a{:href => "#1", :title => t("places.wizard.general_information_title")}
          = t("places.wizard.general_information_title")
      %li
        .indicator#photoInfo
          = image_tag('check-disabled.png')
        %a{:href => "#2", :title => t("services.wizard.work_profile_title")}
          = t("services.wizard.work_profile_title")
    .actions
      %a.btn.primary.large.preview-button{:href => listing_path(@resource), :id => "preview_button"}
        %span
          = @resource.published ? t("products.listed") : t("products.invisible")