.wizard-aside-wrapper
  .wizard-aside
    %ul.nav.nav-tabs.nav-stacked#wizard_tabs
      %li.active
        .indicator#generalInfo
          = image_tag('check-disabled.png')
        %a{:href => "#1", :title => t("places.wizard.general_information_title")}
          = t("places.wizard.general_information_title")
      %li
        .indicator#photoInfo
          = image_tag('check-disabled.png')
        %a{:href => "#2", :title => t("services.wizard.work_profile_title")}
          = t("services.wizard.work_profile_title")
      %li
        .indicator#addressInfo
          = image_tag('check-disabled.png')
        %a{:href => "#3", :title => t('services.wizard.address_title')}
          = t('services.wizard.address_title')