.tabbed-panel.jobs-panel
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#main-tab", 'data-toggle' => 'tab'}= t("jobs.main")
    %li
      %a{:href => "#work_profile-tab", 'data-toggle' => 'tab'}= t("jobs.work_profile")
    %li
      %a{:href => "#map-tab", 'data-toggle' => 'tab'}= t("jobs.map")
    %li
      %a{:href => "#calendar-tab", 'data-toggle' => 'tab'}= t("jobs.calendar")
    - if false
      %li
        %a{:href => '#details-questions', 'data-toggle' => 'tab'}
          = t('jobs.questions', :count => 5)#resource.comments.count)
          - # TODO: check this line above

  .tab-content
    = render 'products/services/tabs/main',         :resource => resource
    = render 'products/services/tabs/work_profile', :resource => resource
    = render 'products/services/tabs/map',          :resource => resource
    = render 'products/services/tabs/calendar',     :resource => resource

    =# render 'comments/questions'