.tabbed-panel.jobs-panel
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#main-tab", 'data-toggle' => 'tab'}= t("jobs.main")
    %li
      %a{:href => "#work_profile-tab", 'data-toggle' => 'tab'}= t("jobs.work_profile")
    %li
      %a{:href => "#map-tab", 'data-toggle' => 'tab'}= t("jobs.map")
    %li
      %a{:href => "#calendar-tab", 'data-toggle' => 'tab'}= t("jobs.calendar")
    %li
      %a{:href => '#details-questions', 'data-toggle' => 'tab'}
        = t('jobs.questions', :count => resource.q_and_a.count)
    %li
      %a{:href => '#reviews-tab', 'data-toggle' => 'tab'}= t('products.reviews_title')

  .tab-content
    = render 'products/services/tabs/main',         :resource => resource
    = render 'products/services/tabs/work_profile', :resource => resource
    = render 'products/services/tabs/map',          :resource => resource
    = render 'products/services/tabs/calendar',     :resource => resource

    // Map Pane
    = render 'products/services/tabs/map', :resource => resource

    // Calendar Pane
    = render 'products/services/tabs/calendar', :resource => resource

    // Questions Tab
    = render 'questions/questions'

    // Reviews tab
    - if can_review?(resource, current_user)
      = render 'reviews/new'
    - else
      = render 'reviews/summary'