/ - content_for :javascripts do
/   = javascript_include_tag "wizard"
/   = stylesheet_link_tag "uploadify/uploadify.css"

.wizard.row
  .span12.title
    .float-right
      = link_to t("products.invisible"), '#', :class => 'btn secondary', :id => 'listing-status'

    %h1= @resource.title
.row
  .span12
    .row
      .span3
        = render :partial => 'listings/edit_sidebar'
        &nbsp;
      .span9
        %h2.title.section_title= t("places.wizard.general_information_title")
        .wizard-wrapper
          = form_for @resource, :as => :listing, :url => listing_path(@resource), :class => 'form-stacked', :html => {:id => "wizard_form"} do |f|
            = hidden_field_tag :place_id, params[:id]
            = hidden_field_tag :token, form_authenticity_token, :id => 'token'
            = f.hidden_field :published
            .tab-content
              = render_overridable_partial('tabbed_wizard', :resource => @resource, :f => f)