%div.question-container{:id => "qdiv-#{comment['id']}"}
  %div.left
    .user_box
      .user_photo= placehold(40,40)
      .user_data
        .user_name= link_to "User #{comment['user_id']}", '#'
        .user_role
          User
    %div.p
      = comment['comment']
  %div.right
    = link_to 'X', place_comment_path(comment), :remote => true, :method => :delete

  - if comment['replies'].blank?
    -if current_user['id'] == @owner['id']
      %a.open-respond-form.btn.large.primary Respond
      .respond-form.hide
        %div
          - unless current_user.avatar.nil?
            %img{:src => current_user.avatar, :style => "width:60px; height:60px;"}
          - else
            = placehold(60,60)
          = text_area_tag :comment, "", :rows => 3, :class => "span10"
        %div.buttons
          = button_tag "Cancel", :class => 'btn respond-cancel'
          = button_tag "Submit", :class => "btn primary respond-btn"

  -else
    %div.right
      .user_box
        .user_photo= placehold(40,40)
        .user_data
          .user_name= link_to 'Jonathan Green', '#'
          .user_role
            User
      %div.p
        Answer to your question
