%a.open-respond-form.btn.primary Respond
= form_for 'comment', :url => place_comment_reply_to_message_path(place.id, comment_id), :html => {:class => 'respond-form hide', :remote => true} do |f|
  %div
    - unless current_user.avatar.nil?
      %img{:src => current_user.avatar, :style => "width:60px; height:60px;"}
    - else
      = placehold(60,60)
    = f.text_area :comment, :rows => 3, :class => "span10"
  %div.buttons
    = button_tag "Cancel", :class => 'btn respond-cancel'
    = button_tag "Submit", :class => "btn primary respond-btn"
