-if logged_in?
  - unless current_user['id'] == @owner['id']
    %a#open-ask-btn.btn.large.primary Ask a question
  #ask-form.hide
    = form_for 'comment', :url => place_comments_path(@place), :html => {:id => 'comment-form', :remote => true} do |f|
      %div
        - unless current_user.avatar.nil?
          %img{:src => current_user.avatar, :style => "width:60px; height:60px;"}
        - else
          = placehold(60,60)
        = f.text_area :comment, :rows => 3, :class => "span10"
      %div.buttons
        = button_tag "Cancel", :id => 'ask-cancel', :class => 'btn'
        = button_tag "Submit", :id => 'ask-btn', :class => "btn primary"
-else
  %a.btn.large.primary{:href => signup_path}
    Ask a question

%br
%br
- if !@comments.nil?
  %section.item-questions
    - @comments.each do |comment|
      = render '/comments/comment', :comment => comment

:javascript
  $("#open-ask-btn").click(function() {
    $(this).hide();
    $("#ask-form").show();
  });

  $("#ask-cancel").click(function() {
    $("#ask-form").hide();
    $("#open-ask-btn").show();
    return false;
  });

  $("#ask-btn").click(function() {
    showIndicator($(this));
  });

  $(".open-respond-form").live('click', function() {
    $(this).next().show();
    $(this).hide();
  });

  $(".respond-cancel").live('click', function() {
    var container = $(this).parents(".respond-form");
    container.prev().show();
    container.hide();
    return false;
  });

  $(".respond-btn").live('click', function() {
    showIndicator($(this));
  });

  $(".del").live('click', function() {
    //showIndicator($(this));
  });

  disabled_question_button();
