%div.right{:id => "rdiv-#{reply['id']}"}
  .user_box
    .user_photo= reply['user']['avatar'].nil? ? placehold(60,60) : image_tag(reply['user']['avatar'], :width => 60, :height => 60)
    .user_data
      .user_name= link_to "#{reply['user']['first_name']} #{reply['user']['last_name']}", '#'
      .user_role= reply['user']['role']

  - if @owner['id'] == current_user['id']
    = link_to 'X', place_comment_path(reply['place_id'], reply['id'], :type => 'reply', :qId => question_id), :remote => true, :method => :delete, :confirm => 'Delete this Answer?', :class => "del hide"

  %div.p
    %span.owners-answer
      Owner's Answer
    %div= reply['comment']
    %span.time= time_ago_in_words(reply['created_at'])
