%div.right{:id => "rdiv-#{reply['id']}"}
  .user_box
    .user_photo= placehold(40,40)
    .user_data
      .user_name= link_to "User #{reply['user_id']}", '#'
      .user_role
        Agent
  %div.p
    = link_to 'X', place_comment_path(reply.merge(:type => 'reply', :qId => comment)), :remote => true, :method => :delete, :confirm => 'Delete this Answer?', :class => "del hide"
    = reply['comment']
