.row-fluid.answer
  .span9#answer
    .owners_answer= "Owner's Answer"
    .user_message= reply['comment']
    .time= time_ago_in_words(reply['created_at'])
  - if logged_in? && @owner['id'] == current_user['id']
    .del.hide#del-reply= link_to 'X', place_comment_path(reply['place_id'], reply['id'], :type => 'reply', :qId => question_id), :remote => true, :method => :delete, :confirm => 'Delete this Answer?'

  .span3.user_box
    -if !reply['user'].nil?
      .user_photo= avatar_image(reply['user'])
      .user_data
        .user_name= link_to "#{reply['user']['first_name'][0]}. #{reply['user']['last_name']}", '#'
        .user_role= reply['user']['role']
    -else
      =t(:unknown)