- filters = @search.place_type_filters
- unless filters.empty?
  #types-list
    .header= t("places.search.type_title")
    .content
      %ul{:class => "inputs-list"}
        - filters.each do |p_type, count, checked|
          %li
            %span.filter
              = check_box_tag :place_type_id, p_type.id, checked, :id => "#{p_type.slug}_filter", :autocomplete => 'off'
              %label{:for => "#{p_type.slug}_filter"}= p_type.translated_name
            %span.right
              %span.label= count

:javascript
  PlaceFilters.bindTypeFilters();