%ul
  - places.each do |place|
    %li.items-gallery.results{:class => "place_#{place['id']}"}
      .box
        .clearfix
          =  link_to seo_place_path(place) do
            .feat
              .thumb{:style => "background-color:#3e3e3e"}= image_tag(place['photos'].blank? ? "http://placehold.it/216x144" : place['photos'][0]['photo']['medium'])
            .side    
              .thumb{:style => "background-color:#3e3e3e"}= image_tag((!place['photos'].blank? && place['photos'][1] ? place['photos'][1]['photo']['small'] : "http://placehold.it/106x70"))
              .thumb{:style => "background-color:#3e3e3e"}= image_tag((!place['photos'].blank? && place['photos'][2] ? place['photos'][2]['photo']['small'] : "http://placehold.it/106x70"))

        .desc.clearfix
          %h3.title
            = render :partial => 'button_favorite', :locals => { :place_id => place['id'], :favorited => place['favorited'] }
            = link_to place['title'], seo_place_path(place), :title => place['title']
          .clearfix
            .property.data-block
              .title
                .type.house 
                  = I18n.t("places.types.#{place['place_type']['name'].parameterize('_')}")
                .type.size
                  - if get_current_size_unit == "sqf"
                    = raw("#{number_with_precision place['size_sqf'], :strip_insignificant_zeros => true, :precision => 1} ")
                    =t("units.square_feet_short")
                  -else
                    = raw("#{number_with_precision place['size_sqm'], :strip_insignificant_zeros => true, :precision => 1} ")
                    =t("units.square_meters_short")

            .property2.data-block
              .title
                - if !place['num_bedrooms'].nil?
                  .type.bedroom
                    = t("places.bedrooms", :count => place['num_bedrooms'])
                - if !place['num_bathrooms'].nil?
                  .type.bathroom
                    = t("places.bathrooms", :count => place['num_bathrooms'])
            .price.data-block
              -if place['price_per_month'].present?
                .figure= "#{get_pref_currency}#{place['price_per_month']}"
                .micro= t("places.per_month")
