- my_products  ||= false
- my_favorites ||= false
- url = my_products ? listing_path(resource) : seo_product_url(resource)

%li{:id => dom_id(resource), "data-url" => url, :class => my_products ? 'search-item' : 'search-item-clickable'}
  .thumb.data-block
    %span{:class => "marker_point" ,:id => "marker_point_#{resource.id}"}
    = link_to url do
      = image_tag(resource.primary_photo)
  .info
    .title
      %h3
        = link_to resource.title, url
    = render_overridable_partial('row_details', :resource => resource)

  .data-block.last-child
    .price
      .figure
        %span.autosize= product_price(resource)
      .micro= product_price_unit(resource)
      -if resource.product.has_review?
        .reviews
          = stars(resource.product.review_avg)
    - if my_products
      .manage
        %span.edit_delete_buttons
          %a.btn.large.small{:title => t("places.edit"), :href => "#{edit_listing_path(resource)}"}
            = t("edit")
          = link_to t("delete"), listing_path(resource), :method => :delete,  :class => 'btn large small', :confirm => t("are_you_sure")
        - if resource.published
          %span.label.place_status.label-success=  t("products.listed")
        - else
          %span.label.place_status=  t("products.invisible")
    - elsif false && my_favorites
      .manage
        %span.edit_delete_buttons
          = link_to t("favorites.remove_favorite"), favorite_path(:id => resource.id, :remove_item => true), :remote => true, :method => :delete, :class => 'btn large small button_remove_favorite', :confirm => t("are_you_sure")
