- content_for(:title) do
  - @city.name
  
%section.clearfix
  .row
    .span9
      = render 'search_bar'
      .results{:style => "padding-top: 10px;"}
        %span#search_load_indicator.hide
          = image_tag('loading.gif', :alt => 'loading')
        #search_results
          = render 'search_results'
          
      .see-more.center
        %span#see_more_load_indicator.hide= image_tag('loading.gif')
        =# link_to_function 'see more', 'PlaceFilters.seeMore()'
    .span3
      .search-aside-wrapper
        .search-aside
          %form.panel-wrap
            %ul.panel-expander
              %li
                #custom-alerts
                  .header= t("alerts.custom_alerts")
                  .content
                    - if logged_in?
                      %button.btn.save-search{"data-toggle" => "modal", :href => "#save_search"}
                        %i.icon-time
                        =t("alerts.create_alert")
                    - else
                      %a.btn.save-search{:class => 'trigger_signup', :href => '#'}
                        %i.icon-time
                        =t("alerts.create_alert")
                  
              %li
                = #render 'place_type_filters'
              %li
                .header= t("places.search.pricing_title")
                .content
                  #max_price.float-right= @max_price
                  #min_price= @min_price

                  #price-slider{:style => "z-index:1;"}

      = render 'shared/asm_banner_vertical'

- if false
  - if logged_in? && @alert_params
    #save_search.modal.hide.fade
      = render :partial => 'alerts/save_search_form', :locals => { :alert_params => @alert_params }
  
:javascript
  $(document).ready(function() {  
    PlaceFilters.initialize('#search_bar');
  });