- content_for(:title) do
  - @city.name

%section.clearfix
  .row
    .span9
      = render 'search_bar'
      .results{:style => "padding-top: 10px;"}
        %span#search_load_indicator.hide
          = image_tag('loading.gif', :alt => 'loading')
        #search_results
          = render 'search_results'

      .see-more.center
        %span#see_more_load_indicator.hide= image_tag('loading.gif')
        =# link_to_function 'see more', 'PlaceFilters.seeMore()'
    .span3
      #search_map{:style => "width: 218px;height:210px;border:#ccc 1px solid;"}
      #search_filters.search-aside-wrapper
        = render 'filters'
        - if SiteConfig.sidebar_widget.present?
          .sidebar-widget
            = raw(SiteConfig.sidebar_widget)

- if logged_in? && @alert_params
  #save_search.modal.hide.fade
    = render :partial => 'alerts/save_search_form', :locals => { :alert_params => @alert_params }

:javascript
  $(document).ready(function() {
    PlaceFilters.initialize('#search_bar');
    GMaps.initialize(#{@city.lat}, #{@city.lon});
    GMaps.createMarkers(#{map_markers_json(@results)});
  });