- content_for(:title) do
  - "#{@resource.title} - #{@resource.city.name}"

- require_google_apis

.row
  - if @my_products
    .span10
      = breadcrumb [[t('products.my_listings'), listings_path]], @resource.title
    .span2.place-actions
      .buttons.pull-right
        = render 'listings/actions'
  - else
    .span12
      = breadcrumb [['Search Results', seo_city_path(@resource.city)]],  @resource.title

.row.product_info{:id => dom_id(@resource)}
  .span12
    /******************************************************************************************
    / Name, Price, Inquire Button
    /******************************************************************************************

    .accomodation-wrapper
      .header
        .title
          = render 'search/button_favorite', :favorable => @resource
          %h1= @resource.title

          .meta
            %p= "#{@resource.city.name}, #{@resource.city.country}"
            .share
              %label= t("share_via")
              .sharePlace
        .focal
          %h1.price
            = product_price(@resource)
            %span.sub= product_price_unit(@resource)
          %a{:href => '#inquire_place', :class => 'btn btn-large btn-info', 'data-toggle' => 'modal', 'data-backdrop' => 'true', 'data-keyboard' => 'true', 'data-show' => 'true'}= t("places.inquire")
          %p{:style => "font-size: 9px; font-variant: small-caps; color: #5B5848; margin-top: -3px;"}= t("places.no_obligation")

      /******************************************************************************************
      / Tabbed Panel: Photos, Map, Calendar, Details, Amenities, Directions, House Rules, Questions
      /******************************************************************************************
      = render_overridable_partial('tabbed_panel', :resource => @resource)

= render 'search/inquire'

:javascript
  PlaceShow.initialize({
    cal_lastVisibleDay : #{DateTime.now.end_of_month.to_date},
    cal_events         : #{@availabilities.to_json},
    cal_month          : #{Date.today.month},
    map_lat            : #{@resource.lat || 'null'},
    map_lon            : #{@resource.lon || 'null'},
    map_cityName       : '#{@resource.city.name}',
    map_countryName    : '#{@resource.city.country}',
    map_radius         : #{@resource.radius || 0},
    share_title        : "#{h(@resource.title)}",
    share_url          : '#{seo_product_url(@resource)}',
    share_id           : '#{@resource.id}'
  });