- content_for(:title) do
  - "#{@place.title} - #{@place.city_name}"

- require_google_apis

.row
  .span10
    - if @my_places
      - unless @place.published
        .preview-header
          %p= t(:this_is_preview)
      = breadcrumb [[t('my_places'), my_places_path]],  @place.title
    - else
      = breadcrumb [['Search Results', seo_city_path(@place.city)]],  @place.title
  .span2.place-actions
    - if current_user?(@owner)
      .buttons.pull-right
        = render 'place_options_buttons'

.row.place_info{:class => "place_#{@place.id}"}
  .span12
    /******************************************************************************************
    / Name, Price, Inquire Button
    /******************************************************************************************

    .accomodation-wrapper
      .header
        .title
          =# render :partial => 'button_favorite', :locals => { :place_id => @place['id'], :favorited => @place['favorited'] }
          %h1= @place.title

          .meta
            %p= "#{@place.city_name}, #{@place.country_name}"
            .share
              %label= t("share_via")
              .sharePlace
        .focal
          %h1.price
            = place_price(@place)
            %span.sub= t("places.per_month")
          %a{:href => '#inquire_place', :class => 'btn btn-large btn-info', 'data-toggle' => 'modal', 'data-backdrop' => 'true', 'data-keyboard' => 'true', 'data-show' => 'true'}= t("places.inquire")
          %p{:style => "font-size: 9px; font-variant: small-caps; color: #5B5848; margin-top: -3px;"}= t("places.no_obligation")

      /******************************************************************************************
      / Tabbed Panel: Photos, Map, Calendar, Details, Amenities, Directions, House Rules, Questions
      /******************************************************************************************
      = render 'search/tabbed_panel'

      /******************************************************************************************
      / Description, Minimum stay, Maximum Stay
      /******************************************************************************************
      = render 'places/description'

= render 'search/inquire_place'

:javascript
  PlaceShow.initialize({
    cal_lastVisibleDay : #{DateTime.now.end_of_month.to_date},
    cal_events         : #{@availabilities.to_json},
    cal_month          : #{Date.today.month},
    map_lat            : #{@place['lat']},
    map_lon            : #{@place['lon']},
    map_cityName       : '#{@place.city_name}',
    map_countryName    : '#{@place.country_name}',
    share_title        : '#{@place.title}',
    share_url          : '#{@place_url}',
    share_id           : '#{@place.id}'
  });