= form_for @resource, :as => :listing, :url => listing_path(@resource), :class => 'form-stacked', :html => {:id => "wizard_form", :method => :put} do |f|
  - AmenityGroup.all.each do |ag|
    .panel-wrapper.amenities.well
      %h3= ag.name
      %fieldset
        - ag.amenities.each do |a|
          %label.amenity{:for => dom_id(a)}
            = check_box_tag 'listing[amenity_ids][]', a.id, @resource.amenities.include?(a), :id => dom_id(a)
            = a.name
  = f.submit t(:save)
- if false
  .arrows.clearfix
    .float-left
      %a.btn.primary{:href => "javascript:switchToPanel('#2')"}=raw t("places.wizard.previous_step")
    .float-right
      %a.btn.primary{:href => "javascript:switchToPanel('#4')"}=raw t("places.wizard.next_step")