.panel-wrapper
  = form_for @resource, :as => :listing, :url => listing_path(@resource), :class => 'form-stacked', :html => {:id => "wizard_form", :method => :put} do |f|
    %fieldset.well.form-horizontal
      %h3= t("products.wizard.general_title")
      .control-group.required
        = f.label :city_id, t("products.wizard.what_city"), :class => 'control-label'
        .controls
          = f.select :city_id, cities_options, :class => "validate[required] span4"
      .control-group.required
        = f.label :title, t("products.title"), :class => 'control-label'
        .controls
          = f.text_field :title, :class => "input-xlarge validate[required] autosave"
      .control-group.required
        = f.label :price_per_hour, t("services.price_per_hour"), :class => 'control-label'
        .controls
          = f.text_field :price_per_hour, :class => "input-small validate[required] autosave"
          = @resource.currency.label
      .control-group.required
        = f.label :language_1_cd, t("services.wizard.languages"), :class => 'control-label'
        .controls.languages
          = f.select :language_1_cd, Service.language_1s_for_select(:value), :class => "input-small validate[required] autosave", :include_blank => true
          = f.select :language_2_cd, Service.language_1s_for_select(:value), :class => "input-small validate[required] autosave", :include_blank => true
          = f.select :language_3_cd, Service.language_1s_for_select(:value), :class => "input-small validate[required] autosave", :include_blank => true          
      .control-group.required
        = f.label :seeking, t("services.wizard.seeking_title"), :class => 'control-label'
        .controls
          = f.select :seeking, Service.seeking_options, :include_blank => true, :class => "input-xlarge validate[required] autosave"
      .control-group.required
        = f.label :radius, t("services.wizard.radius"), :class => 'control-label'
        .controls
          = f.text_field :radius, :class => "input-small validate[required] autosave"
          = 'km'
      .control-group.required
        = f.label :education_status, t("services.wizard.education_status"), :class => 'control-label'
        .controls
          = f.select :education_status, Service.education_statuses, :include_blank => true, :class => "input-xlarge validate[required] autosave"
      .control-group
        = f.label :last_institute, t("services.wizard.last_institute"), :class => 'control-label'
        .controls
          = f.text_field :last_institute, :class => "input-xlarge autosave"
      .control-group
        = f.label :description, t("services.description"), :class => 'control-label'
        .controls
          = f.text_area :description, :class => "span8 autosave", :rows => 5, :style => "width: 440px;"
      = f.submit t(:save), :class => 'btn btn-primary'
- if false
  .arrows.clearfix
    .float-right
      %a.btn.primary{:href => "javascript:switchToPanel('#2')"}=raw t("places.wizard.next_step")

