#main-tab.tab-pane.active
  .row
    .span3.profile_pic
      = image_tag "http://placehold.it/185x214"

    .span8
      .row-fluid
        .span12
          %h2
            Sam W.
      .row-fluid
        .span6
          .row-fluid
            .span4
              .details_label= t("jobs.age")
            .span8
              .details_value= 35
          .row-fluid
            .span4
              .details_label= t("jobs.speaks")
            .span8
              .details_value
                English, French
          .row-fluid
            .span4
              .details_label= t("jobs.looking_for")
            .span8
              .details_value
                Live out
        .span6
          .row-fluid
            .span8
              .details_label= t("jobs.educational_status")
            .span4
              .details_value
                Completed
          .row-fluid
            .span8
              .details_label= t("jobs.last_educational_institute")
            .span4
              .details_value
                AGSM
      .row-fluid.about
        .span12
          %h3
            ="#{t("jobs.about_me")}:"
          %p
            Introduction	Lorem ipsum dolor sit amet, consectetuer adipiscing 
            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis 
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
            aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor 
            in hendrerit in vulputate velit esse molestie consequat, vel 
            illum dolore eu feugiat nulla facilisis at vero eros et accumsan 
            et iusto odio dignissim qui blandit praesent luptatum zzril 
            delenit augue duis dolore te feugait nulla facilisi. Nam liber 
            tempor cum soluta nobis eleifend option congue nihil