.tabbed-panel.jobs-panel
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#main-tab", 'data-toggle' => 'tab'}= t("jobs.main")
    %li
      %a{:href => "#work_profile-tab", 'data-toggle' => 'tab'}= t("jobs.work_profile")
    %li
      %a{:href => "#map-tab", 'data-toggle' => 'tab'}= t("jobs.map")
    %li
      %a{:href => "#calendar-tab", 'data-toggle' => 'tab'}= t("jobs.calendar")
    %li
      %a{:href => '#details-questions', 'data-toggle' => 'tab'}
        = t('jobs.questions', :count => @place.comments.count)

  .tab-content
    // Main
    = render 'jobs/main'

    // Work profile
    = render 'jobs/work_profile'

    // Map Pane
    = render 'places/map'

    // Calendar Pane
    = render 'places/calendar'

    // Questions Tab
    = render 'comments/questions'