#work_profile-tab.tab-pane
  .row
    .span3.profile_pic
      = image_tag "http://placehold.it/185x214"

    .span8
      .row-fluid
        .span12
          %h2= t("jobs.name_work_profile", :name => "Sam W.")
      .row-fluid
        .span4
          %h3= t("jobs.domestic_care")
          .row-fluid
            .w-left-icon.check
              hello
          .row-fluid
            .w-left-icon.check
              hello
          .row-fluid
            .w-left-icon.check
              hello
        .span4
          %h3= t("jobs.personal_care")
          .row-fluid
            .w-left-icon.check
              hello
          .row-fluid
            .w-left-icon.check
              hello
        .span4
          %h3= t("jobs.qualifications")
          .row-fluid
            .w-left-icon.check
              hello
          .row-fluid
            .w-left-icon.check
              hello
