/ TODO: unused, delete? 
.user_properties.offset-one-fourth2
  - if @places.count > 0
    .items-gallery.results
      - @places.each do |place|
        .span6
          .box
            .clearfix
              .feat
                .thumb= image_tag(place['photos'].blank? ? "http://placehold.it/216x144" : place['photos'][0]['photo']['medium'])
              .side    
                .thumb= image_tag((!place['photos'].blank? && place['photos'][1] ? place['photos'][1]['photo']['small'] : "http://placehold.it/106x70"))
                .thumb= image_tag((!place['photos'].blank? && place['photos'][2] ? place['photos'][2]['photo']['small'] : "http://placehold.it/106x70"))
    
            .desc.clearfix
              %h3.title
                = link_to place['title'], place_path(place['id'])
              .clearfix
                .property.data-block
                  .title
                    .type.apartment 
                      = place['place_type']['name']
                  .micro
                    = raw("#{number_with_precision place['size_sqm'], :strip_insignificant_zeros => true, :precision => 1} m&sup2;")
                    \/
                    = raw("#{number_with_precision place['size_sqf'], :strip_insignificant_zeros => true, :precision => 1} ft&sup2;")
    
    
                .price.data-block
                  .title.figure= "#{get_pref_currency}#{place['price_per_night']}"
                  .micro Per night
