.span8
  .section-header
    Jonathan's latest items
    %span.float-right
      .small
        = link_to "see all", "#"
  .span3
    %span.float-left
      = placehold(100,100)
    .prices
      .price
        .type= t(:buy_it_for)
        .amount
          = "$ 249"
        .type= t(:rent_it_for)
        .amount
          = "$ 11.49"
        .type= t(:per_day)
        %span.description
          Awesome Playstation 3 with Controllers
        %span.label.new= "like new"
        %span.label.country= "country"
