- unless @user_auth['authentications'].blank?
  - for auth in @user_auth['authentications']
    .span3
      .user_box
        .user_photo.float-left
          - if auth['provider'] == "facebook"
            %img{:src => "#{profile_picture_url auth['uid']}", :style => "width:30px; height:30px; padding-right:5px;"}
          -elsif auth['provider'] == "twitter"
            %img{:src => "#{@oauth_image}", :style => "width:30px; height:30px; padding-right:5px;"}
        .user_data
          .user_name
            = link_to "#{full_name @user}", "#"
            = "(#{auth['provider']})"
.clearfix
= render :partial => "user_linked_accounts"
