- if @user_auth && !@user_auth['authentications'].size == 0
  .span8
    - if @user_auth['authentications'].size == 1
      #{t("users.link_account")}
      - for auth in @user_auth['authentications']
        - if auth['provider'] == 'twitter'
          .p{:style => "padding-left: 5px;"}
            = link_to image_tag("icons/facebook.png"), "/auth/facebook"
        - elsif auth['provider'] == 'facebook'
          .p{:style => "padding-left: 5px;"}
            = link_to image_tag("icons/twitter.png"), "/auth/twitter"
- else
  .link_accounts
    %h4
      #{t("users.link_account")}:
    %p
      = link_to image_tag("icons/facebook.png", :size => "16x16"), "/auth/facebook"
      = link_to image_tag("icons/twitter.png", :size => "16x16"), "/auth/twitter"
