%section.span3
  = link_to placehold(120, 90), "#"
  %h2
    = full_name @user
  %p
    Singapore
  %p
    %span.gray= "Points"
    43
  %p
    %span.gray= "Rating"
    +39 | -1

  %br
  = render :partial => "user_accounts"
  %br
  %p
    - unless request.fullpath.include?('edit')
      = link_to 'Account settings', edit_profile_path

