%section.span2
  - @avatar = large_avatar(user)    
  = image_tag(@avatar, :width => 200)
  
  - if @current_action == "edit"
    = link_to t(:change_photo), "#avatar-modal", { "data-toggle" => "modal", "data-backdrop"=>"static", :class => "change_avatar"}

  %h2.name
    = short_full_name user
  %p.address
    - if !user['address'].nil?
      = "#{user['address']['city']}, #{user['address']['country']}"
  %br
  %p
    - if user['role'] == "agent"
      = image_tag "agent_button.png"
  
  - if logged_in? && current_user['id'] == user['id']
    %br
    = render :partial => "users/user_accounts"
  - elsif logged_in? && params[:id] && current_user['id'] != user['id']
    %a.btn.medium.primary{:href => "/messages/#{user['id']}", :style => 'margin-top: 50px' }= t(:message_user)
