.span8
  /TODO: Add link to edit on the right of the section header
  .section-header=t(:section_header_user_profile)
  .user_info
    .label_detail
      #{t(:first_name)}
    .user_detail
      = @user['first_name']
    .label_detail
      #{t(:last_name)}
    .user_detail
      = @user['last_name']
    .label_detail
      #{t(:email)}
    .user_detail
      = @user['email']
    .label_detail
      #{t(:billing_address)}
    .user_detail
      /TODO: Format Billing Address here
    .label_detail
      #{t(:mobile_phone)}
    .user_detail
      = @user['phone_mobile']
    .label_detail
      #{t(:gender)}
    .user_detail
      /TODO: Map gender to i18n gender_male/gender_female
      = @user['gender'].nil? ? t(:gender_undisclosed) : @user['gender'].titleize
    .label_detail
      #{t(:birthdate)}
    .user_detail
      = date_convert @user['birthdate'] unless @user['birthdate'].blank?
