%section.span3
  = link_to placehold(120, 90), "#"
  %h2
    JGreen
  %span.gray
    Jonathan Green
  %p
  %p
    Singapore
  %p
    = link_to placehold(10,10), "#"
    %span.gray= "CO2 saved"
    %br
    355.40kg
  %p
    = link_to placehold(10,10), "#"
    %span.gray= "Points"
    %br
    43
  %p
    = link_to placehold(10,10), "#"
    %span.gray= "Rating"
    %br
    +39 | -1
  %p
    = link_to placehold(10,10), "#"
    %span.gray= "Badges"
    %br
    13