%section.span8
  -#= render :partial => 'user_header'

  %br.clearfix
  .span3
    Fullname
  .span4
    = full_name @user
  %br.clearfix
  .span3
    Gender
  .span4
    = @user['gender']
  %br.clearfix
  .span3
    Mobile Phone Number
  .span4
    = @user['phone_mobile']
  %br.clearfix
  .span3
    Home Phone Number
  .span4
    = @user['phone_home']
  %br.clearfix
  .span3
    Work Phone Number
  .span4
    = @user['phone_work']
  %br.clearfix
  .span3
    Birthdate
  .span4
    = date_convert @user['birthdate'] unless @user['birthdate'].blank?
