-#= render :partial => 'user_header'
.span8
  .section-header User Information
  .user_info
    .label_detail
      Fullname
    .user_detail
      = full_name @user
    .label_detail
      Gender
    .user_detail
      = @user['gender']
    .label_detail
      Mobile Phone Number
    .user_detail
      = @user['phone_mobile']
    .label_detail
      Home Phone Number
    .user_detail
      = @user['phone_home']
    .label_detail
      Work Phone Number
    .user_detail
      = @user['phone_work']
    .label_detail
      Birthdate
    .user_detail
      = date_convert @user['birthdate'] unless @user['birthdate'].blank?
