.span8
  /TODO: Add link to edit on the right of the section header
  .section-header
    =t(:section_header_user_profile)
    - unless request.fullpath.include?('edit')
      = link_to t(:account_settings), edit_profile_path, :class => "settings"

  %table.borderless
    %tr
      %td.label_detail
        #{t(:first_name)}
      %td.user_detail
        = @user['first_name']
    %tr
      %td.label_detail
        #{t(:last_name)}
      %td.user_detail
        = @user['last_name']
    %tr
      %td.label_detail
        #{t(:email)}
      %td.user_detail
        = @user['email']
    - if !@user['address'].nil?
      %tr
        %td.label_detail
          #{t(:billing_address)}
        %td.user_detail
          = "#{@user['address']['street']}"
          %br
          = "#{@user['address']['zip']} #{@user['address']['city']}"
          %br
          = "#{@user['address']['country']}"
    - if !@user['mobile_phone'].nil?
      %tr
        %td.label_detail
          #{t(:mobile_phone)}
        %td.user_detail
          = @user['phone_mobile']
    - if !@user['gender'].nil?
      %tr
        %td.label_detail
          #{t(:gender)}
        %td.user_detail
          /TODO: Map gender to i18n gender_male/gender_female
          = @user['gender'].nil? ? t(:gender_undisclosed) : @user['gender'].titleize
    - if !@user['birthdate'].nil?
      %tr
        %td.label_detail
          #{t(:birthdate)}
        %td.user_detail
          = date_convert @user['birthdate'] unless @user['birthdate'].blank?

- content_for :aside do
  - if @user['phone_mobile'].blank? or @user['address'].blank?
    - required_fields = ""
    - required_fields = required_fields + "* #{t(:mobile_phone)}<br />" if @user['phone_mobile'].blank?
    - required_fields = required_fields + "* #{t(:billing_address)}<br />" if @user['address'].blank?
    = image_tag("/images/i_profile.png", 
      :style => "float:right;", 
      :id => 'information-missing-fields', 
      :title => required_fields)
    %br
    %br
    %br
    %i= t(:profile_req_message)

:javascript
  $(document).ready(function() {
    $('#information-missing-fields').tooltip({html:true,placement:"below"});
  });
