%section.span3
  - unless @user.avatar.nil?
    %img{:src => @user.avatar, :style => "width:120px"}
  - else
    = placehold(120,120)
  %h2
    = short_full_name @user
  %p
    - if !@user['address'].blank?
      = "#{@user['address']['city']}, #{@user['address']['country']}"
  %br
  %p
    - if @user['role'] == "agent"
      = image_tag "/images/agent_button.png"
  %br
  = render :partial => "user_accounts"