.span8
  /TODO: Add link to edit on the right of the section header
  .section-header
    =t(:section_header_user_profile)
    - unless request.fullpath.include?('edit')
      = link_to t(:account_settings), edit_profile_path, :class => "settings"
  .user_info
    .label_detail
      #{t(:first_name)}
    .user_detail
      = @user['first_name']
    .label_detail
      #{t(:last_name)}
    .user_detail
      = @user['last_name']
    .label_detail
      #{t(:email)}
    .user_detail
      = @user['email']
    .label_detail
      #{t(:billing_address)}
    .user_detail
      = "#{@user['address']['street']}"
      %br
      = "#{@user['address']['zip']}, #{@user['address']['city']}"
      %br
      = "#{@user['address']['country']}"
    .label_detail
      #{t(:mobile_phone)}
    .user_detail
      = @user['phone_mobile']
    .label_detail
      #{t(:gender)}
    .user_detail
      /TODO: Map gender to i18n gender_male/gender_female
      = @user['gender'].nil? ? t(:gender_undisclosed) : @user['gender'].titleize
    .label_detail
      #{t(:birthdate)}
    .user_detail
      = date_convert @user['birthdate'] unless @user['birthdate'].blank?

- content_for :aside do
  - if @user['phone_mobile'].blank? or @user['address'].blank?
    = image_tag("/images/i_profile.png", :style => "float:right;", :id => 'information-missing-fields', :'data-placement' => 'below', :rel => 'twipsy')
    %br
    %br
    %br
    = "Please fill out required fields to qualify as a Squarestays renter."
    
:javascript
  $('information-missing-fields').twipsy();
  $('information-missing-fields').twipsy('show')