- unless @user_auth['authentications'].blank?
  - for auth in @user_auth['authentications']
    .span3
      .user_box
        .user_photo.float-left
          %img{:src => "#{profile_picture_url(auth['uid'], auth['provider'])}", :style => "width:30px; height:30px; padding-right:5px;"}
        .user_data
          .user_name
            = link_to "#{full_name @user}", "#"
            = "(#{auth['provider']})"
.clearfix
= render :partial => "users/user_linked_accounts"
