%section.span8
  .user_photo.float-right
    = placehold(30,30)
  .user_data.float-right
    .user_name
      Jonathan Green
      .user_rank
      = placehold(15,15)
      38
      = placehold(15,15)
      13
  .page-header
    %h2
      - unless @user['first_name'].blank?
        = full_name @user
      - else
        Jonathan Green
  .clearfix
  .span3
    Email
  .span4
    Jonathanator@gmail.com
  .span3
    Shipping Address
  .span4
    71 Ayer Rajah Cresent
    139951, Singapore
    Singapore
  .span3
    Mobile Phone Number
  .span4
    = @user['phone_mobile']
  .span3
    Birthdate
  .span4
    = @user['birthdate']
