%section.span3
  = link_to placehold(120, 90), "#"
  %h2
    = short_full_name @user
  %p
    /TODO: To be provided by backend
    is_Agent?
  %p
    /TODO: Retrieve from User Addresses "city, country"
    Singapore
  %p
    39 
    %span.gray= t(:reviews)
  %br
  = render :partial => "user_accounts"
  %br
  %p
    - unless request.fullpath.include?('edit')
      = link_to t(:account_settings), edit_profile_path

