%section.span3
  - if !@user.avatar.nil?
    - @avatar = @user.avatar
    - else
    - @avatar = placehold(120,120, true)
    
  = image_tag(@avatar, :width => 120)
  - if @current_action == "edit"
    = link_to t(:change_photo), "", { "data-controls-modal"=>"avatar-modal", "data-backdrop"=>"static", :class => "change_avatar"}

  %h2
    = short_full_name @user
  %p
    - if !@user['address'].nil?
      = "#{@user['address']['city']}, #{@user['address']['country']}"
  %br
  %p
    - if @user['role'] == "agent"
      = image_tag "/images/agent_button.png"
  - if logged_in? && !params[:id] && current_user['id'] == @user['id']
    %br
    = render :partial => "users/user_accounts"
  - elsif logged_in? && params[:id] && current_user['id'] != @user['id']
    %a.btn.medium.primary{:href => "/messages/#{@user['id']}", :style => 'margin-top: 50px' }= t(:message_user)
