.registration
  %br
  .section.span8
    %h2= t(:confirm_reset_password)

    = form_tag '/users/confirm_reset_password' do 
      = hidden_field_tag 'reset_password_token', params[:reset_password_token]
      .input
        = label_tag t(:enter_your_new_password)
        = password_field_tag 'password', ''
      %button.btn.float-right{:type => 'submit primary'}
        = t(:submit)
  %br.clearfix
  %br
