.registration
  %br
  .section.span6.bored
    %h2= t(:enter_confirmation_code)

    = form_tag '/users/confirm', :method => :get do 
      .input
        = text_field_tag 'confirmation-token', '',  :placeholder => t(:confirmation_code)
      %button.btn.float-right{:type => 'submit'}
        = t(:submit)

  .section.span5
    %h2= t(:resend_confirmation_code)
    = form_tag '/users/confirm', :method => :get do 
      .input
        = text_field_tag 'email', '',  :placeholder => t(:enter_your_email)
      %button.btn.float-right{:type => 'submit'}
        = t(:resend_confirmation)

  %br.clearfix
  %br
