.span12.offset2
  .row
    .span
      %h1
        Hello
    .span
      %img{:src => "#{profile_picture_url(@oauth_uid, @oauth_provider)}"}
    .span4{:style => "line-height: 40px;"}
      = @oauth_name
  .registration.row
    %br
    .section.span6.bored
      %h2= t(:create_new_account)

      = form_for :user, :url => users_path, :html => {:id => 'registerForm'} do |f|
        = f.hidden_field :oauth_provider, :value => @oauth_provider
        = f.hidden_field :oauth_token, :value => @oauth_token
        = f.hidden_field :oauth_uid, :value => @oauth_uid
        = f.hidden_field :avatar_url, :value => profile_picture_url(@oauth_uid, @oauth_provider)
        = f.error_messages
        .input
          = f.text_field :first_name, :placeholder => t(:first_name), :value => @oauth_firstname
        .input
          = f.text_field :last_name, :placeholder => t(:last_name), :value => @oauth_lastname
        .input
          = f.text_field :email, :placeholder => t(:email), :value => @oauth_email
        .input
          = f.password_field :password, :placeholder => t(:password)
        .input
          = f.password_field :password_confirmation, :placeholder => t(:confirm_password)
        .input
          %label.reset-width
            = f.check_box :terms, :id => 'terms_and_conditions'
            I accept the
            = link_to t(:terms_and_conditions), '/terms-and-conditions', :target => :blank
        %button.btn.float-right{:type => 'submit primary'}
          Create account

    .section.span5
      %h2= t(:i_have_an_account)
      %p Please log in

      = form_tag sessions_path do
        = hidden_field_tag :oauth_provider, @oauth_provider
        = hidden_field_tag :oauth_token, @oauth_token
        = hidden_field_tag :oauth_uid, @oauth_uid
        = hidden_field_tag :avatar_url, profile_picture_url(@oauth_uid, @oauth_provider)

        .input
          = text_field_tag :email, '',  :placeholder => t(:email)
        .input
          = password_field_tag :password, '', :placeholder => t(:password)
        %button.btn.float-right{:type => 'submit primary'}
          Login
      %br.clearfix
      = link_to t(:forgot_password), reset_password_users_path
      %br
      %br
      %br
      <p style='text-align: center'><i> SquareStays won't publish anything without your prior consent or share your personal information with third parties.</i></p>
