- unless coded_errors_for(@user).blank?
  %div{:class => 'alert-message error'}
    = coded_errors_for @user
.row{:style => "margin-left:20px"}
  .span
    %img{:src => "#{profile_picture_url(@user.oauth_uid, @user.oauth_provider)}"}
  .span
    %h1
      Hello
  .span6{:style => "line-height: 40px; font-size: 2em;"}
    = @user.full_name
.registration
  %br
  = render :partial => '/users/form'
  .section.span5
    %h2= t(:i_have_an_account)
    %p Please log in

    = form_tag sessions_path do
      = hidden_field_tag :oauth_provider
      = hidden_field_tag :oauth_token
      = hidden_field_tag :oauth_uid
      = hidden_field_tag :avatar_url

      .input
        = text_field_tag :email, '',  :placeholder => t(:email)
      .input
        = password_field_tag :password, '', :placeholder => t(:password)
      %button.btn.float-right{:type => 'submit'}
        Login
    %br.clearfix
    = link_to t(:forgot_password), reset_password_users_path
    %br
    %br
    %br
    %p
      %i= t(:registration_warning)
