- form_for @user do |f|

  = render "user_left_column", :f => f
  = render "user_info", :f => f
  
  %section.span8
    .h4.section-header Password
    %section
      .p.center
        = f.label :current_password
        = f.password_field :current_password
      .p.center
        = f.label :password
        = f.password_field :password
      .p.center
        = f.label :password_confirmation
        = f.password_field :password_confirmation

  %section.span8
    .h4.section-header Accounts
    %section
