.edit_profile_page
  = render 'users/user_left_column', :user => current_user
  
  .span6
    = render :partial => "users/profile/user_information"
    = render :partial => "users/profile/billing_address"
    = render :partial => "users/profile/bank_account"     if @user['role'] == "agent" or @user['role'] == "admin"
    = render :partial => "users/profile/new_password"

    .form-horizontal
      -#Accounts Section
      .section-header=t(:linked_accounts)
      = render :partial => "users/user_accounts"
      .clearfix

    = render :partial => "users/profile/avatar_modal"

:javascript
  UserEdit.initialize();