= render :partial => 'user_left_column'
%section.span8
  = error_messages_for :user
  = form_for :user, :url => user_path(@user['id']), :method => :put do |f|
    .input
      = f.label :first_name, "First Name"
      = f.text_field :first_name
    .input
      = f.label :last_name, "Last Name"
      = f.text_field :last_name
    .input
      = f.label :gender, "Gender"
      = f.select :gender, [['', 'unknown'],['Male', 'male'], ['Female', 'female']]
    .input
      = f.label :phone_mobile, 'Mobile Phone Number'
      = f.text_field :phone_mobile
    .input
      = f.label :phone_home, 'Home Phone Number'
      = f.text_field :phone_home
    .input
      = f.label :phone_work, 'Work Phone Number'
      = f.text_field :phone_work
    .input
      = f.label :birthdate, 'Birthdate'
      = f.text_field :birthdate
    .clearfix

    - if false
      .section-header Password
      .input
        = label_tag 'Current Password'
        = text_field_tag 'current_password', '', :placeholder => 'current password'
      .input
        = label_tag 'Password'
        = text_field_tag 'password', ''
      .input
        = label_tag 'Re-type Password'
        = text_field_tag 'password_confirmation', ''
    .clearfix

    -#Accounts Section
    .section-header Linked Accounts
    = render :partial => 'user_accounts'
    .clearfix
    .span3.float-right
      = submit_tag 'Save', :class => 'btn primary'
      = button_tag 'Cancel', :class => 'btn secondary'
