= render :partial => 'user_left_column'
%section.span8
  = render :partial => 'user_header'
  = form_tag @user, :method => :put do
    .input
      = label_tag @user['first_name'], "First Name"
      = text_field_tag @user['first_name'], @user['first_name']
    .input
      = label_tag @user['last_name'], "Last Name"
      = text_field_tag @user['last_name'], @user['last_name']
    .input
      = label_tag @user['gender'], 'Gender'
      = text_field_tag @user['gender'], @user['gender']
    .input
      = label_tag @user['phone_mobile'], 'Mobile Phone Number'
      = text_field_tag @user['phone_mobile'], @user['phone_mobile']
    .input
      = label_tag @user['phone_home'], 'Home Phone Number'
      = text_field_tag @user['phone_home'], @user['phone_home']
    .input
      = label_tag @user['phone_work'], 'Work Phone Number'
      = text_field_tag @user['phone_work'], @user['phone_work']
    .input
      = label_tag @user['birthdate'], "Birthdate"
      = text_field_tag @user['birthdate'], @user['birthdate']
    .clearfix

    -#Password Section
    .section-header Password
    .input
      = label_tag 'Current Password'
      = text_field_tag 'current_password', 'current_password'
    .input
      = label_tag 'Password'
      = text_field_tag 'password', 'password'
    .input
      = label_tag 'Re-type Password'
      = text_field_tag 'password_confirmation', 'password_confirmation'
    .clearfix

    -#Accounts Section
    .section-header Linked Accounts
    = render :partial => 'user_accounts'
    .clearfix
    .span3.float-right
      = submit_tag 'Save', :class => 'btn primary'
      = button_tag 'Cancel', :class => 'btn secondary'
