.section.span8
  %h2= t("users.registration.confirm_reset_password")

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = f.hidden_field :reset_password_token
    .input
      = f.label :password, t("users.registration.enter_your_new_password")
      = f.password_field :password, :class => "validate[required,custom[onlyLetterNumber]]"
    .input
      = f.label :password, t(:confirm_reset_password)
      = f.password_field :password_confirmation, :class => "validate[required, equals[user_password]]"

    %button.btn.float-right{:type => 'submit'}
      = t("submit")