.section.span5
  %h2= t(:i_have_an_account)
  %p Please log in

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = render 'registrations/oauth_fields', :f => f
    .input
      = f.text_field :email,  :placeholder => t(:email)
    .input
      = f.password_field :password, :placeholder => t(:password)

    = f.submit 'Login', :class => 'btn float-right'

  %br.clearfix
  = link_to t(:forgot_password), new_user_password_path
  %br
  %br
  %br
  %p
    %i= t(:registration_warning)