- if @user && @user.errors.any?
  %div{:class => 'alert alert-error'}
    = error_messages_for @user

.credentials-box.registration.row-fluid
  - @user ||= User.new

  .section.span12.bored
    %legend= "Request an invite"
    = form_for(@user, :url => user_registration_path, :html => {:id => 'registerForm'})  do |f|
      = f.text_field :first_name, :placeholder => "DJ Name", :class => "span4"
      = f.text_field :email, :placeholder => "Email Address", :class => "span4"
      = f.password_field :password, :placeholder => "Password", :class => "span4"
      = f.text_field :facebook_fan_page, :placeholder => "Facebook Fan Page", :class => "span4"
      = f.submit 'Submit', :class => 'btn btn-warning'
  - if false
    %br
    = form_for(@user, :url => user_registration_path, :html => {:id => 'registerForm'})  do |f|
      = render 'registrations/oauth_fields', :f => f
      .input= f.text_field     :email,      :placeholder => t("users.email_address"),               :class => "validate[required,custom[email]]"
      .input= f.password_field :password,   :placeholder => t("users.password"),                    :class => "validate[required,custom[onlyLetterNumber]]"
      .input= f.password_field :password_confirmation, :placeholder => t("users.confirm_password"), :class => "validate[required, equals[user_password]]"

      .input.agree
        %div.reset-width
          = f.check_box :terms, :id => 'terms_and_conditions'
          %label.for-checkbox{:for => "terms_and_conditions"}
            = t("users.registration.i_accept_the")
            = link_to t("terms_and_conditions"), terms_path, :target => :blank