%footer
  .seo.center
    = link_to t(:terms_of_service), terms_path
    = link_to t(:privacy_policy), privacy_path
    = link_to t(:contact), contact_path
  .seo= t(:homepage_seo_text) +  t(:homepage_seo_text2)

-unless logged_in? 
  - unless controller_name.eql?('users') && (action_name.eql?('new') || action_name.eql?('connect'))
    #popup-registration.modal.hide{:style => 'width: 725px'}
      .modal-body.registration
        = link_to 'x', '#', :class => 'close', :style => 'margin-right: 15px;'
        = render 'users/form'

