%header.header
  .container
    .row
      .span5
        / TODO: GET LOGO PATH ON THE CSS
        %h1.logo= link_to SiteConfig.site_name, root_path, :title => SiteConfig.site_name, :style => "background-image: url(" + static_asset('logo.png') + ");"
      - if user_signed_in?
        .user_box.logged-in
          .row
            .thumb
              = avatar_image(current_user)
            .user_name
              = link_to full_name(current_user), profile_path
              .small
                = link_to t("users.sign_out"), destroy_user_session_path
      - else
        .user_box
          .row    
            .links
              = link_to t("users.sign_in"), login_path_with_ref
              %span.separator /
              = link_to t("users.register"), signup_path_with_ref
      = render 'shared/preferences'
  = render 'shared/menu'
