%header.header
  .container
    .row
      .span5
        = link_to image_tag('/images/SquareStays.png', :height => 68), root_path, :title => t(:app_name)
      - if logged_in?
        .user_box.logged-in
          .row
            .thumb
              - if !current_user.avatar.nil?
                - avatar = current_user.avatar
              - else
                - avatar = placehold(60,60, true)
              = image_tag(avatar, :width => 60, :height => 60)
            .user_name
              = link_to full_name(current_user), profile_path
              .small
                = link_to t(:sign_out), logout_path  
      - else
        .user_box
          .row    
            .links
              = link_to t(:sign_in), login_path
              %span.separator /
              = link_to t(:register), signup_path

      %ul.tab.preference-wrapper
        %li#toggle-preferences.dropdown
          %a.dropdown-toggle{:href => "#"} $ USD
          %ul.dropdown-menu
            %li.arrow
            %li.divider-title Choose language...
            %li.divider
            - if get_current_language == "en"
              %li.active
                %a{:href => "#"} &#10003; English
            - else
              %li
                %a{:href => "#"} English
            - if get_current_language == "es"
              %li.active
                %a{:href => "#"} &#10003; Español
            - else
              %li
                %a{:href => "#"} Español
            %li.divider              
            %li.divider-title Choose Currency...
            %li.divider            
            %li
              %a{:href => "#"} 
                %span.em $ 
                USD
            %li
              %a{:href => "#"} 
                %span.em £
                GBP              
            %li
              %a{:href => "#"}
                %span.em $
                SGD
            %li
              %a{:href => "#"} ...

            %li.divider              
            %li.divider-title Choose Unit...
            %li.divider            
            - if get_current_size_unit == "sqm"
              %li.active
                %a{:href => "#"}
                  &#10003;
                  %span.em m²
                  Sq. meter
            - else
              %li
                %a{:href => "#"}
                  %span.em m²
                  Sq. meter

            - if get_current_size_unit == "sqf"
              %li.active
                %a{:href => "#"}
                  &#10003;
                  %span.em ft²
                  Sq. foot
            - else
              %li
                %a{:href => "#"}
                  %span.em ft²
                  Sq. foot

  = render 'shared/menu'
