%header.header
  .container
    .row
      .span5
        = link_to image_tag('/images/logo.png'), root_path, :title => t(:app_name)
      .span5.offset5.user_box
        .row
          - if logged_in?
            .span3
              .user_name
                = link_to full_name(current_user), profile_path
                .small
                  = link_to t(:sign_out), logout_path
            .span2
              - unless current_user.avatar.nil?
                %img{:src => current_user.avatar, :style => "width:60px; height:60px;"}
              - else
                = placehold(60,60)
          - else
            .span3
              .links
                = link_to t(:sign_in), login_path
                |
                = link_to t(:register), signup_path
      .span1
        .row
          #pref-language English
          = pref_language_list
          .small#pref-currency US$
          = pref_currency_list
  = render 'shared/menu'
