%header.header
  .container
    .row
      .span5
        .logo= link_to image_tag('SquareStays.png', :size => "244x58"), root_path, :title => t(:app_name)
      - if user_signed_in?
        .user_box.logged-in
          .row
            .thumb
              = avatar_image(current_user)
            .user_name
              = link_to full_name(current_user), profile_path
              .small
                = link_to t(:sign_out), destroy_user_session_path
      - else
        .user_box
          .row    
            .links
              = link_to t(:sign_in), login_path_with_ref
              %span.separator /
              = link_to t(:register), signup_path_with_ref
      = render 'shared/preferences'
  = render 'shared/menu'
