= raw(SiteConfig.after_body_tag_start) if SiteConfig.after_body_tag_start.present?

%header.header
  .container
    .row
      .span5
        .logo
          = link_to root_path, :title => SiteConfig.site_name do
            = image_tag static_asset('logo.png'), :alt => SiteConfig.site_name
      - if user_signed_in?
        .user_box.logged-in
          .row
            .thumb
              = avatar_image(current_user)
            .user_name
              = link_to full_name(current_user), profile_path
              .small
                = link_to t("users.sign_out"), destroy_user_session_path
      - else
        .user_box
          .row
            .links
              = link_to t("users.sign_in"), login_path_with_ref
              %span.separator /
              = link_to t("users.register"), signup_path_with_ref
      = render 'shared/preferences'
  = render 'shared/menu'
