%header.header
  .container
    .row
      .span5
        = link_to image_tag('/images/logo.png'), root_path, :title => t(:app_name)
      .span5.offset6.user_box
        .row
          - if logged_in?
            .span3
              .user_name
                = "blah" # link_to full_name(current_user), '#' 
                .small
                  = link_to t(:sign_out), logout_path
            .span2
              = placehold(60,60)
          - else
            .span3
              .links
                = link_to t(:sign_in), login_path
                |
                = link_to t(:register), signup_path
  = render 'shared/menu'                
