.topbar
  .fill
    .container
      - if logged_in?
        %ul.nav
          %li.active
            = link_to t(:find_items), '#'
          %li
            = link_to t(:my_heypal), '#'
          %li
            = link_to t(:profile), user_url(current_token)
        %ul.nav.secondary-nav
          %li.add-item
            = link_to t(:add_a_place), '#'
          %li.notification
            = link_to "5", '#', :class => 'dropdown-toggle'
            %ul.dropdown-menu
              %li
                = link_to 'Notification 1', '#'
              %li
                = link_to 'Notification 2', '#'
      - else
        %ul.nav
          %li
            = link_to raw('&nbsp;'), ''
