%meta{:charset => "utf-8"}/
%title= content_for?(:title) ? "#{yield(:title)} | #{t(:site_title)}" : t(:site_title)
%meta{:content => "", :name => "description"}/
%meta{:content => "", :name => "author"}/

%link{:rel => "icon", :type => "image/png", :href => "http://squarestays.com/favicon.png"}

= stylesheet_link_tag "application"
= javascript_include_tag "application"
- if @require_google_apis
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3&sensor=false'

/[if lt IE 9]
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
/ Le styles

%script{:type=>"text/javascript"}
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25552412-3']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-7c5a2a5c-c368-32e9-7a4f-94a9ec3bdc77"}); </script>

= csrf_meta_tag

= yield :javascripts
