%meta{:charset => "utf-8"}
%title= content_for?(:title) ? "#{yield(:title)} | #{t(:site_title)}" : t(:site_title)
%meta{:content => "", :name => "description"}
%meta{:content => "", :name => "author"}
%link{:rel => "icon", :type => "image/png", :href => "http://squarestays.com/favicon.png"}

= stylesheet_link_tag "application"
= javascript_include_tag "application"
- if @require_google_apis
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3&sensor=false'

/[if lt IE 9]
  = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'
/ Le styles

- if SiteConfig.gae_tracking_code.present?
  %script{:type=>"text/javascript"}
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '#{SiteConfig.gae_tracking_code}']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

%script{:type=>"text/javascript"}
  var switchTo5x=true;
= javascript_include_tag 'http://w.sharethis.com/button/buttons.js'
%script{:type=>"text/javascript"}
  stLight.options({publisher: "f91eb31f-708d-40c7-b96e-f3b8ce71ba44"});

= csrf_meta_tag

= yield :javascripts