%ul.tab.preference-wrapper
  %li#toggle-preferences.dropdown
    %a.dropdown-toggle{:href => "#"}
      %span.selector_label
        = get_currency_with_symbol(get_current_currency)
    %ul.dropdown-menu
      %li.arrow
      %li.divider-title= "#{t(:choose_language)}..."
      %li.divider
      %li{ get_current_language == "en" ? {:class => "active"} : {} }
        = link_to :change_preference => true, :pref_language => 'en' do
          %span.check &#10003;
          English
      %li{ get_current_language == "es" ? {:class => "active"} : {} }
        = link_to :change_preference => true, :pref_language => 'es' do
          %span.check &#10003;
          Español
      %li.divider
      %li.divider-title= "#{t(:choose_currency)}..."
      %li.divider            
      %li{ get_current_currency == "USD" ? {:class => "active"} : {} }
        = link_to :change_preference => true, :pref_currency => 'USD' do
          %span.em <span class="check">&#10003;</span>
          %span.option-label= get_currency_with_symbol("USD")
      %li{ get_current_currency == "GBP" ? {:class => "active"} : {} }
        = link_to :change_preference => true, :pref_currency => 'GBP' do 
          %span.em <span class="check">&#10003;</span> 
          %span.option-label= get_currency_with_symbol("GBP")
      %li{ get_current_currency == "SGD" ? {:class => "active"} : {} }
        = link_to :change_preference => true, :pref_currency => 'SGD' do
          %span.em <span class="check">&#10003;</span> 
          %span.option-label= get_currency_with_symbol("SGD")
      %li{ get_current_currency == "HKD" ? {:class => "active"} : {} }
        = link_to :change_preference => true, :pref_currency => 'HKD' do
          %span.em <span class="check">&#10003;</span> 
          %span.option-label= get_currency_with_symbol("HKD")
      %li.divider              
      %li.divider-title= "#{t(:choose_unit)}..."
      %li.divider            
      %li{ get_current_size_unit == "sqm" ? {:class => "active"} : {} }
        = link_to :change_preference => true, :pref_size_unit => 'sqm' do
          %span.em <span class="check">&#10003;</span> m²
          =t("square_meters")
      %li{ get_current_size_unit == "sqf" ? {:class => "active"} : {} }
        = link_to :change_preference => true, :pref_size_unit => 'sqf' do
          %span.em <span class="check">&#10003;</span> ft²
          =t("square_feet")
