.span16
  .row
    %h2= t("city_guides.hong_kong.title")
  .row
    = t("city_guides.hong_kong.main_content").html_safe
    %p
      %center
        %a.btn.btn-primary.btn-large{:type => 'submit', :href => "/hong_kong"}= t("city_guides.find_place_in", :city_name => t("cities.hong_kong"))
    %h3= t("city_guides.helpful_links")
    = t("city_guides.hong_kong.helpful_links_content").html_safe
    %h3= t("city_guides.sources")
    = t("city_guides.hong_kong.sources_content").html_safe