.how
  .intro.span16 
    %h3 How SquareStays works?
    %p SquareStays offers a unique blend of exactly what you need in flexible professional accommodations - quality and trust at a reasonable price. 
    %p All SquareStays listings are designed to provide the comfort you expect from having a place of your own with the flexibility of a shorter-term stay. 
    %p SquareStays only lets professional landlords, owners, agents and property managers list places. This ensures you a high level of trust, service and quality for your stay.
    .well
      %h3 Listing members
      %p= t(:how_list_your_properties, :places_email => mail_to('places@squarestays.com')).html_safe
      - if !logged_in?
        = button_to 'List your properties', signup_path, :class => "btn primary large", :method => :get
      - elsif is_agent?
        = button_to 'List your properties', new_place_path, :class => "btn primary large", :method => :get
    .well
      %h3 Travelers
      %p Simply use the place search and filter page on SquareStays to find a place that’s right for you. You can narrow your search criteria by type of accommodation, price, and location.
      %p Once you have found place that looks good for you, you can either make a reservation or make an inquiry. An inquiry is like a reservation, including the dates that you are looking for, as well as helping you understand the costs, but allows you to ask any further questions you might want to ask before making a reservation. A reservation, is, naturally, a reserved set of dates that you will stay at the place.
      %p The place owner or listing member will typically answer your request within 24-48 hours. The owner may have some follow-up questions for you, so please remember to check in on the site regularly when you have inquiries pending.
      %p= t(:how_travelers_4th, :support_email => mail_to('support@squarestays.com')).html_safe
      = button_to 'Find a place', '/places/singapore', :class => "btn primary large", :method => :get
      
    .well
      %h3 Payments
      %p= t(:how_payments_1st) 
      %p= t(:how_payments_2nd, :support_email => mail_to('support@squarestays.com')).html_safe