.start
  .row
    .span6
      .hub
        .drop_down_button_area
          .btn-group
            %button.btn.btn-large.btn-info
              =t("search_place_stay_in").html_safe
            %button.btn.btn-large.btn-info.dropdown-toggle{"data-toggle" => "dropdown"}
              %span.caret
            %ul.dropdown-menu
              %li
              - City.active.each do |city|
                %li= link_to city.name, "/#{city.slug}"
              %li= link_to t("pages.front_page.other_cities"), "#city_modal", "data-toggle" => "modal"
             
              
        #description
          %p.description_one= t("pages.front_page.description.one").html_safe
          %p.description_two= t("pages.front_page.description.two").html_safe
          %p.description_three= t("pages.front_page.description.three").html_safe
          %p.description_four= t("pages.front_page.description.four").html_safe
        &nbsp;
    
    .span6
      = gallery :homepage
      
- home_page_footer = Page.find_by_page_url('home_page_footer')
= home_page_footer.description.html_safe unless home_page_footer.nil?
    
= render :partial => "city_modal"
