.start
  .row
    .span8
      .hub
        %h1
          Search for a place to stay in
          = link_to "Singapore", "#"          
        %form  
          .clearfix
            = text_field_tag "date_start", "", :placeholder => "Arriving on", :class => 'big from-to-picker', "data-date" => :from
            = button_to t(:homepage_search_but), search_index_path, :class => "btn primary"
    
    .span8
      %a.thumb{:href => "/"}
        = image_tag("http://placehold.it/450x299", :class => 'setblock')
      

.tease-blurb
  
  .tease-header
    t(:teaser_center_title)
  
  .row
    .span4
      .wrapper
        %h4.title= t(:teaser_1_title)
        %p 
          = image_tag('/images/suitcase.png')
          = t(:teaser_1_content)
    .span4
      .wrapper
        %h4.title= t(:teaser_2_title)
        %p
          = image_tag('/images/shield.png')
          = t(:teaser_2_content)
    .span4
      .wrapper
        %h4.title= t(:teaser_3_title)
        %p
          = image_tag('/images/building.png')
          = t(:teaser_3_content)
        
.tease-featurette
  .row
    .span8
      .wrapper.feat-place
        %h2.title Life in Singapore
        %p 
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
          = image_tag('/images/sg.jpg')
        
    .span8
      .wrapper.about
        %h2.title About SquareStays
        %p
          = image_tag('/images/feat.logo.png')        
          SquareStays works with professional Agents and Landlords to ensure a comfortable and professional experience. dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent           
  

        
          