.start
  .row
    .span6
      .hub
        %h1#search_in
          =t("pages.front_page.search_place_stay_in")

        .btn-group#button_homepage
          %button.btn.btn-large.btn-primary.button_left{:onclick =>"location.href='/#{current_city.slug}'"}= current_city.name
          %button.btn.btn-large.btn-primary.dropdown-toggle.button_right{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu.pull-left{:style => "width:201px"}
            - City.active.each do |city|
              %li
                = link_to city.name, "/#{city.slug}", :class => 'city'
            %li.divider
            %li= link_to t("pages.front_page.other_cities"), new_feedback_path, :remote => true

        #description
          %p= t("pages.front_page.description.one").html_safe
          %p= t("pages.front_page.description.two").html_safe

    .span6
      = parse_cms_embeds(Page.find_by_page_url('home_page_right').present? ? Page.find_by_page_url('home_page_right').description : "")

- home_page_footer = Page.find_by_page_url('home_page_footer')
= home_page_footer.description.html_safe unless home_page_footer.nil?

:javascript
  $('#button_homepage a.city').click(function(){
    $('#button_homepage .button_left').html($(this).html());
  });