.start
  .row
    .span8
      .hub
        %h1
          Search for a place to stay in
          = link_to "Singapore", "#", :id => "open-country-select"
        %ul#country-select
          %li Singapore
          %li= link_to "Not going to Singapore", "#", "data-controls-modal" => "my-modal"

        #my-modal.hide.modal.fade
          .modal-header
            Can't find the city you were hoping to go?
          .modal-body
            We're working hard on expanding SquareStays to more<br>
            You can gelp us by telling us what city you would like to see next.<br><br><br>
            %label City
            %input

            <br><br>
            %label Leave us your E-Mail address so we can notify you when we add the city you were looking for
            %input
            <br><br><br><br>

          .modal-footer
            %button.btn.primary Submit
            %button.btn Cancel

        %form{:action => '/places'}
          .clearfix
            = text_field_tag "date_start", "", :placeholder => "Arriving on", :class => 'textbox big from-to-picker', "data-date" => :from
            = button_to t(:homepage_search_but), search_index_path, :class => "btn hp-blue large"
            
        / .nav
        /   #toggle-preferences.dropdown{"data-dropdown" => "dropdown"}
        /     %a.dropdown-toggle{:href => "#"} $ USD
        /     %ul.dropdown-menu
        /       %li
        /         %a{:href => "#"} Secondary link
        /       %li
        /         %a{:href => "#"} Something else here
        /       %li.divider
        /       %li
        /         %a{:href => "#"} Another link
    
    .span8
      #teaser-pics
        %a.thumb{:href => "#"}
          .description
            Small but perfectly formed, this cosmopolitan city-state packs a whole bunch of fun into 274 square miles. 
          = image_tag("http://static.gowalla.com.s3.amazonaws.com/photos/9406985_high_res_320x480.jpg", :class => 'setblock', :width => '450', :height => '296')        
        %a.thumb{:href => "#"}
          .description
            The nightlife’s buzzing, the shopping’s spectacular, and you’ll never have a better Singapore Sling.
          = image_tag("http://d34ykkgw4cfjmc.cloudfront.net/photos/9407407_high_res_320x480.jpg", :class => 'setblock', :width => '450', :height => '296')        
        %a.thumb{:href => "#"}
          .description
            Small but perfectly formed, this cosmopolitan city-state packs a whole bunch of fun into 274 square miles.           
          = image_tag("http://static.gowalla.com.s3.amazonaws.com/photos/9406950_high_res_320x480.jpg", :class => 'setblock', :width => '450', :height => '296')        
        %a.thumb{:href => "#"}
          .description
            The nightlife’s buzzing, the shopping’s spectacular, and you’ll never have a better Singapore Sling.
          = image_tag("http://d34ykkgw4cfjmc.cloudfront.net/photos/9406895_high_res_320x480.jpg", :class => 'setblock', :width => '450', :height => '296')        
        %a.thumb{:href => "#"}
          .description
            It really is Suntec City Mall
          = image_tag("http://static.gowalla.com.s3.amazonaws.com/photos/9406715_high_res_320x480.jpg", :class => 'setblock', :width => '450', :height => '296')        
      
.tease-blurb
  
  .tease-header
    t(:teaser_center_title)
  
  .row
    .span4
      .wrapper
        %h4.title= t(:teaser_1_title)
        %p 
          = image_tag('/images/suitcase.png')
          = t(:teaser_1_content)
    .span4
      .wrapper
        %h4.title= t(:teaser_2_title)
        %p
          = image_tag('/images/shield.png')
          = t(:teaser_2_content)
    .span4
      .wrapper
        %h4.title= t(:teaser_3_title)
        %p
          = image_tag('/images/building.png')
          = t(:teaser_3_content)
        
.tease-featurette
  .row
    .span8
      .wrapper.feat-place
        %h2.title= t(:homepage_life_sg_title)
        %p 
          = t(:homepage_life_sg_content)
          = image_tag('/images/sg.jpg')
        
    .span8
      .wrapper.about
        %h2.title= t(:homepage_about)
        %p
          = image_tag('/images/feat.logo.png')        
          = t(:homepage_about_content)
  
