.start
  .row
    .span6
      .hub
        %h1
          =t(:search_place_stay_in)
          = link_to "Singapore", "#", :id => "open-country-select"
        %ul#country-select.dropdown
          %li.arrow
          %li Singapore
          %li= link_to t(:not_going_to_singapore), "#", "data-controls-modal" => "my-modal"

        %p
          %a{:class => 'btn btn-large btn-primary', :style => 'margin-left:63px; margin-top:10px; margin-bottom:55px; width:168px; height:23px; text-align:center; padding-top:12px; float:center; font-weight: bold', :href => '/singapore'}= t(:homepage_search_but)

        #fp-liner{:style => 'color:#3977b0'}
          %p 
            %b= t(:fp_one)
          %p 
            %span= t(:fp_two_a)
            %b= t(:fp_two_b)
          %p
            %b= t(:fp_three)
    
    .span6
      #teaser-pics
        %a.thumbnail{:href => "http://www.squarestays.com/singapore/5-the-clift-prime-location-loft-with-view"}
          .description= t(:car_one)
          %img{:src => "http://s3.amazonaws.com/squarestays-img-production/places/5/photos/1326456807/large.jpg"}
        %a.thumbnail{:href => "http://www.squarestays.com/singapore/2-cavenagh-lodge-central-great-for-family"}
          .description= t(:car_two)
          %img{:src => "http://s3.amazonaws.com/squarestays-img-production/places/2/photos/1326444525/large.jpg"}
        %a.thumbnail{:href => "http://www.squarestays.com/singapore/6-the-clift-cool-2-bedroom-downtown-loft"}
          .description= t(:car_three)
          %img{:src => "http://s3.amazonaws.com/squarestays-img-production/places/6/photos/1326721102/large.jpg"}
        %a.thumbnail{:href => "#{cityguide_sg_path}"}
          .description= t(:car_four)
          %img{:src => "http://s3.amazonaws.com/squarestays-static/car05.jpg"}
        %a.thumbnail{:href => "#{cityguide_hk_path}"}
          .description= t(:car_five)
          %img{:src => "http://s3.amazonaws.com/squarestays-static/car03.jpg"}
      
.tease-social
  %hr{:class => "style-two"}
  .links
    %img{:src => "https://s3.amazonaws.com/squarestays-static/icon.fb.jpg", :width => "30px", :height => "30px"}
    %span.social-text
      %a{:href => "https://www.facebook.com/squarestays"}= t(:homepage_facebook)
    %img{:src => "https://s3.amazonaws.com/squarestays-static/icon.tw.jpg", :width => "30px", :height => "30px"}
    %span.social-text
      %a{:href => "https://twitter.com/#!/Squarestays"}= t(:homepage_twitter)
    %img{:src => "https://s3.amazonaws.com/squarestays-static/icon.rss.png", :width => "25px", :height => "25px"}
    %span.social-text
      %a{:href => "http://blog.squarestays.com"}= t(:homepage_blog)
  %hr{:class => "style-two"}
  
.tease-blurb  
  .tease-header
    t(:teaser_center_title)
  .row
    %img{:src => "http://s3.amazonaws.com/squarestays-static/flx.jpg",  :alt => t(:teaser_1_content)}
    %img{:src => "http://s3.amazonaws.com/squarestays-static/qlty.jpg", :alt => t(:teaser_2_content)}
    %img{:src => "http://s3.amazonaws.com/squarestays-static/afrd.jpg", :alt => t(:teaser_3_content)}            

.trust
  .row
    %img{:src => "http://s3.amazonaws.com/squarestays-static/swg.jpg",  :title => "Small World Group"}
    %img{:src => "http://s3.amazonaws.com/squarestays-static/nrf.jpg",  :title => "National Research Foundation"}
    %img{:src => "http://s3.amazonaws.com/squarestays-static/prnx.jpg", :title => "PropNex"}
    %img{:src => "http://s3.amazonaws.com/squarestays-static/feo.jpg",  :title => "Far East Organization"}
    
#my-modal.hide.modal.fade
  = form_tag '/cities/suggest', :class => 'cities_suggest_form' do
    .modal-header
      %h3=t(:cant_find_city)
    .modal-body
      =t(:working_on_expanding)
      <br><br>
      .input
        %label{:style => "text-align:right; width:65px; margin-right:20px;"}=t(:city)
        = text_field_tag 'city', ''
      - unless logged_in?
        .input
          %label{:style => "text-align:right; width:65px; margin-right:20px;"}=t(:email)
          = text_field_tag 'email'
      <br>
      %i=t(:leave_us_email)
      <br>
    .modal-footer
      %button.btn.primary=t(:submit)
      %button.btn{:onclick => "$('#my-modal').modal('hide'); return false;"}=t(:cancel)

