.start
  .row
    .span6
      .hub
        %h1#search_in
          =t("pages.front_page.search_place_stay_in")
          = link_to current_city.name, "/#{current_city.slug}", :id => "open-country-select"
        %ul#country-select.dropdown
          %li.arrow
          - City.active.each do |city|
            %li= link_to city.name, "/#{city.slug}"
          %li= link_to t("pages.front_page.other_cities"), "#city_modal", "data-toggle" => "modal"
        %p#search_button
          = link_to t("pages.front_page.search_button"), "/#{current_city.slug}", :class => "btn btn-large btn-primary"
        #description
          %p.description_one= t("pages.front_page.description.one").html_safe
          %p.description_two= t("pages.front_page.description.two").html_safe
          %p.description_three= t("pages.front_page.description.three").html_safe
          %p.description_four= t("pages.front_page.description.four").html_safe
        &nbsp;
    
    .span6
      = gallery :homepage
      
- home_page_footer = Page.find_by_page_url('home_page_footer')
= home_page_footer.description.html_safe unless home_page_footer.nil?
    
= render :partial => "city_modal"
