.start
  .row
    .span6
      .hub
        %h1
          =t("front_page.search_place_stay_in")
          = link_to current_city.name, "/#{current_city.slug}", :id => "open-country-select"
        %ul#country-select.dropdown
          %li.arrow
          - City.active.each do |city|
            %li= link_to city.name, "/#{city.slug}"
          %li= link_to t("front_page.other_cities"), "#city_modal", "data-toggle" => "modal"

        %p
          %a{:class => 'btn btn-large btn-primary', :style => 'margin-left:63px; margin-top:10px; margin-bottom:55px; width:168px; height:23px; text-align:center; padding-top:12px; float:center; font-weight: bold', :href => "/#{current_city.slug}"}= t("front_page.search_button")

        #fp-liner{:style => 'color:#3977b0'}
          %p 
            %b= t("front_page.description.one", :site_name => SITE_NAME)
          %p 
            %span= t("front_page.description.two")
            %b= t("front_page.description.three")
          %p
            %b= t("front_page.description.four")
    
    .span6
      = gallery :homepage
      
.tease-social
  %hr{:class => "style-two"}
  .links
    %img{:src => "https://s3.amazonaws.com/squarestays-static/icon.fb.jpg", :width => "30px", :height => "30px"}
    %span.social-text
      %a{:href => "https://www.facebook.com/squarestays"}= t("front_page.social.facebook")
    %img{:src => "https://s3.amazonaws.com/squarestays-static/icon.tw.jpg", :width => "30px", :height => "30px"}
    %span.social-text
      %a{:href => "https://twitter.com/#!/Squarestays"}= t("front_page.social.twitter")
    %img{:src => "https://s3.amazonaws.com/squarestays-static/icon.rss.png", :width => "25px", :height => "25px"}
    %span.social-text
      %a{:href => "http://blog.squarestays.com"}= t("front_page.social.blog")
  %hr{:class => "style-two"}
  
.tease-blurb  
  .tease-header
    = t("front_page.teaser.title", :site_name => SITE_NAME)
  .row
    %img{:src => "http://s3.amazonaws.com/squarestays-static/flx.jpg",  :alt => t("front_page.teaser.one", :site_name => SITE_NAME)}
    %img{:src => "http://s3.amazonaws.com/squarestays-static/qlty.jpg", :alt => t("front_page.teaser.two", :site_name => SITE_NAME)}
    %img{:src => "http://s3.amazonaws.com/squarestays-static/afrd.jpg", :alt => t("front_page.teaser.three", :site_name => SITE_NAME)}

.trust
  .row
    %img{:src => "http://s3.amazonaws.com/squarestays-static/swg.jpg",  :title => t("front_page.trust.one")}
    %img{:src => "http://s3.amazonaws.com/squarestays-static/nrf.jpg",  :title => t("front_page.trust.two")}
    %img{:src => "http://s3.amazonaws.com/squarestays-static/prnx.jpg", :title => t("front_page.trust.three")}
    %img{:src => "http://s3.amazonaws.com/squarestays-static/feo.jpg",  :title => t("front_page.trust.four")}
    
= render :partial => "city_modal"
