.span16
  .row
    %h2= t("city_guides.kuala_lumpur.title")
  .row
    = t("city_guides.kuala_lumpur.main_content", :site_name => SITE_NAME).html_safe
    %p
      %center
        %a.btn.btn-primary.btn-large{:type => 'submit', :href => "/kuala_lumpur"}= t("city_guides.find_place_in", :city_name => t("cities.kuala_lumpur"))
    %h3= t("city_guides.helpful_links")
    = t("city_guides.kuala_lumpur.helpful_links_content").html_safe
    %h3= t("city_guides.sources")
    = t("city_guides.kuala_lumpur.sources_content").html_safe