.span16
  .row
    %h2= t("city_guides.singapore.title")
  .row
    = t("city_guides.singapore.main_content").html_safe
    %p
      %center
        %a.btn.btn-primary.btn-large{:type => 'submit', :href => "/singapore"}= t("city_guides.find_place_in", :city_name => t("cities.singapore"))
    %h3= t("city_guides.helpful_links")
    = t("city_guides.singapore.helpful_links_content").html_safe
    %h3= t("city_guides.sources")
    = t("city_guides.singapore.sources_content").html_safe