#main-tab.tab-pane.active
  .row
    .span3.profile_pic
      = image_tag @resource.primary_photo, :width => '200'
    .span8
      .row-fluid
        .span12
          %h2= @resource.user.anonymized_name
      = render 'products/custom_values'

      .row-fluid.about
        .span12
          %h3="#{t("services.about_me")}:"
          %p= resource.description