- case inquiry['state'].to_sym
  - when :initial
    %p.hint= t(:workflow_initial_agent)

  - when :requested
    = link_to t(:workflow_requested_agent_button), transaction_path(inquiry['id'], :event => :pre_approve), {:method => :put, :remote => true, :class => "btn btn-primary btn-large" }
    %p.hint= "(#{t(:workflow_requested_agent)})"

  - when :ready_to_pay
    %p= t(:workflow_readypay_agent)

  - else
    %p.hint= t(:workflow_paid_agent)