.inquiry
  - if listing.inquiry_photo
    .span2.photo
      = image_tag listing.inquiry_photo, :alt => listing.title
  .span8.details
    %span.title= link_to listing.title, seo_product_url(listing)
    - if target.guests.present?
      .guests
        %span.value= t("inquiries.inquiry_guests", :count => target.guests)
    - if target.check_in.present?
      .arriving
        %span.key= t("products.inquiries.start_date")
        %span.value= I18n.l(target.check_in, :format => :long)
      .stay
        %span.key= t("products.inquiries.duration")
        %span.value= target.length_in_words