- if target.guests.present?
  .guests
    %span.value= t("inquiries.inquiry_guests", :count => target.guests)
- if target.check_in
  .arriving 
    %span.key= t("inquiries.arriving_on")
    %span.value= target.check_in
- if target.length_in_words
  .stay
    %span.key= t("inquiries.staying")
    %span.value= target.length_in_words