.inquiry
  .span2.place
    = image_tag inquiry['place_thumb'], :alt => inquiry['place_title']
  .span8.details
    %span.title= link_to inquiry['place_title'], inquiry['place_url']
    - if inquiry['guests'].present?
      .guests
        %span.value= t(:inquiry_guests, :count => inquiry['guests'])
    - if inquiry['check_in'].present?
      .arriving 
        %span.key= 'arriving on'
        %span.value= inquiry['check_in']
    - if inquiry['length'].present?
      .stay
        %span.key= 'stay'
        %span.value= inquiry['length']