= form_for :new_password, :url => user_change_password_path((@user['id'] ? @user['id'] : params[:id])), :method => :put, :html => {:id => "new_password", :class => 'form-horizontal'} do |f|

  /Password Section
  .section-header #{t(:section_header_user_password)}

  .control-group
    = label_tag '', t(:password), :class => 'control-label'
    .controls
      = icon_tooltip(:private)
      = f.password_field :password, :class => "validate[required,minSize[6]]"
  
  .control-group
    = label_tag '', t(:profile_retype_pwd), :class => 'control-label'
    .controls
      = icon_tooltip(:private)
      = f.password_field :password_confirmation, :class => "validate[required,equals[new_password_password]]"
  
  .clearfix
  .span4.float-right
    = f.submit t(:save), :class => 'btn btn-primary'
    = link_to t(:cancel), profile_path, :class => 'btn btn-secondary'
  .clearfix