= form_tag @current_action == "edit" ? alert_path(alert_params['id']) : alerts_path, :class => "form-horizontal", :method => @current_action == "edit" ? :put : :post do

  = hidden_field_tag "alert[query[currency]]", alert_params['query']['currency']
  = hidden_field_tag "alert[alert_type]", alert_params['alert_type']

  .modal-header
    %h3=t(@current_action == "edit" ? "alerts.edit_alert" : "alerts.create_alert")
  .modal-body
    %fieldset
      .column1
        .control-group
          %label{:class => "control-label"}= t("alerts.settings")
          .controls
            = select_tag "alert[schedule]", options_for_select([[t("alerts.daily"), "daily"], [t("alerts.weekly"), "weekly"], [t("alerts.monthly"), "monthly"]], alert_params['schedule'])
            = select_tag "alert[delivery_method]", options_for_select([[t("alerts.email"), "email"]], alert_params['delivery_method'])
        .control-group
          %label{:class => "control-label"}= t("places.search.city")
          .controls
            = select_tag "alert[query[city_id]]", options_for_select(cities_options, alert_params['query']['city_id'])
        = render_overridable_partial('save_search_fields', :alert_params => alert_params)
        .control-group
          %label{:class => "control-label"}= t("places.search.sort_by")
          .controls
            = select_tag "alert[query[sort_by]]", options_for_select(sort_options, alert_params['query']['sort_by'] || 'price_highest'), :class => 'medium'
        .control-group
          %label{:class => "control-label"}= t("places.search.minimum_price")
          .controls
            .input-prepend
              %span.add-on= current_currency.label
              = text_field_tag "alert[query[min_price]]", alert_params['query']['min_price'], :placeholder => t("places.search.minimum_price"), :class => 'span2', 'autocomplete' => 'off'
        .control-group
          %label{:class => "control-label"}= t("places.search.maximum_price")
          .controls
            .input-prepend
              %span.add-on= current_currency.label
              = text_field_tag "alert[query[max_price]]", alert_params['query']['max_price'], :placeholder => t("places.search.maximum_price"), :class => 'span2', 'autocomplete' => 'off'
      .column2
        = render_overridable_partial('save_search_fields_extra', :alert_params => alert_params)

  .modal-footer
    %button.btn{:onclick => "$('.modal').modal('hide'); return false;"}=t("cancel")
    %button.btn.btn-primary=t("submit")
    