- # Make ActiveAdmin helpers available
- self.class.send :include, Arbre::Builder
- self.class.send :include, ActiveAdmin::ViewHelpers
- @_helpers = self

.table_tools
  .panel
    %h3 City Search
    .panel_contents
      = form_for :geo_search, :url => geonames_search_admin_cities_path, :method => :get do |f|
        = f.text_field :name, :value => params[:name], :style => 'width:400px'
        = f.country_select :country_code, [], {:include_blank => 'All countries'}
        = f.submit 'Search'

- if @results
  = table_for(@results, :class => 'index_table') do |t|
    - t.column :name
    - t.column :country
    - t.column('Actions') do |city|
      - link_to 'Add', admin_cities_path(:city => city.attributes.except(:slug, :cached_completed_name)), :method => :post
- else
  .blank_slate_container
    %span.blank_slate Search for a city by name