.well
  %h2{:style => 'display:inline; color: #000000 '}
    = "Singapore"
  %hr
  .row
    - @clubs.each do |club|
      .span6.club
        .well
          %h2
            = club.name
          %ul
            %li
              = club.phone
            %li
              %a{:href => "#{club.website}"}
                = club.website
            %li
              = club.email
          %h3
            = club.address
          %img{:src => "#{club.photo1(:medium)}"}
          %p
            = club.description