.span12
  .section-header
    .center
      Item received from Gred Stokes
      %span.float-left
        .small
          < Item page
  %br.clearfix
  .section.item-comments
    .comment
      .body.item
        .row
          .span2
            .image
              = placehold(100,100)
          .span5
            %h3 Awesome Playstation 3 with Controllers and superawesome game collection
            .labels
              %span.label.new= "like new"
              %span.label.nearby= "nearby"
            .environmental
              %span.gray= t(:co2)
              %span.val= "43,32 kg"
              = placehold(24,24)
              = placehold(24,24)
            %br.clearfix
          .span2
            .prices
              .price
                .type= t(:selling_it_for)
                .amount
                  = "$ 249"
              .price
                .type= t(:renting_it_for)
                .amount
                  = "$ 3.49"
              .price
                .type= t(:shipping)
                = "$ 2.49"
                .br
                = placehold(24,24)
                = placehold(24,24)
        .clearfix
          %p.description
            I'm selling my playstation 3 with all my games and three controllers. The Console is in great condition. One of the controllers is slightly wonky, but still completely usable. I'm including my collection of games, there's 12 of them. I'm also renting the Playstation on a weekly basis for those who are interested.
      .created_at.align-right
        added on 24 March 2011, 13:57
      .commenter
        .user_box
          .user_photo= placehold(40,40)
          .user_data
            .user_name= link_to "Greg Stokes", "#"
            .user_rank
              = placehold(24,24)
              71
              = placehold(24,24)
              13

    .comment.right
      .body.item
        .row
          .span9.align-right
            Rent request
          .span9.small.sup.align-right
            Singapore, Singapore
          %br
          .span3
            #date-input-1-container
            .span
              %span.box.small#date-input-1
              %br.clearfix
          .span3
            #date-input-2-container
            .span
              %span.box.small#date-input-2
              %br.clearfix
          .prices
            .price
              .span.float-left
                .type= t(:duration)
                14 days
                .type= t(:total)
                $ 48.86
                .type= t(:delivery)
                Pick up in person
        .clearfix
          %p.description
            Hi Greg! I'm interested in renting your PS3 for two weeks for my son. He's been a real terror these last days, and I told him that we'd borrow one first before we're gonna buy one. I foresee he's gonna play with it twice and then it'll stop being interesting. Either way, I'd like to Rent the PS3 for two weeks and since I live in Singapore I'd be able to come and pick it up myself. Let me know!
      = render :partial => 'shared/commenter_box'

    .comment
      .body
        %span.small.sup
          Message
        %br.clearfix
        Jonathan, thanks for the request! Saturday works for me. What time do you want to come by to pick it up?
      = render :partial => 'shared/commenter_box'
    .comment.right
      .body
        %span.small.sup.float-right
          Message
        %br.clearfix
        How about 10am this Saturday?
      = render :partial => 'shared/commenter_box'
    .comment
      .body
        %span.small.sup
          Message
        %br.clearfix
        Sounds good!
      =render :partial => 'shared/commenter_box'
    .comment
      .body.info
        Rental Confirmed
      = render :partial => 'shared/commenter_box'
    .comment.right
      .body.info.align-right
        %span.small.sup
          Total
        $ 48.86
        Payment Confirmed
      = render :partial => "shared/commenter_box"
    .comment
      .body.info
        Item sent.
      = render :partial => 'shared/commenter_box'
    .comment.right
      .body.info.align-right
        Item received.
      = render :partial => 'shared/commenter_box'
    .comment.right
      .body.info.align-right
        Item returned.
      = render :partial => 'shared/commenter_box'
    .comment
      .body.info
        Item received.
      = render :partial => 'shared/commenter_box'

    .final_comment
      .body
        Transaction Complete
        %br.clearfix
        Don't forget to rate you Pal!

    .rating
      .body.span5.float-left
        .span.float-right
          =placehold(75,75)
        .span.float-left{:style => "padding-top: 35px;"}
          Good Rating
      .body.span5.float-right
        .span.float-left
          =placehold(75,75)
        .span.float-right.small
          x Item arrived unusually late
