= form_for @resource, :as => :listing, :url => listing_path(@resource), :class => 'form-stacked', :html => {:id => "wizard_form", :method => :put} do |f|
  .panel-wrapper.amenities.well
    - AmenityGroup.all.each do |ag|
      %h3= ag.name
      %fieldset
        .alert.alert-info
          = "#{t("places.wizard.amenities.select_one")}"
        - ag.amenities.each do |a|
          %label.amenity{:for => dom_id(a)}
            = check_box_tag 'listing[amenity_ids][]', a.id, @resource.amenities.include?(a), :id => dom_id(a)
            = a.name
    = f.submit t(:save), :class => 'btn btn-primary'