.panel.tab-pane{:id => "tab_#{tab_name}"}
  = form_for @resource, :as => :listing, :url => listing_path(@resource), :class => 'form-stacked', :html => {:id => "wizard_form", :method => :put} do |f|
    = render "products/#{SiteConfig.product_class.to_s.tableize}/wizard_tabs/step_#{tab_name}", :layout => 'wizard_step', :f => f
    = f.hidden_field :completed_steps, :value => tab_number
  .arrows.clearfix
    .float-left
      - prev_tab = previous_wizard_tab(tab_name)
      - if prev_tab
        %a.btn.primary{:href => "javascript:switchToPanel('#tab_#{prev_tab}')"}=raw t("places.wizard.previous_step")
    .float-right
      - next_tab = next_wizard_tab(tab_name)
      - if next_tab
        %a.btn.primary{:href => "javascript:switchToPanel('#tab_#{next_tab}')"}=raw t("places.wizard.next_step")