.wizard-aside-wrapper
  .wizard-aside
    %ul.nav.nav-tabs.nav-stacked#wizard_tabs
      %li.active
        .indicator#generalInfo
          = image_tag('check-disabled.png')
        %a{:href => "#1", :title => t("places.wizard.general_information_title")}
          = t("places.wizard.general_information_title")
      %li
        .indicator#photoInfo
          = image_tag('check-disabled.png')
        %a{:href => "#2", :title => t("places.wizard.photos_title")}
          = t("places.wizard.photos_title")
      %li
        .indicator#amenitiesInfo
          = image_tag('check-disabled.png')
        %a{:href => "#3", :title => t("places.wizard.amenities_title")}
          = t("places.wizard.amenities_title")
      %li
        .indicator#priceInfo
          = image_tag('check-disabled.png')
        %a{:href => "#4", :title => t("places.wizard.price_and_conditions_title")}
          = t("places.wizard.price_and_conditions_title")
    - if false
      %li
        .indicator
          = image_tag('check.png')
        %a{:href => "#5", :title => t("places.wizard.calendar_title")}
          = t("places.wizard.calendar_title")