.tabbed-panel
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#photo-slider", 'data-toggle' => 'tab'}= t("places.photos")
    %li
      %a{:href => "#map-tab",      'data-toggle' => 'tab'}= t("places.map")
    %li
      %a{:href => "#calendar-tab", 'data-toggle' => 'tab'}= t("places.calendar")
    %li
      %a{:href => "#details-tab", 'data-toggle' => 'tab'}= t("places.details")
    - if resource.house_rules.present?
      %li
        %a{:href => "#house-rules-tab", 'data-toggle' => 'tab'}= t("places.house_rules")
    %li
      %a{:href => '#details-questions', 'data-toggle' => 'tab'}
        = t('jobs.questions', :count => resource.q_and_a.count)

    - @other_properties = []
    - unless current_user?(@owner)
      - @other_properties = @owner.other_published_products(resource)

    - if @other_properties.present?
      %li
        %a{:href => '#other-properties', 'data-toggle' => 'tab'}
          = t('places.other_properties', :count => @other_properties.count)

  .tab-content
    // Photo Slider pane
    = render 'places/photos'

    // Map Pane
    = render 'places/map'

    // Calendar Pane
    = render 'places/calendar'

    // Details Pane
    = render 'places/details'

    // House Rules Pane
    - if resource.house_rules.present?
      = render 'places/house_rules'

    // Questions Tab
    = render 'questions/questions'

    // Other Products by this agent
    - if @other_properties.present?
      = render 'places/other_properties'


/******************************************************************************************
/ Description, Minimum stay, Maximum Stay
/******************************************************************************************
.description
  .row
    .span8
      %pre.desc= resource.description
    .span2.right.span-below
      .title
        =t("places.minimum_stay")
      .micro
        -if resource.minimum_stay != 0
          = "#{resource.minimum_stay} #{t(resource.stay_unit)}"
        -else
          = t("places.no_minimum")
    .span2.right
      .title
        =t("places.maximum_stay")
      .micro
        -if resource.maximum_stay != 0
          = "#{resource.maximum_stay} #{t(resource.stay_unit)}"
        -else
          = t("places.no_maximum")
