- content_for :javascripts do
  = javascript_include_tag "wizard"

.panel.tab-pane#1
  = render 'products/properties/wizard_tabs/step_general'
.panel.tab-pane#2
  = render 'products/properties/wizard_tabs/step_photos'
.panel.tab-pane#3
  = render 'products/properties/wizard_tabs/step_amenities'
.panel.tab-pane#4
  = render 'products/properties/wizard_tabs/step_pricing'
.panel.tab-pane#5
  =# render 'products/places/wizard_tabs/step_calendar',  :f => f
.panel.tab-pane#6
  =# render 'preview', :f => f

:javascript
  $(function() {
    $('.wizard-wrapper .panel').css("display", "none");
    $('.wizard-wrapper .panel').first().css("display", "block");
    $('.wizard-wrapper form').validationEngine();
    $('ul#wizard_tabs li a').bind('click', function(){
      $('.wizard-wrapper form').validationEngine('hideAll');
      var _this = $(this);
      $('.wizard-wrapper .panel').hide();
      $(_this.attr('href')).fadeIn('fast');
      $('.section_title').html(_this.attr('title'));
      _this.parent().parent().find('.active').removeClass('active');
      _this.addClass('active');
      _this.parent().addClass('active');
      return false;
    });
  });