- content_for :aside do
  %section.section.item-detail
    .pal
      %h2.section-header= t(:pal)
      .avatar
        -#= image_tag @product['user']['photo']
        = placehold(200,200)
      .name
        %h3= @product['user']['name']
      .location.sup
        = "#{@product['user']['location']['city']}, #{@product['user']['location']['country']}"
      .scores
        = placehold(24,24)
        = @product['user']['reviews']
        = placehold(24,24)
        = @product['user']['badges']
    %br.clearfix
    .more-items
      %h2.section-header=raw "#{@product['user']['name']}'s #{t(:items)}"

%section.item-detail.clearfix
  .row
    .span4
      .image
        -#= image_tag @product['photo']
        = placehold(200, 200)
    .span6
      %h1= @product['name']
      .labels
        %span.label.new= "like new"
        %span.label.nearby= "nearby"
      .environmental
        %span.gray= t(:co2)
        %span.val= @product.co2
        &nbsp;
        = placehold(24,24)
        = placehold(24,24)
      .location.sup
        = @product.location
    .span2
      .prices
        - if @product.sell?
          .price
            .amount
              = number_to_currency(@product.sell_price)
            = link_to 'Buy', '', :class => 'btn primary'
        - if @product.rent?
          .price
            .amount
              = number_to_currency(@product.rent_price)
            = link_to 'Rent', '', :class => 'btn primary'
            
  %br.clearfix
  %p.categories
    = @product.categories 
  %p.description
    = @product['description']
.permalink
  .row

    .span6
      = label_tag :permalink, 'Permalink:', :class => 'reset-float reset-width align-right'
      = text_field_tag 'permalink', @product['permalink']
    .span4.align-images
      = label_tag :share, 'Share Via:', :class => 'reset-float reset-width align-right sup'
      &nbsp;
      %img{:src => '/images/icons/facebook.png'}
      %img{:src => '/images/icons/twitter.png'}
      %img{:src => '/images/icons/google.png'}
      %p.small.sup
        added on
        = @product['added_on']

= render 'comments'



= @product.inspect

