- content_for :aside do
  %section
    %h2= t(:item_history)

  %section
    %h2= t(:your_other_items)
    .item-others
      %ul.media-grid
        - 8.times do 
          %li
            = link_to placehold(60, 60), '#'
    .clearfix.sup
    = link_to raw(t(:see_all)), '#', :class => 'sup'

.announce
  %h2 Page Identifier

%section.page-text
  %h2 Page Text
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %h2 Links
  %p
    = link_to 'This is a sample link', '#'
%section.page-notifications
  %h2 Notifications
  - %w(warning success error info).each do |m|              
    .alert-message{:class => m}= "Sample #{m} message"

%section.page-buttons
  %h2 Buttons
  %button.btn.primary
    Primary Button
  %button.btn.secondary
    Secondary Button

%section.page-labels
  %h2 Labels
  %span.label.new= "new"
  %span.label.like_new= "like new"
  %span.label.nearby= "nearby"    
  %br
  %span.label= "default"
  %span.label.success= "success"
  %span.label.warning= "warning"
  %span.label.important= "important"
  %span.label.notice= "notice"

%section
  %h2 Forms


%section.item-detail.clearfix
  %h2 Item
  .row
    .span2
      .image
        = placehold(100, 100)
    .span8
      %h1 Awesome Playstation 3 with Controllers and superawesome game collection
      .labels
        %span.label.new= "like new"
        %span.label.nearby= "nearby"
      .environmental
        %span.gray= t(:co2)
        %span.val= "43,32 kg"
        = placehold(24,24)
        = placehold(24,24)
      %br.clearfix
      %p.description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p.small.sup
        added on 24 March 2011
    .span2
      .prices
        .price
          .type= t(:selling_it_for)
          .amount
            = "$ 249"
        .price
          .type= t(:renting_it_for)
          .amount
            = "$ 11.49"


.announce
  .row
    .span8
      = label_tag :permalink, 'Permalink:', :class => 'reset-float reset-width align-right'
      = text_field_tag 'permalink', 'http://someurl.com'
    .span3.align-images
      = label_tag :share, 'Share Via:', :class => 'reset-float reset-width align-right'
      %img{:src => '/images/icons/facebook.png'}
      %img{:src => '/images/icons/twitter.png'}
      %img{:src => '/images/icons/google.png'}


%br.clearfix
%section.item-comments
  %h2 Comments/Questions
  .comment
    .body.item
      .row
        .span2
          .image
            = placehold(100, 100)
        .span5
          %h3 Awesome Playstation 3 with Controllers and superawesome game collection
          .labels
            %span.label.new= "like new"
            %span.label.nearby= "nearby"
          .environmental
            %span.gray= t(:co2)
            %span.val= "43,32 kg"
            = placehold(24,24)
            = placehold(24,24)
          %br.clearfix
        .span2
          .prices
            .price
              .type= t(:selling_it_for)
              .amount
                = "$ 249"
            .price
              .type= t(:renting_it_for)
              .amount
                = "$ 11.49"
      .clearfix
        %p.description
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %p.small.sup
          added on 24 March 2011                      
    .created_at
      3 hours ago
    .commenter
      .user_box
        .user_photo= placehold(40,40)
        .user_data
          .user_name= link_to 'Jonathan Green', '#'
          .user_rank
            = placehold(24,24)
            71
            = placehold(24,24)
            13
            
  / start of comment (right)          
  .comment.right
    .body.item
      .row
        .span2
          .image
            = placehold(100, 100)
        .span5
          %h3 Awesome Playstation 3 with Controllers and superawesome game collection
          .labels
            %span.label.new= "like new"
            %span.label.nearby= "nearby"
          .environmental
            %span.gray= t(:co2)
            %span.val= "43,32 kg"
            = placehold(24,24)
            = placehold(24,24)
          %br.clearfix
        .span2
          .prices
            .price
              .type= t(:selling_it_for)
              .amount
                = "$ 249"
            .price
              .type= t(:renting_it_for)
              .amount
                = "$ 11.49"
      .clearfix
        %p.description
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %p.small.sup
          added on 24 March 2011                      
    .created_at
      3 hours ago
    .commenter
      .user_box
        .user_photo= placehold(40,40)
        .user_data
          .user_name= link_to 'Jonathan Green', '#'
          .user_rank
            = placehold(24,24)
            71
            = placehold(24,24)
            13                                    
  - 5.times do 
    .comment.right
      .body
        Is this PS3 compatible with my TV?
      .created_at
        3 hours ago
      .commenter
        .user_box
          .user_photo= placehold(40,40)
          .user_data
            .user_name= link_to 'Jonathan Green', '#'
            .user_rank
              = placehold(24,24)
              71
              = placehold(24,24)
              13
    .comment
      .body
        Yes if you have NTSC-J
      .created_at
        5 hours ago
      .commenter
        .user_box
          .user_photo= placehold(40,40)
          .user_data
            .user_name= link_to 'Greg Stokes', '#'
            .user_rank
              = placehold(24,24)
              71
              = placehold(24,24)
              13


