%fieldset.form-horizontal.well
  .control-group
    = label_tag "date_start", t("places.wizard.calendar.dates"), :class => 'control-label'
    .controls
      = text_field_tag "date_start", "", :placeholder => "yyyy/mm/dd", :class => 'small from-to-picker', "data-date" => :from
      = t("places.wizard.calendar.to")
      = text_field_tag "date_end", "", :placeholder => "yyyy/mm/dd", :class => 'small from-to-picker', "data-date" => :to
  .availability-price.control-group
    = label_tag "availability_type", t("places.wizard.calendar.status"), :class => 'control-label'
    .controls
      = select_tag "availability_type", raw("<option value='1'>#{t("places.wizard.calendar.unavailable")}</option><option value='2'>#{t("places.wizard.calendar.new_price")}</option>"), :class => 'availability_type'
      %span.wrap.hide
        %span.input-prepend
          %small.add-on.currency-sign= currency_sign_of(@place.currency)
          = text_field_tag "price_per_night", "", :placeholder => t("places.wizard.calendar.new_price"), :class => 'small validate[custom[number],min[0]]'
      %p.help-block
        =t("places.wizard.calendar.new_date_help", :currency_sign => currency_sign_of(@place.currency), :price_per_night => @place.price_per_month.to_i / 30)
    %div.availability-action.pull-right
      = button_tag t("places.wizard.calendar.close"), :class => "btn cancel-new-availability"
      = button_tag t("places.wizard.calendar.add"), :id => "new-availability", :class => "btn primary"

:javascript

  $(".cancel-new-availability").unbind('click').click(function() {
    $("#new-availability-form").hide();
    $("#open-new-availability").show();
    return false;
  });

  $("#new-availability").unbind('click').click(function() {
    var save_btn = $(this);
    var place_id = $("#place_id").val();

    showIndicator(save_btn);
    save_btn.attr('disabled', 'disabled');
    $.ajax({
      type: 'POST',
      url: '/places/'+place_id+'/availabilities',
      data: {
        'availability_type':$("#availability_type").val(),
        'price_per_night':$("#price_per_night").val(),
        'date_start':$("#date_start").val(),
        'date_end':$("#date_end").val()
      },
      success: function(data) {
        if (data.stat) {
          $("#all-availabilities").html(data.data);
          $(".cancel-new-availability").click();

          $("#date_start, #date_end").val('');
          $("#availability_type").val("1");
          $("#price_per_night").val('').parent().hide();

          add_datepicker();
        } else {
          alert(data.data);
        }

        hideIndicator(save_btn);
        save_btn.removeAttr('disabled');
      },
      error: function() {
        alert('#t("places.wizard.calendar.something_went_wrong")');
        hideIndicator(save_btn);
        save_btn.removeAttr('disabled');
      }
    });
    return false;
  });
