%fieldset
  %div
    = text_field_tag "date_start", "", :placeholder => "dd/mm/yyyy", :class => 'small from-to-picker', "data-date" => :from
    to
    = text_field_tag "date_end", "", :placeholder => "dd/mm/yyyy", :class => 'small from-to-picker', "data-date" => :to

    %span.availability-price
      = select_tag "availability_type", raw("<option value='2'>New Price</option><option value='1'>Unavailable</option>"), :class => 'availability_type'
      = text_field_tag "price_per_night", "", :placeholder => "New Price", :class => 'small'

    %div.availability-action
      = button_tag "Close", :class => "btn cancel-new-availability"
      = button_tag "Add", :id => "new-availability", :class => "btn primary"

:javascript

  $(".cancel-new-availability").unbind('click').click(function() {
    $("#new-availability-form").hide();
    $("#open-new-availability").removeClass('disabled').removeAttr('disabled');
    return false;
  });

  $("#new-availability").unbind('click').click(function() {
    var save_btn = $(this);

    showIndicator(save_btn);
    save_btn.attr('disabled', 'disabled');
    $.ajax({
      type: 'POST',
      url: '/places/'+place_id+'/availabilities',
      data: {
        'availability_type':$("#availability_type").val(),
        'price_per_night':$("#price_per_night").val(),
        'date_start':$("#date_start").val(),
        'date_end':$("#date_end").val()
      },
      success: function(data) {
        if (data.stat) {
          $("#new-availabilities").show().append(data.data);
          $(".cancel-new-availability").click();
        } else {
          alert(data.data);
        }

        hideIndicator(save_btn);
        save_btn.removeAttr('disabled');
      }
    });
    return false;
  });
