%fieldset
  %h3 New
  %div
    = text_field_tag "date_start", "", :placeholder => "yy-mm-dd", :class => 'generic-datepicker'
    = text_field_tag "date_end", "", :placeholder => "yy-mm-dd", :class => 'generic-datepicker'

    .clearFix
    = select_tag "availability_type", raw("<option value='2'>New Price</option><option value='1'>Unavailable</option>")
    = text_field_tag "price_per_night", "", :placeholder => "New Price"

    .clearFix
    = button_tag "Cancel", :class => "btn cancel-new-availability"
    = button_tag "Add", :id => "new-availability", :class => "btn primary"

:javascript

  $(".cancel-new-availability").click(function() {
    $("#new-availability-form").hide();
    return false;
  });

  $("#new-availability").click(function() {
    console.log('a');

    $.ajax({
      type: 'POST',
      url: '/places/'+place_id+'/availabilities',
      data: {'a':'b'},
      success: function() {}
    });
    return false;
  });
