%fieldset
  %div
    = text_field_tag "date_start", "", :placeholder => "dd/mm/yyyy", :class => 'small generic-datepicker', :value => Date.today.strftime("%d/%m/%Y")
    to
    = text_field_tag "date_end", "", :placeholder => "dd/mm/yyyy", :class => 'small generic-datepicker', :value => Date.today.strftime("%d/%m/%Y")

    %span.availability-price
      = select_tag "availability_type", raw("<option value='2'>New Price</option><option value='1'>Unavailable</option>"), :class => 'availability_type'
      = text_field_tag "price_per_night", "", :placeholder => "New Price", :class => 'small'

    %div.availability-action
      = button_tag "Cancel", :class => "btn cancel-new-availability"
      = button_tag "Add", :id => "new-availability", :class => "btn primary"

:javascript

  $(".cancel-new-availability").unbind('click').click(function() {
    $("#new-availability-form").hide();
    $("#open-new-availability").removeClass('disabled').removeAttr('disabled');
    return false;
  });

  $("#new-availability").unbind('click').click(function() {
    $.ajax({
      type: 'POST',
      url: '/places/'+place_id+'/availabilities',
      data: {
        'availability_type':$("#availability_type").val(),
        'price_per_night':$("#price_per_night").val(),
        'date_start':$("#date_start").val(),
        'date_end':$("#date_end").val()
      },
      success: function(data) {
        $("#new-availabilities").show().append(data);
        $(".cancel-new-availability").click();
      }
    });
    return false;
  });

  $(".availability_type").unbind('change').change(function() {
    if ($(this).val() == '1') {
      $(this).next().val('').addClass('disabled').attr('disabled', 'disabled');
    } else {
      $(this).next().removeClass('disabled').removeAttr('disabled');
    }
  });
