%div.availabilities-block
  %div{:class => "availability-color #{color_price(a, place)}"}

  %div.data-container
    %span= "#{date_formatted(a['date_start'])} - #{date_formatted(a['date_end'])}"
    %span= price_availability(a, place)
    %span= link_to t("places.wizard.calendar.edit"), '#', :class => 'open-edit-availability hide'

  %div.edit-data-container.hide
    = hidden_field_tag "id", a['id'], :id => "id-#{a['id']}"
    = text_field_tag "date_start", "", :placeholder => "yyyy/mm/dd", :class => 'small from-to-picker', :value => Date.parse(a['date_start']).strftime("%Y/%m/%d"), :id => "date_start-#{a['id']}", "data-date" => :from
    = t("places.wizard.calendar.to")
    = text_field_tag "date_end", "", :placeholder => "yyyy/mm/dd", :class => 'small from-to-picker', :value => Date.parse(a['date_end']).strftime("%Y/%m/%d"), :id => "date_end-#{a['id']}", "data-date" => :to

    %span.availability-price
      = select_tag "availability_type", raw("<option value='1'#{' selected="selected"' if a['availability_type'] == 1}>#{t("places.wizard.calendar.unavailable")}</option><option value='2'#{' selected="selected"' if a['availability_type'] == 2}>#{t("places.wizard.calendar.new_price")}</option>"), :class => 'availability_type', :id => "availability_type-#{a['id']}"

      %span.wrap{:class => "#{' hide' if a['availability_type'] == 1}"}
        %small.currency-sign= currency_sign_of(place.currency)
        = text_field_tag "price_per_night", "", :placeholder => t("places.wizard.calendar.new_price"), :class => "small", :value => a['price_per_night'], :id => "price_per_night-#{a['id']}"

    %div.availability-action
      %div.remove-action
        = link_to t("places.wizard.calendar.remove"), place_availability_path(place.to_param, a['id']), :method => :delete, :confirm => t("places.wizard.calendar.remove_confirmation"), :class => 'delete-availability btn error', :remote => true
      = button_tag t("close"), :class => "btn cancel-edit-availability"
      = button_tag t("save"), :class => "btn primary edit-availability"