%div.availabilities-block
  %div{:class => "availability-color #{color_price(a, place)}"}

  %div.data-container
    %span= "#{date_formatted(a['date_start'])} - #{date_formatted(a['date_end'])}"
    %span= price_availability(a)
    %span= link_to "Edit", '#'
