#details-tab.tab-pane
  .span10.offset1{:style => "margin: 15px auto 20px 68px"}
    .row-fluid
      // Place type, size
      .span2
        .row-fluid
          .span4
            .details_label= t("places.type")
          .span8
            .details_value= @resource.place_type.translated_name
        .row-fluid
          .span4
            .details_label= t("places.size")
          .span8
            .details_value
              = place_size(@resource)

      // Apartment Space (bedrooms, bed, max guests, bathrooms)
      .span3
        - unless @resource.num_bedrooms.blank?
          .row-fluid
            .span8
              .details_label= t("places.bedrooms")
            .span4
              .details_value= @resource.num_bedrooms
        - unless @resource.num_beds.blank?
          .row-fluid
            .span8
              .details_label= t("places.beds")
            .span4
              .details_value= @resource.num_beds
        .row-fluid
          .span8
            .details_label= t("places.guests")
          .span4
            .details_value
              = t('places.guests_range', :count => @resource.max_guests)
        - if @resource.num_bathrooms.present?
          .row-fluid
            .span8
              .details_label= t("places.bathrooms")
            .span4
              .details_value= @resource.num_bathrooms

      // Prices Column (night, week, month)
      .span3
        - if @resource.price_per_night.present?
          .row-fluid
            .span8
              .details_label= t("places.price_per_night")
            .span4
              .details_value= place_price(@resource, :per_night)

        - if @resource.price_per_week.present?
          .row-fluid
            .span8
              .details_label= t("places.price_per_week")
            .span4
              .details_value= place_price(@resource, :per_week)

        - if @resource.price_per_month.present?
          .row-fluid
            .span8
              .details_label= t("places.price_per_month")
            .span4
              .details_value= place_price(@resource, :per_month)

      // Price final cleanup, security deposit, cancellation policy
      .span4
        - if @resource.price_final_cleanup && @resource.price_final_cleanup > 0
          .row-fluid
            .span7
              .details_label= t("places.final_cleanup")
            .span5
              .details_value= place_price(@resource, :final_cleanup)

        - if @resource.price_security_deposit && @resource.price_security_deposit > 0
          .row-fluid
            .span7
              .details_label= t("places.security_deposit")
            .span5
              .details_value= place_price(@resource, :security_deposit)

        .row-fluid
          .span7
            .details_label= t("places.cancellation")
          .span5
            .details_value= cancellation_desc(@resource)

  .span10{:style => "margin:13px auto 20px 217px"}
    .row-fluid
      // We group all amenities into 4 columns
      - amenities = display_place_amenities(@resource)
      - amenities.in_groups_of(4) do |amenity_group|
        .span2
          - amenity_group.each do |amenity|
            .w-left-icon.check= amenity
