#inquire_place.modal.hide.fade
  = form_tag(confirm_inquiry_place_path, {:method => :post, :remote => true, :id => "inquire_form"}) do
    .modal-header
      %a{:href => '#', :class => 'close'}x
      %h3 Tell us about your stay

    .modal-header.optional-section
      %h5 Contact information

    .modal-body
      .clearfix
        %label Name
        - if logged_in?
          = text_field_tag :name, full_name(current_user), :class => 'span6 validate[required]'
        - else
          = text_field_tag :name, nil, :placeholder => "e.g. John Smith", :class => 'span6 validate[required]'
      .clearfix
        %label Email address
        - if logged_in?
          = text_field_tag :email, current_user.email, :class => 'span6 validate[required,custom[email]]'
        - else
          = text_field_tag :email, nil, :placeholder => 'e.g. mail@mail.com', :class => 'span6 validate[required]'
      .clearfix
        %label Mobile phone number
        - if logged_in?
          = text_field_tag :mobile, current_user.phone_mobile, :class => 'span3 validate[required]'
        - else
          = text_field_tag :mobile, nil, :placeholder => "e.g. +65 1111 1111", :class => 'span3 validate[required]'
        = check_box_tag :call_me, 'yes', true
        %span{:style => 'font-size: 13px'} I would like someone to call me

    .modal-header.optional-section{:id => 'optional-header'}
      %h5 
        =image_tag 'blue-arrow-down.png'
        Optional information
        =image_tag 'blue-arrow-down.png'

    .modal-body.optional-body{:id => 'optional'}
      .clearfix
        %label When are you arriving?
        = text_field_tag "date_start", nil, :placeholder => "Click to select date", :class => 'textbox medium from-to-picker', "data-date" => :from
      .clearfix
        %label How long are you staying?
        = select_tag :length_stay, '<option selected="selected">1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>More</option>'.html_safe, :class => 'small'
        = select_tag :length_stay_type, '<option value="weeks">week(s)</option><option selected="selected" value="months">month(s)</option>'.html_safe, :class => 'small'

      .clearfix
        %label Comments / Questions
        = text_area_tag :questions, nil, :rows => 5, :placeholder => 'Please tell us if you have any further questions. Questions can be for this property or for any properties listed by this agent', :class => 'span7'
      
    .modal-footer
      %button.btn.primary=t(:submit)
      %div.btn{ :onclick => "$('#inquire_place').modal('hide')"}= t(:cancel)

:javascript
  $('#optional').hide();
  $('#optional-header').click(function(){
    $('#optional').toggle()
  });
  $('#inquire_place').bind('show', function () {
    $('.alert-message').remove();
    $("#inquire_form").validationEngine({
      promptPosition : "bottomRight:-50,30",
      relative: true      
    });
  })