- if @place.published
  = form_for :place, :url => unpublish_place_path(:id => @place.to_param), :method => :put do |f|
    %button.btn.primary.medium.preview-button.unpublish
      %span= t("places.unpublish")
- else
  = form_for :place, :url => publish_place_path(:id => @place.to_param), :method => :put do |f|
    %button.btn.primary.medium.preview-button.publish
      %span= t("places.publish")
%a.btn.medium.edit{:title => t("places.edit"), :href => "#{wizard_place_path(@place)}"}
  = t("places.edit")
