- if !@results['place_type_count'].empty?
  #types-list
    .header= t(:type)
    .content
      %ul{:class => "inputs-list"}
        - place_type_filters(@results['place_type_count']).each do |p_type, count|
          %li
            %span.filter
              = check_box_tag :place_type, p_type.id, (params[:place_type_ids] && params[:place_type_ids].include?(p_type.id.to_s)), :id => "#{p_type.slug}_filter", :autocomplete => 'off'
              %label{:for => "#{p_type.slug}_filter"}= p_type.translated_name
            %span.right
              %span.label= count