-if logged_in?
  - unless current_user['id'] == @owner['id']
    %a#open-ask-btn.btn.large.primary Ask a question
  #ask-form.hide
    = form_for 'comment', :url => place_comments_path(@place) do |f|
      %div
        - unless current_user.avatar.nil?
          %img{:src => current_user.avatar, :style => "width:60px; height:60px;"}
        - else
          = placehold(60,60)
        = f.text_area :comment, :rows => 3, :class => "span10"
      %div.availability-action
        = button_tag "Cancel", :id => 'ask-cancel', :class => 'btn'
        = button_tag "Submit", :id => 'ask-btn', :class => "btn primary"
-else
  %a.btn.large.primary{:href => signup_path}
    Ask a question
%br
%br
%section.item-questions
  - @comments.each do |comment|
    %div.left
      .user_box
        .user_photo= placehold(40,40)
        .user_data
          .user_name= link_to 'Jonathan Green', '#'
          .user_role
            User
      %div.p
        = comment['comment']

      .clearFix
      %div.right
        .user_box
          .user_photo= placehold(40,40)
          .user_data
            .user_name= link_to 'Jonathan Green', '#'
            .user_role
              User
        %div.p
          Answer to your question

:javascript
  $("#open-ask-btn").click(function() {
    $(this).hide();
    $("#ask-form").show();
  });

  $("#ask-cancel").click(function() {
    $("#ask-form").hide();
    $("#open-ask-btn").show();
  });

  $("#ask-btn").click(function() {
  });

