- places.each do |place|
  .items-gallery.results
    .span6
      .box
        .clearfix
          .feat
            .thumb
              %a{:href => "#"}
                = image_tag(place['photos'].empty? ? "http://placehold.it/150x90" : place['photos'][0]['photo']['small'])
          .side    
            .thumb
              %a{:href => "#"}
                = image_tag((!place['photos'].empty? && place['photos'][1] ? place['photos'][1]['photo']['small'] : "http://placehold.it/90x60"), :style => "width:90px;height:60px")
            .thumb
              %a{:href => "#"}
                = image_tag((!place['photos'].empty? && place['photos'][2] ? place['photos'][2]['photo']['small'] : "http://placehold.it/90x60"), :style => "width:90px;height:60px")
        .desc.clearfix
          %h3.title
            = link_to place['title'], place_path(place['id'])
          .clearfix
            .property.data-block
              .title
                .type.apartment 
                  = place['place_type']['name']
              .micro
                = place['size_sqf']
                %sup 2 

            .price.data-block
              .title.figure= "$#{place['price_per_night']}"
              .micro Per night
