- places.each do |place|
  .items-gallery.results
    .span6
      .box
        .clearfix
          .feat
            .thumb{:style => "background-color:#3e3e3e"}= image_tag(place['photos'].empty? ? "http://placehold.it/216x144" : place['photos'][0]['photo']['medium'])
          .side    
            .thumb{:style => "background-color:#3e3e3e"}= image_tag((!place['photos'].empty? && place['photos'][1] ? place['photos'][1]['photo']['small'] : "http://placehold.it/106x70"))
            .thumb{:style => "background-color:#3e3e3e"}= image_tag((!place['photos'].empty? && place['photos'][2] ? place['photos'][2]['photo']['small'] : "http://placehold.it/106x70"))

        .desc.clearfix
          %h3.title
            = link_to place['title'], place_path(place['id'])
          .clearfix
            .property.data-block
              .title
                .type.apartment 
                  = place['place_type']['name']
              .micro
                - if "ft<sup>2</sup>".casecmp(get_pref_size_unit) == 0
                  .label{:style => "color:black; text-transform:lowercase;"}
                    = raw("#{number_with_precision place['size_sqf'], :strip_insignificant_zeros => true, :precision => 1} ")
                    =t(:square_feet_short)
                -else
                  .label{:style => "color:black; text-transform:lowercase;"}
                    = raw("#{number_with_precision place['size_sqm'], :strip_insignificant_zeros => true, :precision => 1} ") 
                    =t(:square_meters_short)

            .price.data-block
              .title.figure= "#{get_pref_currency}#{place['price_per_night']}"
              .micro=t(:per_night)
