- if places
  - places.each do |place|
    %li
      .thumb.data-block
        = image_tag(place['photos'].empty? ? "http://placehold.it/150x100" : place['photos'][0]['photo']['medsmall'])
      .info  
        %h3.title
          = link_to place['title'], place_path(place['id'])
        .people.data-block
          .profile-pic
            = image_tag(place['user']['avatar'].nil? ? "http://placehold.it/40x40" : place['user']['avatar'], :style => "width:40px; height:40px")
          .details
            .name
              = link_to "#{place['user']['first_name'][0]}. #{place['user']['last_name']}", user_path(place['user']['id']), :class => 'title'
              .micro
                .type.verified=t(:agent)

        .property.data-block
          .title
            .type.apartment 
              = place['place_type']['name'] 
          .micro
            - if "ft<sup>2</sup>".casecmp(get_pref_size_unit) == 0
              .label{:style => "color:black; text-transform:lowercase;"}
                = raw("#{number_with_precision place['size_sqf'], :strip_insignificant_zeros => true, :precision => 1} ")
                =t(:square_feet_short)
            -else
              .label{:style => "color:black; text-transform:lowercase;"}
                = raw("#{number_with_precision place['size_sqm'], :strip_insignificant_zeros => true, :precision => 1} ") 
                =t(:square_meters_short)

      .price.data-block
        .figure= "#{get_pref_currency}#{place['price_per_night']}"
        .micro= t(:per_night)
- else
  %li
    .thumb.data-block
      =t(:sorry_no_matches)
