- my_places ||= false
%li{:class => "place_#{place['id']}"}
  .thumb.data-block
    =  link_to seo_place_path(place) do
      = image_tag(place['photos'].blank? ? "http://placehold.it/150x100" : place['photos'][0]['photo']['medsmall'])
  .info  
    %h3.title
      - unless my_places
        = render :partial => 'button_favorite', :locals => { :place_id => place['id'], :favorited => place['favorited'] }
      = link_to place['title'], seo_place_path(place)

    .property.data-block
      .title
        .type.house 
          = place['place_type']['name']
        .type.size
          - if get_current_size_unit == "sqf"
            = raw("#{number_with_precision place['size_sqf'], :strip_insignificant_zeros => true, :precision => 1} ")
            =t(:square_feet_short)
          -else
            = raw("#{number_with_precision place['size_sqm'], :strip_insignificant_zeros => true, :precision => 1} ")
            =t(:square_meters_short)

    .property2.data-block
      .title
        - if !place['num_bedrooms'].nil?
          .type.bedroom
            = place['num_bedrooms']
            = t(:bedroom)
        - if !place['num_bathrooms'].nil?
          .type.bathroom
            = place['num_bathrooms']
            = t(:bathroom)
  .data-block.last-child
    .price
      .figure= "#{get_pref_currency}#{place['price_per_month']}" if place['price_per_month'].present?
      .micro= t(:per_month) if place['price_per_month'].present?
    - if my_places
      .manage
        %span.edit_delete_buttons
          %a.btn.large.small{:title => t(:edit_place), :href => "#{wizard_place_path(place['id'])}"}
            = t(:edit_place)
          = link_to t(:delete_place), place_path(place['id']), :method => :delete,  :class => 'btn large small', :confirm => t(:are_you_sure)
        - if place['published']
          %span.label.place_status.label-success=  t(:listed)
        - else
          %span.label.place_status=  t(:invisible)
    