.search-bar-wrapper
  .search-bar-container
    .search-bar
      .float-left
        %h2{:style => 'display:inline; '}
          = city_name(@city_id)
        = hidden_field_tag :currency, get_current_currency
        = hidden_field_tag :city_id, @city_id
        %br
        #num_search_results
          %span.results_count= @results['results']
          = t(:results)
        %br
        = #link_to "Not going to #{city_name(@city_id)}?", root_path, {:style => 'color: #ccc; display:inline; font-size: 12px'}

      .float-right
        .filters
          = select_tag :guests, options_for_select(max_guest_options), :style => "width:100px", :autocomplete => 'off'
          = text_field_tag "check_in", @results['check_in'], :placeholder => t(:arriving_on), :class => 'textbox big check-in-picker', "data-date" => :from, 'autocomplete' => 'off'
          = "-"
          = text_field_tag "check_out", @results['check_out'], :placeholder => t(:departing_on), :class => 'textbox big check-out-picker', "data-date" => :to, 'autocomplete' => 'off'

        .views
          .sorting
            = t(:sort_by)
            = select_tag :sort, options_for_select(sort_options, 'price_highest'), :class => 'medium', :autocomplete => 'off'
          .toggle
            = link_to '', '#', :class => 'disp-list current', :id => 'disp-list'
            = link_to '', '#', :class => 'disp-gallery',      :id => 'disp-gallery'
