.share_place_modal.hide.modal.fade
  .modal-header
    %h3=t(:successfully_added_to_your_favorites)
  .modal-body
    %h4=t(:share_this_place_with_your_friends)
    .sharing_options
      %span.st_facebook_large{:displayText=>'Facebook', :st_url => "#{seo_place_path(place)}", :st_title => place['title'], :st_summary => place['description']}
      %span.st_twitter_large{:displayText=>'Tweet', :st_url => "#{seo_place_path(place)}", :st_title => place['title'], :st_summary => place['description']}
      %span.st_googleplus_large{:displayText=>'Google +1', :st_url => "#{seo_place_path(place)}", :st_title => place['title'], :st_summary => place['description']}
      %span.st_stumbleupon_large{:displayText=>'StumbleUpon', :st_url => "#{seo_place_path(place)}", :st_title => place['title'], :st_summary => place['description']}
      %span.st_tumblr_large{:displayText=>'Tumblr', :st_url => "#{seo_place_path(place)}", :st_title => place['title'], :st_summary => place['description']}
  .modal-footer
    %button.btn.btn-primary{:onclick => "$('.modal').modal('hide'); return false;"}=t(:no_thanks)