.wizard-aside
  %ul#wizard-selector
    %li#general
      .indicator
        = image_tag('/images/check-disabled.png')
      %a{:href => "#1"}
        General Info
    %li#photos
      .indicator
        = image_tag('/images/check-disabled.png')
      %a{:href => "#2"}
        Photos
    %li#amenities
      .indicator
        = image_tag('/images/check-disabled.png')
      %a{:href => "#3"}
        Amenities
    %li#calendar
      .indicator
        = image_tag('/images/check-disabled.png')
      %a{:href => "#4"}
        Calendar
    %li#price
      .indicator
        = image_tag('/images/check-disabled.png')
      %a{:href => "#5"}
        Price and Conditions

  .clearfix
  %a.btn.primary.large.preview-button{:href => preview_place_path(@place)}
    %span
      Preview
