.wizard-aside
  %ul#wizard-selector
    %li#general
      .indicator#generalInfo
        = image_tag('/images/check-disabled.png')
      %a{:href => "#1", :title => t(:general_information), :class => 'active'}
        = t(:general_info)
    %li#photos
      .indicator#photoInfo
        = image_tag('/images/check-disabled.png')
      %a{:href => "#2", :title => t(:photos)}
        = t(:photos)
    %li#amenities
      .indicator#amenitiesInfo
        = image_tag('/images/check-disabled.png')
      %a{:href => "#3", :title => t(:amenities)}
        = t(:amenities)
    %li#price
      .indicator
        = image_tag('/images/check-disabled.png')
      %a{:href => "#4", :title => t(:price_and_conditions)}
        = t(:price_and_conditions)        
    %li#calendar
      .indicator
        = image_tag('/images/check.png')
      %a{:href => "#5", :title => t(:calendar)}
        = t(:calendar)

  .clearfix
  - unless @place.published
    %a.btn.primary.large.preview-button{:href => '#', :id => "preview_button", :onclick => "setTimeout(goToPreview(#{@place.id}), 30000)"}
      %span
        = t(:preview)
  - else
    %a.btn.primary.large.preview-button{:href => place_path(@place), :id => "preview_button"}
      %span
        = t(:back_to_place_details)

:javascript
  function goToPreview(place) {
    window.location = '/places/' + place + '/preview';
  }
