.wizard-aside-wrapper
  .wizard-aside
    %ul.nav.nav-tabs.nav-stacked#wizard_tabs
      %li.active
        .indicator#generalInfo
          = image_tag('check-disabled.png')
        %a{:href => "#1", :title => t(:general_information)}
          = t(:general_info)
      %li
        .indicator#photoInfo
          = image_tag('check-disabled.png')
        %a{:href => "#2", :title => t(:photos)}
          = t(:photos)
      %li
        .indicator#amenitiesInfo
          = image_tag('check-disabled.png')
        %a{:href => "#3", :title => t(:amenities)}
          = t(:amenities)
      %li
        .indicator#priceInfo
          = image_tag('check-disabled.png')
        %a{:href => "#4", :title => t(:price_and_conditions)}
          = t(:price_and_conditions)
      %li
        .indicator
          = image_tag('check.png')
        %a{:href => "#5", :title => t(:calendar)}
          = t(:calendar)

    .actions
      - unless @place.published
        %a.btn.primary.large.preview-button{:href => '#', :id => "preview_button", :onclick => "goToPreview(#{@place.id})"}
          %span
            = t(:preview)
      - else
        %a.btn.btn-info.btn-large.preview-button{:href => '#', :id => "preview_button", :onclick => "goToPlace(#{@place.id})"}
          %span
            = t(:back_to_place_details)

:javascript
  var timeCount = 0;
  $(document).ready(function() {
    $('#wizard_form input[type=text].autosave, #wizard_form textarea.autosave, #wizard_form select.autosave').focus(function() {
      timeCount = 3000;
    });
  });

  function goToPreview(placeId) {
    setTimeout( function() {
      window.location = '/places/' + placeId + '/preview';
    }, timeCount)
  }
  function goToPlace(placeId) {
    setTimeout( function() {
      window.location = '/places/' + placeId;
    }, timeCount)
  }
