.panel-wrapper
  .clearfix
  .photo_wrapper

  .clearfix
  .photos_wrapper
    %p= t(:you_can_sort)
      
    .primary_marker
      = t(:primary)
    .row
      .span12
        %ul.gallery#photos_list
          - @photos = @place.photos
          = render 'photo_list'
        .clearfix

  #photoQueue

  .upload_wrapper
    %input{:type => 'file', :name => 'photo_uploader', :class => 'photo_uploader', :value => 'Select files', :id => "photo_uploader" }

    %p= t(:upload_photo_hint)

.arrows.clearfix
  .float-left
    %a.btn.primary{:href => "javascript:switchToPanel('#1')"}=raw t(:previous_step)
  .float-right
    %a.btn.primary{:href => "javascript:switchToPanel('#3')"}=raw t(:next_step)
:javascript

  var afterSort = function(event, ui) {

    if($('#photos_list li').size() > 0) {
      $('.photos_wrapper').show();
    } else {
      $('.photos_wrapper').hide();
    }

    $('#photos_list li').removeClass("active");
    $('#photos_list li:first').addClass("active");

    $('#photos_list li').hover(function() {
      $(this).find(".photo_action").show();
    }, function() {
      $(this).find(".photo_action").hide();      
    });

    $('#photos_list li').click(showPhoto);    
  };

  var deletePhoto = function(elem) {
    if(confirm("#{t(:are_you_sure_delete_photo)}")) {
      elem.parent().parent().fadeOut('slow', function(){
        $(this).remove();
        afterSort();
        syncPhotos();
        showLatestPhoto();
      });

    }
  };

  var showPhoto = function() {
    setPhoto($(this).find('img'));
  }

  var showLatestPhoto = function() {
    var photo = $('#photos_list li img').last();
    if(photo.size() > 0) {
      setPhoto(photo);
    } else {
      $('.photo_wrapper').empty();
    }
  }

  var setPhoto = function(photo) {
    $('.photo_wrapper').empty();

    var img_wrapper = $("<div class='active-photo'></div>");

    var large_photo = photo.clone();
    large_photo.attr('src', large_photo.attr('data-large'));
    img_wrapper.append(large_photo);

    var large_photo_label_text = "";

    if(large_photo.attr('data-name') != "") {
      large_photo_label_text = large_photo.attr('data-name');
    } else {
      large_photo_label_text = "#{t(:click_here_to_add_caption)}";
    }

    var large_photo_label = $("<div class='active-label' data-image-id='" + large_photo.attr("data-id") + "'>" + large_photo_label_text + "</div>");

    img_wrapper.append(large_photo_label);

    $('.active-label').inlineEdit({
      placeholder: '#{t(:click_here_to_add_caption)}',
      save: function(e, data) {
        trunc = data.value
        if (data.value.length > 20) {
          trunc = data.value.substring(0, 20) + '...';
        }
        img_div = $("#image-" + $(this).attr('data-image-id'));
        img_div.find('img.photo').attr('data-name', data.value);
        img_div.find('img.photo').attr('data-trunc-name', trunc);
        img_div.find('~ .photo_title').html(trunc);
        syncPhotos();
      }
    });

    $('.photo_wrapper').append(img_wrapper);
  }

  var photoMetadata = function() {
    var photoArray = [];
    $('#photos_list li img').each(function() {
      var imgElem = $(this);
      var img = {};
      img.name = imgElem.attr('data-name');
      img.small = imgElem.attr('data-small');
      img.medsmall = imgElem.attr('data-medsmall');
      img.medium = imgElem.attr('data-medium');
      img.large = imgElem.attr('data-large');
      img.tiny = imgElem.attr('data-tiny');
      img.original = imgElem.attr('data-original');
      img.id = imgElem.attr('data-id');
      img.filename = imgElem.attr('data-filename'); 
      photoArray.push({photo: img});
    });

    return photoArray;
  };

  var syncPhotos = function() {
    $.ajax({
      type: 'PUT',
      url: '/places/#{@place.id}.json',
      data: {place: {photos: JSON.stringify(photoMetadata())}}, 
      success: function() {
        validatePanels();
      }
    });
  };

  var uploadify_script_data = {};
  var csrf_token = $('meta[name=csrf-token]').attr('content');
  var csrf_param = $('meta[name=csrf-param]').attr('content');

  $(function() {

    $('#photo_uploader').uploadify({
      'uploader'        : '/javascripts/uploadify/uploadify.swf',
      'script'          : "/places/#{@place.id}/upload_photo",
      'cancelImg'       : '/images/close.png',
      'buttonImg'       : '/images/browse-button.png',
      'auto'            : true,
      'multi'           : true,
      'fileDataName'    : 'file',
      'fileDesc'        : 'Photos',
      'buttonText'      : 'Browse222',
      'width'           : 400,
      'height'          : 200,
      'queueID'         : 'photoQueue',
      'wmode'           : 'transparent',
      'fileExt'         : '*.jpg;*.png',
      'scriptData'      : { 'photo_album_id' : #{@place.id}, '_method' : 'post', 'csrf_token' : encodeURI(csrf_param), '#{Rails.application.config.session_options[:key]}' : '#{cookies[Rails.application.config.session_options[:key]]}', 'token' : '#{current_token}' , 'format': 'json' },
      'onComplete'  : function(event, ID, fileObj, response, data) {
        $('#photos_list').html(response);
        afterSort();
        showLatestPhoto();
        validatePanels();        
      }
    });

    $('#photos_list').sortable({ grid: [8,2], stop: function() {
        afterSort();
        syncPhotos();
      }
    });

    afterSort();
    showLatestPhoto();
  });

