.panel-wrapper
  %fieldset
    .input
      = f.label :currency, 'Currency'
      = f.select :currency, currencies_select, {}, :class => 'validate[required]'
  %h2.title Pricing
  %fieldset      
    .input
      = f.label :price_per_night
      %span.currency-sign-id= currency_sign_of(@place.currency)
      = f.text_field :price_per_night, :class => "validate[required] span2 autosave"
    .input
      = f.label :price_per_week
      %span.currency-sign= currency_sign_of(@place.currency)
      = f.text_field :price_per_week, :class => "span2 autosave"
      %span#estimated_amount_weekly
    .input
      = f.label :price_per_month
      %span.currency-sign= currency_sign_of(@place.currency)
      = f.text_field :price_per_month, :class => "span2 autosave"
      %span#estimated_amount_monthly
  %h2.title Additional Costs
  %fieldset
    .input
      = f.label :price_final_cleanup, 'Final Cleanup'
      %span.currency-sign= currency_sign_of(@place.currency)
      = f.text_field :price_final_cleanup, :class => "span2 autosave"
    .input
      = f.label :price_security_deposit, 'Security Deposit'
      %span.currency-sign= currency_sign_of(@place.currency)
      = f.text_field :price_security_deposit, :class => "span2 autosave"
  %h2.title Terms
  %fieldset
    .input
      = f.label :check_in_after, 'Check In After'
      = f.select :check_in_after, time_array, {}, :class => "span2 autosave"
    .input
      = f.label :check_out_before, 'Check Out Before'
      = f.select :check_out_before, time_array, {}, :class => "span2 autosave"

    .input
      = f.label :minimum_stay_days, 'Minimum Stay Days'
      = f.text_field :minimum_stay_days, :class => "span2 autosave"
    .input
      = f.label :maximum_stay_days, 'Maximum Stay Days'
      = f.text_field :maximum_stay_days, :class => "validate[required] span2 autosave"
    .input
      = f.label :house_rules
      = f.text_area :house_rules, :class => "span8 autosave", :rows => 5
    .input
      = f.label :cancellation_policy, 'Cancellation Policy'
      = f.select :cancellation_policy, [['full refund 1 day prior to arrival, except fees', 'flexible'],['full refund 5 days prior to arrival, except fees', 'moderate'],['50% refund up until 1 week prior, except fees', 'strict']], {}, :class => 'validate[required] autosave'

.arrows.clearfix
  .float-left
    %a.btn.primary{:href => "javascript:switchToPanel('#5')"}=raw t(:previous_step)
  .float-right
    %a.btn.primary{:href => preview_place_path(@place)}=raw t(:preview_button)

:css
  #estimated_amount_weekly, #estimated_amount_monthly {font-size: 12px;}
