%small= "(#{t(:select_one)})"
.clearfix

.panel-wrapper.amenities.well
  %h3= t(:place_and_building_facilities)
  %fieldset
    - amenities_group_1.each do |a|
      %label.amenity{:for => "place_#{a[1]}"}
        = check_box_tag "place[#{a[1]}]", @place[a[1].to_s], @place[a[1].to_s]
        = a[0]
  
  %h3= t(:furnishings)
  %fieldset
    - amenities_group_2.each do |a|
      %label.amenity{:for => "place_#{a[1]}"}
        = check_box_tag "place[#{a[1]}]", @place[a[1].to_s], @place[a[1].to_s]
        = a[0]

  %h3= t(:sports_and_recreation)
  %fieldset
    - amenities_group_4.each do |a|
      %label.amenity{:for => "place_#{a[1]}"}
        = check_box_tag "place[#{a[1]}]", @place[a[1].to_s], @place[a[1].to_s]
        = a[0]



  %h3= t(:miscellaneous)
  %fieldset
    - amenities_group_3.each do |a|
      %label.amenity{:for => "place_#{a[1]}"}
        -if a[0] == 'Smoking Allowed'
          = link_to '?', '#', :class => 'tooltip', :title => raw(t(:do_you_allow_smoking))
          = check_box_tag "place[#{a[1]}]", @place[a[1].to_s], @place[a[1].to_s]
          = a[0]
        -else
          = check_box_tag "place[#{a[1]}]", @place[a[1].to_s], @place[a[1].to_s]
          = a[0]

.arrows.clearfix
  .float-left
    %a.btn.primary{:href => "javascript:switchToPanel('#2')"}=raw t(:previous_step)
  .float-right
    %a.btn.primary{:href => "javascript:switchToPanel('#4')"}=raw t(:next_step)
