.panel-wrapper
  %fieldset
    .span3.offset8
      .input.required
        = f.label :currency, t(:currency), :style => "width:auto;margin-right:10px;"
        = f.select :currency, currencies_select, {}, :class => 'validate[required]'
  %h2.title=t(:pricing)
  %fieldset      
    .input.required
      = f.label :price_per_night, t(:price_per_night)
      %span.currency-sign-id= currency_sign_of(@place.currency)
      = f.text_field :price_per_night, :class => "validate[required,custom[number],min[1]] span2 autosave"
    .input
      = f.label :price_per_week, t(:price_per_week)
      %span.currency-sign= currency_sign_of(@place.currency)
      = f.text_field :price_per_week, :class => "validate[custom[number],min[1]] span2 autosave"
      %span#estimated_amount_weekly
    .input
      = f.label :price_per_month, t(:price_per_month)
      %span.currency-sign= currency_sign_of(@place.currency)
      = f.text_field :price_per_month, :class => "validate[custom[number],min[1]] span2 autosave"
      %span#estimated_amount_monthly
  %h2.title=t(:additional_costs)
  %fieldset
    .input
      = f.label :price_final_cleanup, t(:final_cleanup)
      %span.currency-sign= currency_sign_of(@place.currency)
      = f.text_field :price_final_cleanup, :class => "span2 autosave"
      = link_to '?', '#', :rel => 'twipsy', 'data-original-title' => raw(t(:final_cleanup_hint))      
    .input
      = f.label :price_security_deposit, t(:security_deposit)
      %span.currency-sign= currency_sign_of(@place.currency)
      = f.text_field :price_security_deposit, :class => "span2 autosave"
      = link_to '?', '#', :rel => 'twipsy', 'data-original-title' => raw(t(:security_deposit_hint))            
  %h2.title= t(:terms)
  %fieldset
    .input
      = f.label :check_in_after, t(:check_in_before)
      = f.select :check_in_after, time_array, {}, :class => "span2 autosave"
    .input
      = f.label :check_out_before,  t(:check_out_before)
      = f.select :check_out_before, time_array, {}, :class => "span2 autosave"

    .input
      = f.label :minimum_stay_days, t(:minimum_stay)
      = select 'days', 'minimum_stay', [[t(:no_minimum), 1], [t(:minimum_of), 0]]
      = f.text_field :minimum_stay_days, :class => "span2 autosave"
      %span.help-inline= t(:nights)
    .input
      = f.label :maximum_stay_days, t(:maximum_stay)
      = select 'days', 'maximum_stay', [[t(:no_maximum), 1], [t(:maximum_of), 0]]
      = f.text_field :maximum_stay_days, :class => "span2 autosave"
      %span.help-inline= t(:nights)
    .input.required
      = f.label :cancellation_policy, t(:cancellation_policy)
      = f.select :cancellation_policy, cancellation_policies_select, {}, :class => 'validate[required] autosave'
      = link_to '?', '#', :rel => 'twipsy-link',
        :title => "#{t(:head_cancellation)}<br><br><b>#{t(:flexible)}</b>: #{t(:flexible_cancellation)}<br><b>#{t(:strict)}</b>: #{t(:strict_cancellation)}<br><br> #{t(:see_our)} <a href='#' data-controls-modal='cancellation_policy_text' data-backdrop='static'>#{t(:cancellation_policy)}</a> #{t(:for_more_info)}."
    .input
      = f.label :house_rules, t(:house_rules)
      = f.text_area :house_rules, :class => "span8 autosave", :rows => 5


.arrows.clearfix
  .float-left
    %a.btn.primary{:href => "javascript:switchToPanel('#3')"}=raw t(:previous_step)
  .float-right
    %a.btn.primary{:href => "javascript:switchToPanel('#5')"}=raw t(:next_step)

#cancellation_policy_text.modal.hide
  .modal-header
    %h3=t(:cancellation_policy)
  .modal-body
    %p How is the Place's price calculated?

    %p SquareStays pricing depends on the length of your reservation. Reservations can be daily, weekly or monthly.
    %ul
      %li <b>Daily</b>: Reservations for less than a week
      %li <b>Weekly</b>: Reservations longer than a week but shorter than a month
      %li <b>Monthly</b>: Reservations longer than a month

    %p Property owners and agents can sometimes offer discount rates for weekly and monthly stays. If your reservation is weekly or monthly, and the agent has introduced a discount, you will be charged at the discounted price for all the days of your stay!

    %p What cancellation policies are available?

    %p There are 2 cancellation policies on SquareStays:
    %ul
      %li 
        %b Flexible 30-Day Cancellation Policy
        %p If you wish to cancel your SquareStays reservation at least 30 days before the reservation date, you will not be charged and any security deposit you have paid will be refunded to you. If you wish to cancel your SquareStays reservation less than 30 days but at least 7 days before the reservation date, you will be charged 10% of the security deposit. If you cancel your SquareStays reservation less than 7 days before the reservation date, you will be charged the entire security deposit.
      %li
        %b Strict 7-Day Cancellation Policy
        %p If you wish to cancel your SquareStays reservation at least 7 days before the reservation date, you will be charged 10% of the security deposit. If you cancel your SquareStays reservation less than 7 days before the reservation date, you will be charged the entire security deposit.
    .modal-footer
      %button.btn{:onclick => "$('#cancellation_policy_text').modal('hide'); return false;"}= t(:close)

:javascript
  $('#place_currency').val("#{@place.currency}");
  $(".currency-sign, .currency-sign-id").html('#{currency_sign_of(@place.currency)}');

:css
  #estimated_amount_weekly, #estimated_amount_monthly {font-size: 12px;}
  #cancellation_policy_text {width: 700px; height: 500px; overflow-y: scroll; overflow-x: hidden;}
