.panel-wrapper.amenities
  %h2.title= t(:amenities)
  %fieldset
    - amenities_group_1.each do |a|
      %label.amenity
        = f.check_box a[1], :value => 'true'
        =a[0]          


  
  %h2.title= t(:furnishings)
  %fieldset
    - amenities_group_2.each do |a|
      %label.amenity
        = f.check_box a[1], :value => 'true'
        =a[0]          



  %h2.title= t(:miscellaneous)
  %fieldset
    - amenities_group_3.each do |a|
      %label.amenity
        = f.check_box a[1], :value => 'true'
        -if a[0] == 'Smoking Allowed'
          = a[0]
          <a href='#' rel='twipsy' data-original-title='Do you allow smoking in your apartment/balcony?'>?</a>
        -else
          =a[0]

.arrows.clearfix
  .float-left
    %a.btn.primary{:href => "javascript:switchToPanel('#2')"}=raw t(:previous_step)
  .float-right
    %a.btn.primary{:href => "javascript:switchToPanel('#4')"}=raw t(:next_step)
