.panel-wrapper
  %h2.title
    = t(:list_your_place)
  %fieldset
    .clearfix
      .input
        = f.label :city_id, 'What city is your place in?'
        = f.select :city_id, cities_select, :class => "validate[required] span6"
      .input
        = f.label :title, t(:title)
        = f.text_field :title, :class => "validate[required] span7"

      .input
        = f.label :place_type_id, t(:place_type)
        = f.select :place_type_id, place_types_select
      .input
        = f.label :num_bedrooms, t(:how_many_bedrooms)
        = f.text_field :num_bedrooms, :class => "validate[required,custom[integer]] span2"
      .input
        = f.label :max_guests, t(:max_guests)
        = f.text_field :max_guests, :class => "validate[required,custom[integer]] span2"
      %br.clearfix
      %br.clearfix
      .input
        %label.reset-width
          = f.check_box :terms
          = t(:i_agree_to_the)
          = link_to t(:terms_and_conditions), '/terms-and-conditions', :target => :blank        

.arrows.clearfix
  .coda-nav-right
    %button.btn.primary{:type => "submit", :id => "submit_button"}=raw t(:save_and_continue)

:javascript

  $(function() {

    function validateStep1Form() {

      if($('#place_title').val() && $('#place_num_bedrooms').val() && $('#place_max_guests').val() && $('#place_terms').attr("checked") == "checked") {
        $('#submit_button').attr('disabled', null);
      } else {
        $('#submit_button').attr('disabled', 'true');
      }

    }

    //$('#place_title').charCounter(40, {container: "<em></em>",classname: "counter", format: "(%1)"});    

    $('form input').change(function(){
      validateStep1Form();
    }).keypress(function() {
      validateStep1Form();
    });
    validateStep1Form();

  });
