/ TODO: DELETE THIS PAGE? Not used.
%ul.breadcrumb
  %li
    = link_to @place['title'], place_path(@place["id"])
    %span.divider= "/"
  %li
    = link_to t("places.rent_word"), rent_place_path(@place["id"])
    %span.divider= "/"
  %li.active
    =t("places.availabilities.availability")

.row
  .span16
    = form_for :confirm_rental, :url => confirm_rental_place_path, :method => :post do |f|
      .panel
        .panel-wrapper
          %h2.title
            = t("places.availabilities.payment_details")
      .span12.right
        %table.borderless
          %tr
            %td.label_detail
              #{t("places.availabilities.length_of_stay")}
            %td.user_detail
              = @availability['total_days'] 
              #{t("places.availabilities.total_days")}
          %tr
            %td.label_detail
              #{t("places.availabilities.sub_total")}
            %td.user_detail
              = number_to_currency @availability['sub_total'], :unit => currency_sign_of(@availability['currency']), :strip_insignificant_zeros => true
          %tr
            %td.label_detail
              #{t("places.availabilities.price_final_cleanup")}
            %td.user_detail
              = number_to_currency @availability['price_final_cleanup'], :unit => currency_sign_of(@availability['currency']), :strip_insignificant_zeros => true
          %tr
            %td.label_detail
              #{t("places.availabilities.price_security_deposit")}
            %td.user_detail
              = number_to_currency @availability['price_security_deposit'], :unit => currency_sign_of(@availability['currency']), :strip_insignificant_zeros => true
      .clearfix
      .panel
        .panel-wrapper
          %h2.title
            = t("users.billing_address")

      .span12.right
        - if !@user['address'].nil?

          %p= "#{t("places.availabilities.billed_address")}:"
          %p= link_to t("places.availabilities.change_address"), "", { "data-controls-modal"=>"address-modal", "data-backdrop"=>"static", :class => "change_address"}

          %table.borderless
            %tr
              %td.label_detail
                #{t("addresses.country")}
              %td.user_detail
                = @user['address']['country']
            %tr
              %td.label_detail
                #{t("addresses.city")}
              %td.user_detail
                = @user['address']['city']
            %tr
              %td.label_detail
                #{t("addresses.street")}
              %td.user_detail
                = @user['address']['street']
            %tr
              %td.label_detail
                #{t("addresses.zip_code")}
              %td.user_detail
                = @user['address']['zip']
        - else
          %p= link_to t("places.availabilities.add_address"), "", { "data-controls-modal"=>"address-modal", "data-backdrop"=>"static", :class => "change_address"}
        .clearfix

      = f.hidden_field(:check_in, :value => params[:check_in])
      = f.hidden_field(:check_out, :value => params[:check_out])

      .row
        .span4.right
          - if @user['address'].nil?
            %a.btn.primary.large.preview-button{:href => '#', :class => 'tooltip', 'data-original-title' => 'Billing Address is required', :disabled => 'disabled'}
              %span= t("places.availabilities.confirm_rental")
          - else
            %button.btn.large.primary.confirm_rental= t("places.availabilities.confirm_rental")


#address-modal.modal.hide.fade
  = form_for :address, :url => user_change_address_path(@user['id']), :method => :put do |f|
    .modal-header
      = link_to "x", '#', :class => "close"
      %h3= t("places.availabilities.change_address")
    .modal-body
      .row
        .span10

          -# FIXME: coded_errors_for is not working
          -# = coded_errors_for @address
          .input
            = f.label :street, t("addresses.street")
            .private
            = f.text_field :street
          .input
            = f.label :city, t("addresses.city")
            .public
            = f.text_field :city
          .input
            = f.label :country, t("addresses.country")
            .public
            = f.country_select(:country, ["Singapore", "Hong Kong", "Kuala Lumpur"], :include_blank => true)
          .input
            = f.label :zip, t("addresses.zip_code")
            .private
            = f.text_field :zip
            = f.hidden_field :id

            = f.hidden_field(:place_id, :value => params[:id])
            = f.hidden_field(:check_in, :value => params[:check_in])
            = f.hidden_field(:check_out, :value => params[:check_out])

          
    .modal-footer
      = button_tag 'Save', :class => 'btn primary',  "data-loading-text" => "Saving address...", :id => "save-btn"
