.row
  .span16
    %h2
      = t(:success)
    %p
      You have successfully inquired on
      = @place['title']
      to
      = full_name @owner
    %p
      Typically, you should get a reply with 24-48 hours.
    %p
      If you have any questions for 
      = full_name @owner
      , you can ask them below. Similarly, you may get questions back from
      = "#{full_name @owner}. "
      Please be sure to check SquareStays in the next days for updates!
                  
.row
  .span16
    = form_for 'message', :url => new_message_path(@owner['id']), :html => {:class => 'respond-form show'} do |f|
      %span.float-left
        - unless current_user.avatar.nil?
          %img{:src => current_user.avatar, :style => "width:60px"}
        - else
          = placehold(60,60)

      .span12
        = hidden_field_tag 'place_id', params[:id]
        = f.text_area :message, :rows => 4, :class => "span12"
        %div.float-right{:style => "margin-top: 10px;"}
          = button_tag "Cancel", :class => 'btn respond-cancel'
          = button_tag "Submit", :class => "btn primary respond-btn"
