%section.clearfix
  %h1 Search
  .row
    .span12
      .search-bar
        .float-right
          .toggle
            %a{:href => "#", :class => "disp-gallery"} 
            %a{:href => "#", :class => "disp-list current" }
          .clearfix
          .controls
            = select_tag :guests, options_for_select(max_guest_options), :class => 'medium' 
            Sort by 
            = select_tag :sort, options_for_select(sort_options), :class => 'medium' 
        %h2
          Singapore, Singapore
        .clearfix
          234 Results
      .results        
        .header
          .title
            %h4 About 1,430 results found for "keyword"


        .alert-message.info No Results Found.          
        
        = render :partial => 'search_results'
                  
                         
    .span4
      .search-aside
        .toggle.hidden
          %button{ :class=>"btn primary" } Buy
          %button{ :class=>"btn" } Get
          %button{ :class=>"btn" } Rent
          %button{ :class=>"btn" } Borrow    

        %form.panel-wrap
          %ul.panel-expander 
            %li
              .header 
                Type
              .content
                %ul{:class => "inputs-list"}
                  - place_types_select.each do |p_type|
                    %li
                      %label
                        .left
                          = check_box_tag :place_type, p_type[1]
                          %span= p_type[0]
                        .right  
                          %span (320)
                      
            %li
              .header 
                Price per night
              .content
                .clearfix.textfield
                  %label Minimum
                  .input
                    = text_field :min_price, '', :class => 'small', :id => 'min_price'
                .clearfix.textfield
                  %label Maximum
                  .input
                    = text_field :max_price, '', :class => 'small', :id => 'max_price'

            -#%li
              -#.header 
                -#Amenities
              -#.content
                -#%ul{:class => "inputs-list"}
                  -#- 3.times do 
                    -#%li
                      -#%label
                        -#.left
                          -#%input{:type => "checkbox", :name => "amenities", :value => "option1" }
                          -#%span Most Popular
                        -#.right  
                          -#%span (300)
                  -#%li
                    -#%a{:href => "#"} more amenities

        = button_tag 'Search', :id => 'search_me', :class => 'btn primary'


:javascript

  $("#search_me").click(function() {
    $.ajax({
      url: '/places/search',
      data: {
        guests: $("#guests").val(),
        sort: $("#sort").val(),
        min_price: $("#min_price").val(),
        max_price: $("#max_price").val()
      },
      success: function() {
        console.log('I sent');
      }
    });
    return false;
  });
