%section.clearfix
  %h1 Search
  .row
    .span12
      .search-bar
        .float-right
          .toggle
            = link_to '', '#', :class => 'disp-gallery', :id => 'disp-gallery'
            = link_to '', '#', :class => 'disp-list current', :id => 'disp-list'
          .clearfix
          .controls
            = select_tag :max_guests_eq, options_for_select(max_guest_options), :class => 'medium' 
            Sort by 
            = select_tag :sort, options_for_select(sort_options), :class => 'medium' 
        %h2
          Singapore, Singapore
        .clearfix
          %span#num_search_results
            = @results['results']
          Results
      .results
        .header

        #search_results
          = render 'search_results', :places => @results['places']

    .span4
      .search-aside
        .toggle.hidden
          %button{ :class=>"btn primary" } Buy
          %button{ :class=>"btn" } Get
          %button{ :class=>"btn" } Rent
          %button{ :class=>"btn" } Borrow    

        %form.panel-wrap
          %ul.panel-expander 
            %li
              .header 
                Type
              .content
                %ul{:class => "inputs-list"}
                  - place_types_select.each do |p_type|
                    - id_name = p_type[0].parameterize('_').singularize
                    %li
                      %label
                        .left
                          = check_box_tag :place_type, p_type[1], (@results['place_type_count'][id_name] > 0), :id => "#{id_name}_cbox", :class => 'place_type_cbox', :name => id_name
                          %span= p_type[0]
                        .right
                          %span{:id => id_name }= "(#{@results['place_type_count'][id_name]})"

            %li
              .header 
                Price per night
              .content
                .clearfix.textfield
                  %label Minimum
                  .input
                    = text_field :min_price, '', :class => 'small', :id => 'min_price'
                .clearfix.textfield
                  %label Maximum
                  .input
                    = text_field :max_price, '', :class => 'small', :id => 'max_price'

            -#%li
              -#.header 
                -#Amenities
              -#.content
                -#%ul{:class => "inputs-list"}
                  -#- 3.times do 
                    -#%li
                      -#%label
                        -#.left
                          -#%input{:type => "checkbox", :name => "amenities", :value => "option1" }
                          -#%span Most Popular
                        -#.right  
                          -#%span (300)
                  -#%li
                    -#%a{:href => "#"} more amenities

        = button_tag 'Search', :id => 'search_me', :class => 'btn primary'


:javascript

  $("#search_me").click(function() {
    var search_btn = $(this);
    showIndicator(search_btn);
    $.ajax({
      url: '/places/search',
      data: {
        guests: $("#guests").val(),
        sort: $("#sort").val(),
        min_price: $("#min_price").val(),
        max_price: $("#max_price").val()
      },
      success: function(data) {
        hideIndicator(search_btn);

        var place_type_count = data.place_type_count;
        $("#search_results").html(data.place_data);
        $("#num_search_results").html(data.results);

        if(data.results == 0) {
          $('.info').show();
        }

        $.each(place_type_count, function(type, count) {
          $('#' + type).html("(" + count + ")");

          if (count > 0) {
            $('#' + type + '_cbox').attr('checked', 'checked');
          } else {
            $('#' + type + '_cbox').removeAttr('checked');
          }
        });

        if ($("#disp-gallery").hasClass('current')) {
          $(".show-grid").show();
          $(".list-display").hide();
        } else {
          $(".list-display").show();
          $(".show-grid").hide();
        }
      }
    });
    return false;
  });

  $("#disp-gallery").click(function() {
    $(".show-grid").show();
    $(".list-display").hide();
    $(this).addClass('current');
    $("#disp-list").removeClass('current');
    return false;
  });

  $("#disp-list").click(function() {
    $(".list-display").show();
    $(".show-grid").hide();
    $(this).addClass('current');
    $("#disp-gallery").removeClass('current');
    return false;
  });

  $(".place_type_cbox").change(function() {
    if ($(this).is(":checked")) {
      $('[data-place-type="'+ this.name  +'"]').show();
    } else {
      $('[data-place-type="'+ this.name +'"]').hide();
    }
  });
