%section.clearfix
  .row
    .span12
      .search-bar
        .float-right
          .toggle
            = link_to '', '#', :class => 'disp-gallery', :id => 'disp-gallery'
            = link_to '', '#', :class => 'disp-list current', :id => 'disp-list'
          .clearfix
          .controls
            = select_tag :guests, options_for_select(max_guest_options), :style => "width:100px"
            Sort by 
            = select_tag :sort, options_for_select(sort_options), :class => 'medium' 
        %h2
          Singapore, Singapore
        .clearfix
          %span#num_search_results
            = @results['results']
          Results
      .results
        #search_results
          = render 'search_results', :places => @results['places']

    .span4
      .search-aside
        .toggle.hidden
          %button{ :class=>"btn primary" } Buy
          %button{ :class=>"btn" } Get
          %button{ :class=>"btn" } Rent
          %button{ :class=>"btn" } Borrow    

        %form.panel-wrap
          -#%ul.panel-expander
          %ul.panel-expander
            %li
              .header 
                Type
              .content
                %ul#types-list{:class => "inputs-list"}
                  - place_types_select.each do |p_type|
                    - id_name = p_type[0].parameterize('_').singularize
                    - next if @results['place_type_count'][id_name] == 0

                    %li
                      %label
                        .left
                          = check_box_tag :place_type, p_type[1], true, :id => id_name
                          %span= p_type[0]
                        .right
                          %span= "(#{@results['place_type_count'][id_name]})"

            %li
              .header 
                Price per night
              .content
                #max_price.float-right 500
                #min_price 0

                #price-slider

            -#%li
              -#.header 
                -#Amenities
              -#.content
                -#%ul{:class => "inputs-list"}
                  -#- 3.times do 
                    -#%li
                      -#%label
                        -#.left
                          -#%input{:type => "checkbox", :name => "amenities", :value => "option1" }
                          -#%span Most Popular
                        -#.right  
                          -#%span (300)
                  -#%li
                    -#%a{:href => "#"} more amenities


:javascript

  var pull_data = function() {
    showIndicator($("#search_results"));

    $.ajax({
      url: '/places/search',
      data: {
        guests: $("#guests").val(),
        sort: $("#sort").val(),
        min_price: $("#min_price").html(),
        max_price: $("#max_price").html()
      },
      success: function(data) {
        hideIndicator($("#search_results"));

        $("#search_results").html(data.place_data);
        $("#num_search_results").html(data.results);

        $("#types-list").empty();
        $.each(data.place_type_count, function(type, count) {
          type_builder(type, count);
        });

        if ($("#disp-gallery").hasClass('current')) {
          $(".show-grid").show();
          $(".list-display").hide();
        } else {
          $(".list-display").show();
          $(".show-grid").hide();
        }
      }
    });
    return false;
  };

  var type_builder = function(type, count) {
    if (count == '0') {
      return;
    }

    var list = '<li>'+
      '<label>'+
        '<div class="left"><input checked="checked" id="'+type+'" type="checkbox" value="1" /> <span>'+type.human_titleize()+'</span></div>' +
        '<div class="right"><span>('+count+')</span></div>' +
      '</label>';

    $("#types-list").append(list);

  };

  $("#guests, #sort").change(function() {
    pull_data();
  });

  $("#types-list input").live('click', function() {
    pull_data();
  });

  $("#price-slider").slider({
    range: true,
    min: 0,
    max: 500,
    values: [0, 500],
    slide: function( event, ui ) {
      $("#min_price").html(ui.values[0]);
      $("#max_price").html(ui.values[1]);
    },
    change: function() {
      pull_data();
    }
  });

  $("#disp-gallery").click(function() {
    $(".show-grid").show();
    $(".list-display").hide();
    $(this).addClass('current');
    $("#disp-list").removeClass('current');
    return false;
  });

  $("#disp-list").click(function() {
    $(".list-display").show();
    $(".show-grid").hide();
    $(this).addClass('current');
    $("#disp-gallery").removeClass('current');
    return false;
  });

  String.prototype.human_titleize = function() {
    var arr = new Array();
    $.each(this.split('_'), function(str) {
      arr.push(this.charAt(0).toUpperCase() + this.slice(1));
    });

    return arr.join(' ');
  };

