- content_for(:title) do
  - city_name(@city_id)
  
%section.clearfix
  .row
    .span9
      = render 'search_bar'
      .results{:style => "padding-top: 10px;"}
        #search_results
          = render 'search_results', :places => @results['places']
          
      .loading.center.hide= image_tag('loading.gif')
    .span3
      .search-aside-wrapper
        .search-aside
          %form.panel-wrap
            %ul.panel-expander
              %li
                = render :partial => 'place_type_filters'
              %li
                .header= t(:price_per_month)
                .content
                  #max_price.float-right= @max_price
                  #min_price= @min_price

                  #price-slider{:style => "z-index:1;"}

      = render 'shared/asm_banner_vertical'

#place_result_pages.hide
  .page_num= 1
  .current_page= @results['current_page']
  .total_page= @results['total_pages']
  .from_index= true
  
:javascript
  $(document).ready(function() {  
    PlaceFilters.initialize(#{@min_price},#{@max_price});
  });