- content_for(:title) do
  - city_name(@city_id)
  
%section.clearfix
  .row
    .span9
      = render 'search_bar'
      .results{:style => "padding-top: 10px;"}
        #search_results
          = render 'search_results', :places => @results['places']
          
      .loading.center.hide= image_tag('loading.gif')
    .span3
      .search-aside-wrapper
        .search-aside
          %form.panel-wrap
            %ul.panel-expander
              %li
                #custom-alerts
                  .header= t(:custom_alerts)
                  .content
                    - if logged_in?
                      %button.btn.save-search{"data-toggle" => "modal", :href => "#save_search"}
                        %i.icon-time
                        =t("create_alert")
                    - else
                      %a.btn.save-search{:href => '?trigger_signup=true'}
                        %i.icon-time
                        =t("create_alert")
                  
              %li
                = render :partial => 'place_type_filters'
              %li
                .header= t(:price_per_month)
                .content
                  #max_price.float-right= @max_price
                  #min_price= @min_price

                  #price-slider{:style => "z-index:1;"}

      = render 'shared/asm_banner_vertical'

#place_result_pages.hide
  .page_num= 1
  .current_page= @results['current_page']
  .total_page= @results['total_pages']
  .from_index= true

- if logged_in? && @alert_params
  #save_search.modal.hide.fade
    = render :partial => 'alerts/save_search_form', :locals => { :alert_params => @alert_params }
  
:javascript
  $(document).ready(function() {  
    PlaceFilters.initialize(#{@min_price},#{@max_price});
  });