%section.clearfix
  .row
    .span12
      .wrap-searchbar
        .search-bar
          .float-right
            .toggle
              = link_to '', '#', :class => 'disp-gallery', :id => 'disp-gallery'
              = link_to '', '#', :class => 'disp-list current', :id => 'disp-list'
            .clearfix
            .controls
              = select_tag :guests, options_for_select(max_guest_options), :style => "width:100px"
              = t(:sort_by)
              = select_tag :sort, options_for_select(sort_options), :class => 'medium' 
          %h2
            Singapore, Singapore
          = hidden_field_tag :currency, get_current_currency
          .clearfix
            %span#num_search_results
              = @results['results']
            = t(:results)
      .results
        #search_results
          = render 'search_results', :places => @results['places']

    .span4
      .search-aside
        %form.panel-wrap
          %ul.panel-expander
            %li
              .header= t(:type)
              .content
                %ul#types-list{:class => "inputs-list"}
                  - place_types_list.each do |p_type|
                    %li
                      %label
                        %span.left
                          = check_box_tag :place_type, p_type[0], (@results['place_type_count'][p_type[2]].to_i > 0), :id => p_type[2]
                          %span= p_type[0]
                        %span.right
                          %span= "(#{@results['place_type_count'][p_type[2]]})"

            %li
              .header= t(:price_per_night)
              .content
                #max_price.float-right= @max_price
                #min_price= @min_price

                #price-slider

:javascript

  var pull_data = function() {
    $(".results").append("<span id='search-load-indicator'><img src='/images/loading.gif' alt='loading...' /></span>");
    $("#search_results").css('opacity', '.3');

    var place_type_ids = new Array;
    $.each($("#types-list input"), function() {
      if ($(this).is(":checked")) {
        place_type_ids.push(this.id);
      }
    });

    $.ajax({
      url: '/places/search',
      data: {
        guests: $("#guests").val(),
        sort: $("#sort").val(),
        min_price: $("#min_price").html(),
        max_price: $("#max_price").html(),
        currency: $('#currency').val(),
        place_type_ids: place_type_ids
      },
      success: function(data) {
        $('.results > #search-load-indicator').remove();
        $('#search_results').css('opacity', '1');

        $("#search_results").html(data.place_data);
        $("#num_search_results").html(data.results);

        $("#types-list").empty();
        $.each(data.place_type_count, function(type, count) {
          type_builder(type, count);
        });

        if ($("#disp-gallery").hasClass('current')) {
          $(".show-grid").show();
          $(".list-display").hide();
        } else {
          $(".list-display").show();
          $(".show-grid").hide();
        }
      }
    });
    return false;
  };

  var type_builder = function(type, count) {
    var checked_ = ''
    if(count != 0) {
      checked_ = ' checked="checked" ';
    }
    var list = '<li>'+
      '<label>'+
        '<div class="left"><input'+checked_+' id="'+type+'" type="checkbox" value="1" /> <span>'+type.human_titleize()+'</span></div>' +
        '<div class="right"><span>('+count+')</span></div>' +
      '</label>';

    $("#types-list").append(list);

  };

  $("#guests, #sort").change(function() {
    pull_data();
  });

  $("#types-list input").live('click', function() {
    pull_data();
  });

  $("#price-slider").slider({
    range: true,
    min: #{@min_price},
    max: #{@max_price},
    values: [#{@min_price}, #{@max_price}],
    step: 5,
    slide: function( event, ui ) {
      $("#min_price").html(ui.values[0]);
      $("#max_price").html(ui.values[1]);
    },
    change: function() {
      pull_data();
    }
  });

  $("#disp-gallery").click(function() {
    $(".show-grid").show();
    $(".list-display").hide();
    $(this).addClass('current');
    $("#disp-list").removeClass('current');
    return false;
  });

  $("#disp-list").click(function() {
    $(".list-display").show();
    $(".show-grid").hide();
    $(this).addClass('current');
    $("#disp-gallery").removeClass('current');
    return false;
  });

  String.prototype.human_titleize = function() {
    var arr = new Array();
    $.each(this.split('_'), function(str) {
      arr.push(this.charAt(0).toUpperCase() + this.slice(1));
    });

    return arr.join(' ');
  };

