- content_for(:title) do
  - city_name(@city_id)
  
%section.clearfix
  .row
    .span9
      .wrap-searchbar
        .search-bar.search-bar1

          .float-left
            %h2{:style => 'display:inline; '}
              = city_name(@city_id)
            = hidden_field_tag :currency, get_current_currency
            = hidden_field_tag :city_id, @city_id
            %br
            #num_search_results
              %span.results_count= @results['results']
              = t(:results)
            %br
            = link_to "Not going to #{city_name(@city_id)}?", root_path, {:style => 'color: #ccc; display:inline; font-size: 12px'}

          .float-right
            = select_tag :guests, options_for_select(max_guest_options), :style => "width:100px"
            = text_field_tag "check_in", @results['check_in'], :placeholder => t(:arriving_on), :class => 'textbox big check-in-picker', "data-date" => :from
            = "-"
            = text_field_tag "check_out", @results['check_out'], :placeholder => t(:departing_on), :class => 'textbox big check-out-picker', "data-date" => :to

            %br
            .toggle
              = link_to '', '#', :class => 'disp-list current', :id => 'disp-list'
              = link_to '', '#', :class => 'disp-gallery',      :id => 'disp-gallery'
              .sorting
                = t(:sort_by)
                = select_tag :sort, options_for_select(sort_options, 'price_highest'), :class => 'medium' 

      .results
        #search_results
          = render 'search_results', :places => @results['places']
          
      .loading.center.hide= image_tag('/images/loading.gif')
    .span3
      .search-aside
        %form.panel-wrap
          %ul.panel-expander
            %li
              = render :partial => 'place_type_filters'
            %li
              .header= t(:price_per_month)
              .content
                #max_price.float-right= @max_price
                #min_price= @min_price

                #price-slider{:style => "z-index:1;"}

#place_result_pages.hide
  .page_num= 1
  .current_page= @results['current_page']
  .total_page= @results['total_pages']
  .from_index= true
  
:javascript
  $(document).ready(function() {  
    PlaceFilters.initialize(#{@min_price},#{@max_price});
  });