.row
  .span16
    .results.my_places
      - if @places
        %ul.list-display
          - @places.each do |place|
            %li
              .float-right
                -#= link_to t(:invisible), '#', :class => 'btn secondary', :id => 'listing-status', :rel => 'twipsy'
                %p{:id => 'listing-status', :class => 'place_status'}= t(:invisible)
                %p.hidden{:id => 'place_published'}= "#{place['published']}"
              .span3
                .thumb.data-block
                  - if place['photos'].blank?
                    = image_tag( "/images/photo-missing.png", :size => "160x110")
                  - else
                    = image_tag(place['photos'][0]['photo']['small'])
              .span12
                .info  
                  %h3.title
                    = link_to place['title'], place_path(place['id'])
                  .row
                    .span3
                      .location
                        = "#{place['city_name']}, #{place['country_name']}"
                    .span3
                      .type 
                        = I18n.t(place['place_type']['name'].parameterize('_')) 
                      .micro
                        - if !place['size_sqf'].nil? or !place['size_sqm'].nil?
                          = get_current_size_unit == "sqf" ? place['size_sqf'].round(2) : place['size_sqm'].round(2)
                          =raw get_pref_size_unit
                    .span3
                      .price
                        - if !place['price_per_night'].nil?
                          .figure= "#{get_pref_currency}#{place['price_per_night']} #{t(:per_night)}"
                        - else
                          &nbsp;
                    .span3.edit_delete_buttons.hidden
                      %a.btn.large.small{:title => t(:edit_place), :href => "#{wizard_place_path(place['id'])}"}
                        =t(:edit_place)
                      = link_to t(:delete_place), place_path(place['id']), :method => :delete, :confirm => t(:are_you_sure), :class => 'btn large small'


:javascript
  $(document).ready(function() {
    $("ul.list-display li").hover(
      function () {
        $(this).find('.edit_delete_buttons').removeClass("hidden");
      },
      function () {
        $(this).find('.edit_delete_buttons').addClass("hidden");
      }
    );

    if($('#place_published').text() == 'false') {
      $('#listing-status').text('Invisible');
    } else {
      $('#listing-status').text('Listed');
    }

  });
