.row
  .span16
    .results.my_places
      - if @places
        %ul.list-display
          - @places.each do |place|
            %li
              .span3
                .thumb.data-block
                  - if place['photos'].blank?
                    = image_tag( "/images/photo-missing.png", :size => "160x110")
                  - else
                    = image_tag(place['photos'][0]['photo']['small'])
              .span12
                .info  
                  %h3.title
                    = link_to place['title'], place_path(place['id'])
                  .row
                    .span3
                      .location
                        = "#{place['city_name']}, #{place['country_name']}"
                    .span3
                      .type 
                        = place['place_type']['name'] 
                      .micro
                        - if !place['size_sqf'].nil? or !place['size_sqm'].nil?
                          = get_current_size_unit == "sqf" ? place['size_sqf'].round(2) : place['size_sqm'].round(2)
                          =raw get_pref_size_unit
                    .span3
                      .price
                        - if !place['price_per_night'].nil?
                          .figure= "#{get_pref_currency}#{place['price_per_night']} Per night"
                        - else
                          &nbsp;
                    .span3.edit_button.hidden
                      %a.btn.large.small{:title => 'Edit place', :href => "#{wizard_place_path(place['id'])}"}
                        Edit place


:javascript
  $(document).ready(function() {
    $("ul.list-display li").hover(
      function () {
        $(this).find('.edit_button').removeClass("hidden");
      },
      function () {
        $(this).find('.edit_button').addClass("hidden");
      }
    );
  });