.row
  .span16
    .results.my_places
      - if @places
        %ul.list-display
          - @places.each do |place|
            %li
              .float-right
                - if place['published']
                  %p{:class => 'place_status'}=  t(:listed)
                - else
                  %p{:class => 'place_status'}=  t(:invisible)
              .span3
                .thumb.data-block
                  - if place['photos'].blank?
                    - place_photo = image_tag( "/images/photo-missing.png", :size => "160x110")
                  - else
                    - place_photo = image_tag(place['photos'][0]['photo']['small'])
                  = link_to place_photo, (place['published'] ? place_path(place['id']) : wizard_place_path(place['id']))
              .span12
                .info  
                  %h3.title
                    = link_to place['title'], (place['published'] ? place_path(place['id']) : wizard_place_path(place['id'])), :class => 'place_title_link'
                  .row
                    .span3
                      .location
                        = "#{place['city_name']}, #{place['country_name']}"
                    .span3
                      .type 
                        = I18n.t(place['place_type']['name'].parameterize('_')) 
                      .micro
                        - if !place['size_sqf'].nil? or !place['size_sqm'].nil?
                          = get_current_size_unit == "sqf" ? place['size_sqf'].round(2) : place['size_sqm'].round(2)
                          =raw get_pref_size_unit
                    .span3
                      .price
                        - if !place['price_per_night'].nil?
                          .figure= "#{get_pref_currency}#{place['price_per_night']} #{t(:per_night)}"
                        - else
                          &nbsp;
                    .span3.edit_delete_buttons.hidden
                      %a.btn.large.small{:title => t(:edit_place), :href => "#{wizard_place_path(place['id'])}"}
                        =t(:edit_place)
                      = link_to t(:delete_place), place_path(place['id']), :method => :delete,  :class => 'btn large small'

:javascript
  $(document).ready(function() {
    $("ul.list-display li").hover(
      function () {
        $(this).find('.edit_delete_buttons').removeClass("hidden");
      },
      function () {
        $(this).find('.edit_delete_buttons').addClass("hidden");
      }
    );

    if($('#place_published').text() == 'false') {
      $('.place_status').text('Invisible');
    } else {
      $('.place-status').text('Listed');
    }
  });

:erb
  <script type='text/javascript'>
    $("a[data-method='delete']").confirmDialog({
      message: <%= "\'<strong>#{t(:are_you_sure)}</strong>\'" %>,
      cancelButton: 'Cancel'
    });
  </script>

