.row
  .span12
    - if @preview
      %div{:style => "float:right"}
        - if @place.published
          = form_for :place, :url => unpublish_place_path(:id => @place.to_param), :method => :put do |f|
            %button.btn.primary.large.preview-button
              %span= t(:unpublish)

        - else
          = form_for :place, :url => publish_place_path(:id => @place.to_param), :method => :put do |f|
            %button.btn.primary.large.preview-button
              %span= t(:publish)


      .preview-header
        %br
        %p This is a Preview
        .border.span11      
    .accomodation-wrapper
      .header
        .title 
          %h1= @place.title
          .meta
            %p 
              Manila, Philippines 

            .share
              %span.label Share via
              %a.fb{:href => "#"} Facebook
              %a.tw{:href => "#"} Twitter
              %a.gplus{:href => "#"} Google Plus

        .focal
          %h1.price
            = number_to_currency @place.price_per_night 
            %span.sub  Per Night 
          %a.btn.large.primary Rent it!  

      .tabbed-panel  
        %ul.tabs
          %li.active  
            %a{:href => "#photo-slider"} Photos  
          %li
            %a{:href => "#map-tab"} Map
          %li 
            %a{:href => "#calendar-tab"} Calendar

        .pill-content
          .active#photo-slider
            .viewport
              %ul.overview
                - hacked_photo_set = @place['photos'].dup
                - hacked_photo_set << @place['photos'][0] << @place['photos'][1] # to faken cons to still iterate and display for the last image the first and second image
                = hacked_photo_set.each_cons(3) do |p1, p2, p3|
                  %li
                    .big
                      .caption= p1['photo']['name']
                      = image_tag(p1['photo']['large'])
                    .small
                      - if p2.present? && p2['photo'].present? && p2['photo']['medium'].present?
                        %a{:href => "#"}
                          = image_tag(p2['photo']['medium'])
                      - if p3.present? && p3['photo'].present? && p3['photo']['medium'].present?
                        %a{:href => "#"}              
                          = image_tag(p3['photo']['medium'])

            .slider-nav
              %a.buttons.prev{:href => "#"} 
                =raw('&laquo;')
              %ul.pager
                - @place['photos'].each_with_index do |p, i|
                  %li
                    %a{:rel => "#{i}", :class => "pagenum", :href => "#"}
                      = image_tag(p['photo']['tiny'])

              %a.buttons.next{:href => "#"}
                =raw('&raquo;')

            / %a#gotoslide4{:href => "#"} Go to 4  
            - if false
              #photo-slider-control
                %a#stopslider{:href => "#"} Stop
                %a#startslider{:href => "#"} Play

          #map-tab
            %div#map
          #calendar-tab
            #first-calendar{:style => "width:335px; float:left; padding:20px 0 10px 10px;"}
            #second-calendar{:style => "width:335px; float:left; padding:20px 0 10px 10px;"}


      .description
        .row
          .span8
            %pre.desc= @place.description
          -#.span4
            -#.highlight
              -#%h5 Sample Highlight
              -#%p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    


      .tabbed-panel.other-info  
        %ul.tabs
          %li.active  
            %a{:href => "#details-tab"} Details  
          %li
            %a{:href => "#amenities-tab"} Amenities
        .contents
          .fine-print.pill-content
            .row.active#details-tab
              .span3.col
                %label Type
                .value= @place.place_type
                %label Size
                .value= raw("#{number_with_precision @place.size_sqm, :strip_insignificant_zeros => true, :precision => 1} m&sup2;")
                %label &nbsp;
                .value= raw("#{number_with_precision @place.size_sqf, :strip_insignificant_zeros => true, :precision => 1} ft&sup2;")
              .span2.col
                - unless @place.num_bedrooms.blank?
                  %label.sm Bedrooms
                  .value.sm= @place.num_bedrooms
                - unless @place.num_beds.blank?
                  %label.sm Bed
                  .value.sm= @place.num_beds
                %label.sm Guests
                .value.sm
                  1
                  = " - #{@place.max_guests}" if @place.max_guests > 1
                - unless @place.num_bathrooms.blank?
                  %label.sm Bathrooms
                  .value.sm= @place.num_bathrooms
              .span3.col
                %label Price per Night
                .value= number_to_currency @place.price_per_night, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true

                - unless @place.price_per_week.blank?
                  %label Price per Week
                  .value= number_to_currency @place.price_per_week, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true
                - unless @place.price_per_month.blank?
                  %label Price per Month
                  .value= number_to_currency @place.price_per_month, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true
              .span4.col
                - unless @place.price_final_cleanup.blank? || @place.price_final_cleanup == 0
                  %label Final Cleanup
                  .value= number_to_currency @place.price_final_cleanup, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true
                - unless @place.price_security_deposit.blank? || @place.price_security_deposit == 0
                  %label Security Deposit
                  .value= number_to_currency @place.price_security_deposit, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true
                %label Cancellation
                .value= LookupsHelper::CANCELLATION_POLICIES[@place.cancellation_policy]

            .row#amenities-tab
              .span
                - display_place_amenities(@place).each do |amenity|
                  %label.w-left-icon.check
                    = amenity 
      .tabbed-panel.other-info
        %ul.tabs
          -#%li.active
            -#%a{:href => '#details-reviews'} Reviews (2)
          %li.active
            %a{:href => '#details-questions'}
              = "Questions(#{@comments.size})"
        .contents
          .fine-print.pill-content
            -#.row.active#details-reviews
              -#%p reviews
            .row.active#details-questions
              .span
                = render '/comments/questions'
- content_for :aside do
  .wizard-aside
    - if @preview
      %ul#wizard-selector
        %li#general
          .indicator
            = image_tag('/images/check.png')
          %a{:href => "#{wizard_place_path(@place, :step => "1")}", :title => t(:general_information), :class => 'active'}
            = t(:general_info)
        %li#photos
          .indicator
            = image_tag('/images/check.png')
          %a{:href => "#{wizard_place_path(@place, :step => "2")}", :title => t(:photos)}
            = t(:photos)
        %li#amenities
          .indicator
            = image_tag('/images/check.png')
          %a{:href => "#{wizard_place_path(@place, :step => "3")}", :title => t(:amenities)}
            = t(:amenities)
        %li#price
          .indicator
            = image_tag('/images/check.png')
          %a{:href => "#{wizard_place_path(@place, :step => "4")}", :title => t(:price_and_conditions)}
            = t(:price_and_conditions)        
        %li#calendar
          .indicator
            = image_tag('/images/check.png')
          %a{:href => "#{wizard_place_path(@place, :step => "5")}", :title => t(:calendar)}
            = t(:calendar)
    - else
      - if logged_in? && @owner['id'].eql?(current_user['id'])
        %p This is your place!
        %a.btn.large.primary{:title => 'Edit place', :href => "#{wizard_place_path(@place)}"}
          Edit place
      - else
        %ul.references
          %li
            %img{:src => @owner['avatar'], :style => "width: 100px; height: 100px;"}
          %li= short_full_name @owner
          %li.check= @owner['role'].capitalize
          -#%li.reviews 71 reviews
          %li
            %a.btn.large.primary Message User


:javascript
  // accomodation photo slider          
  var oSlider7 = $('#photo-slider');  	
  if(oSlider7.length > 0){    	
    oSlider7.tinycarousel({ interval: true, intervaltime: 6000, pager: true });
  
    $('#startslider').click(function(){ 
      oSlider7.tinycarousel_start();
      return false;
    });
  
    $('#stopslider').click(function(){ 
      oSlider7.tinycarousel_stop();
      return false;
    });		    		
  }
  
  // search siderbar accordion
  $(".panel-expander > .content:gt(0)").hide();
  $(".panel-expander > li:gt(4)").hide();
  $(".panel-expander .header").click(function(){
    $(this).toggleClass("active");
    $(this).siblings(".header").removeClass("active");      	        
    $(this).next(".content").slideToggle(500)
    return false;
  });

  $('.tabs').tabs();
  $('.tabs').bind('change', function (e) {
    if ($(e.target).attr('href') == '#calendar-tab') {
      $("#first-calendar, #second-calendar").fullCalendar('render');
    }
  })
  

:erb
  <script type="text/javascript">

    var map;
    function initializeMap() {
      var mapOptions = {
        zoom: 9,
        center: new google.maps.LatLng(<%= @place['lat'] %>, <%= @place['lon'] %>),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById('map'),mapOptions);


      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= @place['lat'] %>, <%= @place['lon'] %>),
        map: map,
        title: <%= "\'#{@place['city_name']}, #{@place['country_name']}\'" %>
      });

    }

    $(document).ready(function() {
      $('#first-calendar').fullCalendar({
        header: {
          left: 'prev',
          center: 'title',
          right: ''
        },
        editable: false,
        events: <%= @availabilities.to_json %>,
        visEnd: <%= DateTime.now.end_of_month.to_date %>,
      });

      $('#second-calendar').fullCalendar({
        header: {
          left: '',
          center: 'title',
          right: 'next'
        },
        editable: false,
        events: <%= @availabilities.to_json %>,
        month: <%= Date.today.month %>,
        visStart: false
      });

      $('#first-calendar .fc-header-left .fc-button-prev').click(function() {
        $('#second-calendar').fullCalendar('prev');
      });

      $('#second-calendar .fc-header-right .fc-button-next').click(function() {
        $('#first-calendar').fullCalendar('next');
      });
  });

  $('.tabs').bind('change', function (e) {
    if ($(e.target).attr('href') == '#map-tab') {
      initializeMap();
    }
  })

  </script>
