.row
  .span12
    - if @preview
      %div{:style => "float:right"}
        - if @place.published
          = form_for :place, :url => unpublish_place_path(:id => @place.to_param), :method => :put do |f|
            %button.btn.primary.large.preview-button
              %span= t(:unpublish)

        - else
          = form_for :place, :url => publish_place_path(:id => @place.to_param), :method => :put do |f|
            %button.btn.primary.large.preview-button
              %span= t(:publish)
  

      .preview-header
        %br
        %p This is a Preview
        .border.span11      
    .accomodation-wrapper
      .header
        .title 
          %h1= @place.title
          .meta
            %p 
              Manila, Philippines 
            
            .share
              %span.label Share via
              %a.fb{:href => "#"} Facebook
              %a.tw{:href => "#"} Twitter
              %a.gplus{:href => "#"} Google Plus
            
        .focal
          %h1.price
            = number_to_currency @place.price_per_night 
            %span.sub  Per Night 
          %a.btn.large.primary Rent it!  
          
          
      %ul.tabs
        %li.active  
          %a{:href => "#"} Photos  
        %li
          %a{:href => "#"} Map
        %li 
          %a{:href => "#"} Calendar
          
      #photo-slider
        .viewport
          %ul.overview
            - 10.times do 
              %li
                .big
                  .caption This is a sample caption...                
                  = image_tag("http://placehold.it/490x340")
                .small
                  %a{:href => "#"}
                    = image_tag("http://placehold.it/200x165")
                  %a{:href => "#"}              
                    = image_tag("http://placehold.it/200x165")

        .slider-nav      
          %a.buttons.prev{:href => "#"} 
            =raw('&laquo;')
          %ul.pager
            %li
              %a{:rel => "0", :class => "pagenum", :href => "#"}
                = image_tag("http://placehold.it/40x40")
            %li
              %a{:rel => "1", :class => "pagenum", :href => "#"}
                = image_tag("http://placehold.it/40x40")
            %li
              %a{:rel => "2", :class => "pagenum", :href => "#"}
                = image_tag("http://placehold.it/40x40")
            %li
              %a{:rel => "3", :class => "pagenum", :href => "#"}
                = image_tag("http://placehold.it/40x40")
            %li
              %a{:rel => "4", :class => "pagenum", :href => "#"}
                = image_tag("http://placehold.it/40x40")
            %li
              %a{:rel => "5", :class => "pagenum", :href => "#"}
                = image_tag("http://placehold.it/40x40")
            %li
              %a{:rel => "6", :class => "pagenum", :href => "#"}
                = image_tag("http://placehold.it/40x40")
            %li
              %a{:rel => "7", :class => "pagenum", :href => "#"}
                = image_tag("http://placehold.it/40x40")
            %li
              %a{:rel => "8", :class => "pagenum", :href => "#"}
                = image_tag("http://placehold.it/40x40")
            %li
              %a{:rel => "9", :class => "pagenum", :href => "#"}
                = image_tag("http://placehold.it/40x40")
                
          %a.buttons.next{:href => "#"}
            =raw('&raquo;')

        / %a#gotoslide4{:href => "#"} Go to 4  
      - if false
        #photo-slider-control    
          %a#stopslider{:href => "#"} Stop
          %a#startslider{:href => "#"} Play    


      .description
        .row
          .span8
            %p= @place.description
          .span4
            .highlight
              %h5 Sample Highlight
              %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
             
      
      .tabbed-panel.other-info  
        %ul.tabs
          %li.active  
            %a{:href => "#"} Details  
          %li
            %a{:href => "#"} Amenities
        .contents    
          .fine-print
            .row
              .span4.col
                %label Type
                .value= @place.place_type
                .label Size
                .value= @place.size_sqm
              .span4.col
                %label Bedrooms          
                .value= @place.num_bedrooms
                %label Bed          
                .value= @place.num_beds
                %label Guests
                .value
                  1 - 
                  = @place.max_guests

              .span4.col
                %label Price per Night
                .value= number_to_currency @place.price_per_night 
                %label Price per Week
                .value= number_to_currency @place.price_per_week
                %label Price per Month
                .value= number_to_currency @place.price_per_month 

- content_for :aside do
  .wizard-aside
    %ul#wizard-selector
      %li#general
        .indicator
          = image_tag('/images/check.png')
        %a{:href => "#{wizard_place_path(@place, :step => "1")}", :title => t(:general_information), :class => 'active'}
          = t(:general_info)
      %li#photos
        .indicator
          = image_tag('/images/check.png')
        %a{:href => "#{wizard_place_path(@place, :step => "2")}", :title => t(:photos)}
          = t(:photos)
      %li#amenities
        .indicator
          = image_tag('/images/check.png')
        %a{:href => "#{wizard_place_path(@place, :step => "3")}", :title => t(:amenities)}
          = t(:amenities)
      %li#price
        .indicator
          = image_tag('/images/check.png')
        %a{:href => "#{wizard_place_path(@place, :step => "4")}", :title => t(:price_and_conditions)}
          = t(:price_and_conditions)        
      %li#calendar
        .indicator
          = image_tag('/images/check.png')
        %a{:href => "#{wizard_place_path(@place, :step => "5")}", :title => t(:calendar)}
          = t(:calendar)

:javascript
    // accomodation photo slider          
  var oSlider7 = $('#photo-slider');  	
  if(oSlider7.length > 0){    	
    oSlider7.tinycarousel({ interval: true, intervaltime: 6000, pager: true });
  
    $('#startslider').click(function(){ 
      oSlider7.tinycarousel_start();
      return false;
    });
  
    $('#stopslider').click(function(){ 
      oSlider7.tinycarousel_stop();
      return false;
    });		    		
  }
  
  // search siderbar accordion
  $(".panel-expander > .content:gt(0)").hide();
  $(".panel-expander > li:gt(4)").hide();
  $(".panel-expander .header").click(function(){
    $(this).toggleClass("active");
    $(this).siblings(".header").removeClass("active");      	        
    $(this).next(".content").slideToggle(500)
    return false;
  });
