- content_for(:title) do
  - "#{@place.title} - #{@place.city_name}"

- require_google_apis

.row.place_info
  .span12
    /******************************************************************************************
    / Preview header
    /******************************************************************************************
    - if @preview && logged_in? && @owner['id'].eql?(current_user['id'])
      .preview-header
        .row.place_options
          .span12
            %p= t(:this_is_preview)
        .border.span11

    /******************************************************************************************
    / Name, Price, Inquire Button
    /******************************************************************************************
    .accomodation-wrapper
      .header
        .title 
          %h1= @place.title
          - if logged_in? && @owner['id'].eql?(current_user['id'])
            .buttons
              = render 'place_options_buttons'
          .meta
            %p= "#{@place.city_name}, #{@place.country_name}"
            .share
              %label= t(:share)
              .sharePlace
              
        .focal
          %h1.price

            -if !@place['price_per_month'].blank?
              = "#{get_pref_currency}#{@place['price_per_month']}"
              %span.sub= t(:per_month)
            -elsif !@place['price_per_week'].blank?
              = "#{get_pref_currency}#{@place['price_per_week']}"
              %span.sub= t(:per_week)
            -elsif !@place['price_per_night'].blank?
              = "#{get_pref_currency}#{@place['price_per_night']}"
              %span.sub= t(:per_night)

          -# %a.btn.large.primary= t(:rent)
          %a{:href => '#inquire_place', :class => 'btn btn-large btn-info', 'data-toggle' => 'modal', 'data-backdrop' => 'true', 'data-keyboard' => 'true', 'data-show' => 'true'}= t(:rent)
          
          %p{:style => "font-size: 9px; font-variant: small-caps; color: #5B5848; margin-top: -3px;"} no obligation

      /******************************************************************************************
      / Upper Tabbed Panel: Photos, Map, Calendar
      /******************************************************************************************
      .tabbed-panel
        %ul.nav.nav-tabs
          %li.active  
            %a{:href => "#photo-slider", 'data-toggle' => 'tab'}= t(:photos)
          %li
            %a{:href => "#map-tab",      'data-toggle' => 'tab'}= t(:map)
          %li 
            %a{:href => "#calendar-tab", 'data-toggle' => 'tab'}= t(:calendar)

        .tab-content
          #photo-slider.tab-pane.active
            .viewport
              %ul.overview
                = get_carousel_photoset(@place).each_cons(3) do |p1, p2, p3|
                  %li
                    .big
                      - unless p1['photo']['name'].blank?
                        .caption= p1['photo']['name']
                      = image_tag(p1['photo']['large'])
                    .small
                      - if p2.present? && p2['photo'].present? && p2['photo']['medium'].present?
                        %a{:href => "#", :class => "extra-paginator", "data-page" => @place['photos'].index(p2) + 1}
                          = image_tag(p2['photo']['medium'])
                      - if p3.present? && p3['photo'].present? && p3['photo']['medium'].present?
                        %a{:href => "#", :class => "extra-paginator", "data-page" => @place['photos'].index(p3) + 1}
                          = image_tag(p3['photo']['medium'])

            .slider-nav
              %a.buttons.prev{:href => "#"} 
                =raw('&laquo;')
              %ul.pager
                - @place['photos'].each_with_index do |p, i|
                  %li
                    %a{"data-page" => i, :class => "pagenum", :href => "#"}
                      = image_tag(p['photo']['tiny'])

              %a.buttons.next{:href => "#"}
                =raw('&raquo;')

          #map-tab.tab-pane
            %div#map
          #calendar-tab.tab-pane
            #first-calendar{:style => "width:335px; float:left; padding:20px 0 10px 10px; margin-left: 100px"}
            #second-calendar{:style => "width:335px; float:left; padding:20px 0 10px 10px;"}

      /******************************************************************************************
      / Description, Minimum stay, Maximum Stay
      /******************************************************************************************
      .description
        .row
          .span8{:style => "max-height:200px; overflow-y: scroll;"}
            %pre.desc= @place.description
          .span2.right.span-below
            .title
              =t(:minimum_stay)
            .micro
              -if @place.minimum_stay != 0
                = "#{@place.minimum_stay} #{t(@place.stay_unit)}"
              -else
                = t(:no_minimum)
          .span2.right
            .title
              =t(:maximum_stay)
            .micro
              -if @place.maximum_stay != 0
                = "#{@place.maximum_stay} #{t(@place.stay_unit)}"
              -else
                = t(:no_maximum)
                

      /******************************************************************************************
      / Extended info: Details, Amenities, Directions
      /******************************************************************************************
      .tabbed-panel.other-info
        %ul.nav.nav-tabs
          %li.active  
            %a{:href => "#details-tab", 'data-toggle' => 'tab'}= t(:details)
          %li
            %a{:href => "#amenities-tab", 'data-toggle' => 'tab'}= t(:amenities)
          - unless @place.directions.blank?
            %li
              %a{:href => "#directions-tab", 'data-toggle' => 'tab'}= t(:directions)
          - unless @place.house_rules.blank?
            %li
              %a{:href => "#house-rules-tab", 'data-toggle' => 'tab'}= t(:house_rules)

        .tab-content
          // Details Pane
          #details-tab.tab-pane.active
            .span10.offset1{:style => "margin-bottom:15px"}
              .row-fluid
                // Place type, size
                .span2
                  .row-fluid
                    .span4
                      .details_label= t(:type)
                    .span8
                      .details_value= @place.place_type
                  .row-fluid
                    .span4
                      .details_label= t(:size)
                    .span8
                      .details_value
                        = raw("#{number_with_precision @place.size_sqm, :strip_insignificant_zeros => true, :precision => 1} #{t(:square_meters_short)}")
                        %br
                        = raw("#{number_with_precision @place.size_sqf, :strip_insignificant_zeros => true, :precision => 1} #{t(:square_feet_short)}")

                // Apartment Space (bedrooms, bed, max guests, bathrooms)
                .span3
                  - unless @place.num_bedrooms.blank?
                    .row-fluid
                      .span8
                        .details_label= t(:bedroom)
                      .span4
                        .details_value= @place.num_bedrooms
                  - unless @place.num_beds.blank?
                    .row-fluid
                      .span8
                        .details_label= t(:bed)
                      .span4
                        .details_value= @place.num_beds
                  .row-fluid
                    .span8
                      .details_label= t(:guest)
                    .span4
                      .details_value
                        = "1"                        if @place.max_guests <= 1
                        = "1 - #{@place.max_guests}" if @place.max_guests > 1
                  - unless @place.num_bathrooms.blank?
                    .row-fluid
                      .span8
                        .details_label= t(:bathroom)
                      .span4
                        .details_value= @place.num_bathrooms

                // Prices Column (night, week, month)
                .span3
                  - unless @place.price_per_night.blank?
                    .row-fluid
                      .span8
                        .details_label= t(:price_per_night)
                      .span4
                        .details_value= "#{get_pref_currency}#{@place.price_per_night}"
                  - unless @place.price_per_week.blank?
                    .row-fluid
                      .span8
                        .details_label= t(:price_per_week)
                      .span4
                        .details_value= number_to_currency @place.price_per_week, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true
                  - unless @place.price_per_month.blank?
                    .row-fluid
                      .span8
                        .details_label= t(:price_per_month)
                      .span4
                        .details_value= number_to_currency @place.price_per_month, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true


                // Price final cleanup, security deposit, cancellation policy
                .span4
                  - unless @place.price_final_cleanup.blank? || @place.price_final_cleanup == 0
                    .row-fluid
                      .span7
                        .details_label= t(:final_cleanup)
                      .span5
                        .details_value= number_to_currency @place.price_final_cleanup, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true
                  - unless @place.price_security_deposit.blank? || @place.price_security_deposit == 0
                    .row-fluid
                      .span7
                        .details_label= t(:security_deposit)
                      .span5
                        .details_value= number_to_currency @place.price_security_deposit, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true
                  .row-fluid
                    .span7
                      .details_label= t(:cancellation)
                    .span5
                      .details_value= cancellation_desc(@place)
                
          // Amenities Pane
          #amenities-tab.tab-pane
            .span12{:style => "margin-bottom:15px"}
              .row-fluid
                // We group all amenities into 4 columns
                - amenities = display_place_amenities(@place) 
                - if amenities.count > 3
                  - group_size = amenities.count/3
                - else
                  - group_size = amenities.count
                - amenities.in_groups_of(group_size) do |amenity_group|
                  .span3
                    - amenity_group.each do |amenity|
                      .w-left-icon.check= amenity

          // Directions Pane	
          #directions-tab.tab-pane
            .span
              %pre.desc= @place.directions

          // House Rules Pane
          #house-rules-tab.tab-pane
            .span
              %pre.desc= @place.house_rules


      /******************************************************************************************
      / Questions-Answers
      /******************************************************************************************
      .tabbed-panel
        %ul.nav.nav-tabs
          %li.active
            %a{:href => '#details-questions', 'data-toggle' => 'tab'}
              = "#{t(:question)} (#{@comments.nil?? 0 : @comments.size})"

        .tab-content
          #details-questions.tab-pane.active
            .span
              = render '/comments/questions'

= render :partial => 'inquire_place'

:javascript
  PlaceShow.initialize({
    cal_lastVisibleDay : #{DateTime.now.end_of_month.to_date},
    cal_events         : #{@availabilities.to_json},
    cal_month          : #{Date.today.month},
    map_lat            : #{@place['lat']},
    map_lon            : #{@place['lon']},
    map_cityName       : '#{@place['city_name']}',
    map_countryName    : '#{@place['country_name']}',
    share_title        : '#{@place['title']}',
    share_url          : '#{@place_url}',
    share_id           : '#{@place.id}'
  });