.row
  .span12
    - if @preview
      %div{:style => "float:right"}
        - if @place.published
          = form_for :place, :url => unpublish_place_path(:id => @place.to_param), :method => :put do |f|
            %button.btn.primary.large.preview-button
              %span= t(:unpublish)

        - else
          = form_for :place, :url => publish_place_path(:id => @place.to_param), :method => :put do |f|
            %button.btn.primary.large.preview-button
              %span= t(:publish)

      .preview-header
        %br
        %p= t(:this_is_preview)
        .border.span11      

    .accomodation-wrapper
      .header
        .title 
          %h1= @place.title
          .meta
            %p= "#{@place.city_name}, #{@place.country_name}"

            .share
              %label= t(:share)
              .sharePlace
        .focal
          %h1.price
            = "#{get_pref_currency}#{@place.price_per_night}"
            %span.sub= t(:per_night) 
          -# %a.btn.large.primary= t(:rent)  
          = link_to t(:rent), rent_place_path(@place), :class => "btn large primary"

      .tabbed-panel  
        %ul.tabs
          %li.active  
            %a{:href => "#photo-slider"}= t(:photos)
          %li
            %a{:href => "#map-tab"}= t(:map)
          %li 
            %a{:href => "#calendar-tab"}= t(:calendar)

        .pill-content
          .active#photo-slider
            .viewport
              %ul.overview

                = get_carousel_photoset(@place).each_cons(3) do |p1, p2, p3|
                  %li
                    .big
                      - unless p1['photo']['name'].blank?
                        .caption= p1['photo']['name']
                      = image_tag(p1['photo']['large'])
                    .small
                      - if p2.present? && p2['photo'].present? && p2['photo']['medium'].present?
                        %a{:href => "#", :class => "extra-paginator", "data-page" => @place['photos'].index(p2) + 1}
                          = image_tag(p2['photo']['medium'])
                      - if p3.present? && p3['photo'].present? && p3['photo']['medium'].present?
                        %a{:href => "#", :class => "extra-paginator", "data-page" => @place['photos'].index(p3) + 1}
                          = image_tag(p3['photo']['medium'])

            .slider-nav
              %a.buttons.prev{:href => "#"} 
                =raw('&laquo;')
              %ul.pager
                - @place['photos'].each_with_index do |p, i|
                  %li
                    %a{"data-page" => i, :class => "pagenum", :href => "#"}
                      = image_tag(p['photo']['tiny'])

              %a.buttons.next{:href => "#"}
                =raw('&raquo;')

          #map-tab
            %div#map
          #calendar-tab
            #first-calendar{:style => "width:335px; float:left; padding:20px 0 10px 10px;"}
            #second-calendar{:style => "width:335px; float:left; padding:20px 0 10px 10px;"}

      .description
        .row
          .span9
            %pre.desc= @place.description
          .span3.right.span-below
            .title
              =t(:minimum_stay)
            .micro
              = month_count @place.minimum_stay_days
          .span3.right
            .title
              =t(:maximum_stay)
            .micro
              = month_count @place.maximum_stay_days

      .tabbed-panel.other-info  
        %ul.tabs
          %li.active  
            %a{:href => "#details-tab"}= t(:details)
          %li
            %a{:href => "#amenities-tab"}= t(:amenities)
          - unless @place.house_rules.blank?
            %li
              %a{:href => "#house-rules-tab"}= t(:house_rules)
        .contents
          .fine-print.pill-content
            .row.active#details-tab
              .span3.col
                %label= t(:type)
                .value= @place.place_type
                %label= t(:size)
                .value= raw("#{number_with_precision @place.size_sqm, :strip_insignificant_zeros => true, :precision => 1} #{t(:square_meters_short)}")
                %label &nbsp;
                .value= raw("#{number_with_precision @place.size_sqf, :strip_insignificant_zeros => true, :precision => 1} #{t(:square_feet_short)}")
              .span2.col
                - unless @place.num_bedrooms.blank?
                  %label.sm= t(:bedroom)
                  .value.sm= @place.num_bedrooms
                - unless @place.num_beds.blank?
                  %label.sm= t(:bed)
                  .value.sm= @place.num_beds
                %label.sm= t(:guest)
                .value.sm
                  1
                  = " - #{@place.max_guests}" if @place.max_guests > 1
                - unless @place.num_bathrooms.blank?
                  %label.sm= t(:bathroom)
                  .value.sm= @place.num_bathrooms
              .span3.col
                %label= t(:price_per_night)
                .value= "#{get_pref_currency}#{@place.price_per_night}"

                - unless @place.price_per_week.blank?
                  %label= t(:price_per_week)
                  .value= number_to_currency @place.price_per_week, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true
                - unless @place.price_per_month.blank?
                  %label= t(:price_per_month)
                  .value= number_to_currency @place.price_per_month, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true
              .span4.col
                - unless @place.price_final_cleanup.blank? || @place.price_final_cleanup == 0
                  %label= t(:final_cleanup)
                  .value= number_to_currency @place.price_final_cleanup, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true
                - unless @place.price_security_deposit.blank? || @place.price_security_deposit == 0
                  %label= t(:security_deposit)
                  .value= number_to_currency @place.price_security_deposit, :unit => currency_sign_of(@place.currency), :strip_insignificant_zeros => true
                %label= t(:cancellation)
                .value.bigger= cancellation_desc(@place)

            .row#amenities-tab
              .span
                - display_place_amenities(@place).each do |amenity|
                  %label.w-left-icon.check
                    = amenity

            .row#house-rules-tab
              .span
                %pre.desc= @place.house_rules

      .tabbed-panel.other-info
        %ul.tabs
          -#%li.active
            -#%a{:href => '#details-reviews'} Reviews (2)
          %li.active
            %a{:href => '#details-questions'}
              = "#{t(:question)} (#{@comments.nil?? 0 : @comments.size})"
        .contents
          .fine-print.pill-content
            -#.row.active#details-reviews
              -#%p reviews
            .row.active#details-questions
              .span
                = render '/comments/questions'

- content_for :aside do
  .wizard-aside
    - if @preview
      %ul#wizard-selector
        %li#general
          .indicator
            = image_tag('/images/check.png')
          %a{:href => "#{wizard_place_path(@place, :step => "1")}", :title => t(:general_information), :class => 'active'}
            = t(:general_info)
        %li#photos
          .indicator
            = image_tag('/images/check.png')
          %a{:href => "#{wizard_place_path(@place, :step => "2")}", :title => t(:photos)}
            = t(:photos)
        %li#amenities
          .indicator
            = image_tag('/images/check.png')
          %a{:href => "#{wizard_place_path(@place, :step => "3")}", :title => t(:amenities)}
            = t(:amenities)
        %li#price
          .indicator
            = image_tag('/images/check.png')
          %a{:href => "#{wizard_place_path(@place, :step => "4")}", :title => t(:price_and_conditions)}
            = t(:price_and_conditions)        
        %li#calendar
          .indicator
            = image_tag('/images/check.png')
          %a{:href => "#{wizard_place_path(@place, :step => "5")}", :title => t(:calendar)}
            = t(:calendar)
    - else
      - if logged_in? && @owner['id'].eql?(current_user['id'])
        %p= t(:your_place)
        %a.btn.large.primary{:title => 'Edit place', :href => "#{wizard_place_path(@place)}"}
          = t(:edit_place)
      - else
        %ul.references
          %li.center
            - if @owner['avatar'].nil?
              - avatar = placehold(200, 200, true)
            - else
              - avatar = large_avatar(@owner)
            %img{:src => avatar, :style => "width: 200px;", :alt => "#{short_full_name(@owner)}"}
          %li.center= link_to short_full_name(@owner), user_path(@owner['id'])
          %li.hr_line
          %li.center= image_tag "/images/agent_button.png"
          -#%li.reviews 71 reviews
          %li.center{:style => 'margin-top: 20px;'}
            = link_to t(:message_user), logged_in? ? new_message_path(@owner['id']) : login_path, :class => 'btn large primary'


:javascript
  // accomodation photo slider
  var oSlider7 = $('#photo-slider');
  if(oSlider7.length > 0){
    oSlider7.tinycarousel({ interval: true, intervaltime: 6000, pager: true, animation: false, fading: true });

    $('.extra-paginator').click(function() {
      console.log($(this).attr('data-page'));
      oSlider7.tinycarousel_move($(this).attr('data-page'));
      return false;
    });
  }
  
  // search siderbar accordion
  $(".panel-expander > .content:gt(0)").hide();
  $(".panel-expander > li:gt(4)").hide();
  $(".panel-expander .header").click(function(){
    $(this).toggleClass("active");
    $(this).siblings(".header").removeClass("active");
    $(this).next(".content").slideToggle(500)
    return false;
  });

  $('.tabs').tabs();
  $('.tabs').bind('change', function (e) {
    if ($(e.target).attr('href') == '#calendar-tab') {
      $("#first-calendar, #second-calendar").fullCalendar('render');
    }
  })
  

:erb
  <script type="text/javascript">

    var map;
    function initializeMap() {
      var mapOptions = {
        zoom: 15,
        center: new google.maps.LatLng(<%= @place['lat'] %>, <%= @place['lon'] %>),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById('map'),mapOptions);

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= @place['lat'] %>, <%= @place['lon'] %>),
        map: map,
        title: <%= "\'#{@place['city_name']}, #{@place['country_name']}\'" %>
      });
    }

    $(document).ready(function() {
      $('#first-calendar').fullCalendar({
        header: {
          left: 'prev',
          center: 'title',
          right: ''
        },
        editable: false,
        events: <%= @availabilities.to_json %>,
        visEnd: <%= DateTime.now.end_of_month.to_date %>,
      });

      $('#second-calendar').fullCalendar({
        header: {
          left: '',
          center: 'title',
          right: 'next'
        },
        editable: false,
        events: <%= @availabilities.to_json %>,
        month: <%= Date.today.month %>,
        visStart: false
      });


      $('.fc-header-left .fc-button-inner').hide();

      $('#first-calendar .fc-header-left .fc-button-prev').click(function() {
        $('#second-calendar').fullCalendar('prev');
        var first_cal = $('#first-calendar').fullCalendar('getDate');
        var cur_date = new Date();
        if (first_cal.getMonth() == cur_date.getMonth()) {
          $('.fc-header-left .fc-button-inner').hide();
        } else{
          $('.fc-header-left .fc-button-inner').show();
        }
      });

      $('#second-calendar .fc-header-right .fc-button-next').click(function() {
        $('#first-calendar').fullCalendar('next');
        $('.fc-header-left .fc-button-inner').show();
      });
  });

  $('.tabs').bind('change', function (e) {
    if ($(e.target).attr('href') == '#map-tab') {
      initializeMap();
    }
  })

  $('.sharePlace').bookmark({
    sites: ['facebook', 'twitter', 'google'],
    showAllText: 'Show all ({n})',
    title: <%= "\'#{@place['title']}\'" %>,
    hint: 'Share this place',
    url: <%= "\'http://frontend-heypal.heroku.com/places/#{@place['id']}\'" %>
  });
  </script>
