- content_for :javascripts do
  = javascript_include_tag "wizard"
  = stylesheet_link_tag "uploadify/uploadify.css"

.wizard.row
  .span12.title
    .float-right
      = link_to t("places.invisible"), '#', :class => 'btn secondary', :id => 'listing-status'

    %h1= @place.title
.row
  .span12
    .row 
      .span3
        = render :partial => 'sidebar'
        &nbsp;
      .span9
        %h2.title.section_title= t("places.wizard.general_information_title")
        .wizard-wrapper
          = form_for :place, :class => 'form-stacked', :html => {:id => "wizard_form"} do |f|
            = hidden_field_tag :place_id, params[:id]
            = hidden_field_tag :place_current, @place_basic_info.to_json
            = hidden_field_tag :token, form_authenticity_token, :id => 'token'
            = f.hidden_field :published
            .tab-content
              .panel.tab-pane#1
                = render 'step_general',   :f => f
              .panel.tab-pane#2
                = render 'step_photos',    :f => f
              .panel.tab-pane#3
                = render 'step_amenities', :f => f
              .panel.tab-pane#4
                = render 'step_pricing',   :f => f
              .panel.tab-pane#5
                = render 'step_calendar',  :f => f
              .panel.tab-pane#6
                -#= render 'preview', :f => f
:javascript

  $(function() {
    var wizardStep = "#{params[:step]}";
    // Load initial Panel
    $('.wizard-wrapper .panel').css("display", "none");  
    $('.wizard-wrapper .panel').first().css("display", "block");  

    if(wizardStep != "") {
      switchToPanel(wizardStep);
    } else {
      switchToPanel(1);
    }

    validatePanels();
    //Hide errors initially
    $('.wizard-wrapper .panel .error').removeClass('error');
  });