.row
  .span12
    .coda-slider-wrapper
      #coda-slider-1.coda-slider.preload
        = form_for :place, :class => 'form-stacked', :html => {:id => "wizard_form"} do |f|
          = hidden_field_tag :place_id, params[:id]
          = hidden_field_tag :token, form_authenticity_token, :id => 'token'
          / .description
          .panel
            = render 'step_2', :f => f
          / .photos
          .panel
            = render 'step_3', :f => f
          / .amenities
          .panel
            = render 'step_4', :f => f
          / .calendar
          .panel
            = render 'step_5', :f => f
          / .pricing
          .panel
            = render 'step_6', :f => f
          / .preview
          .panel
            = render 'preview', :f => f
  .span4
    #coda-nav-1.coda-nav
      %ul
        %li.tab1
          %a{:href => "#1"}
            %span
            General Info

        %li.tab2
          %a{:href => "#2"}
            %span
            Photos

        %li.tab3
          %a{:href => "#3"}
            %span
            Amenities

        %li.tab4
          %a{:href => "#4"}
            %span
            Calendar

        %li.tab5
          %a{:href => "#5"}
            %span
            Price and Conditions

        %li.tab6
          %a{:href => "#6"}
            %span
            Preview
= hidden_field_tag 'access_token', current_token, :id => 'accessToken'
:javascript

  var place_id = $('#place_id').val();
  var token = $('#token').val();
  var access_token = $('#accessToken').val();

  var sendFieldUpdate = function() {
    $.ajax({
      type: 'PUT',
      url: '/places/' + place_id + '.json',
      data: $(this).serialize(), 
      success: function() {}
    });
  };

  var sendCheckBoxUpdate = function() {

    var post_data = "";

    var field = $(this).attr("name");
    var value = "1";

    if($(this).attr("checked") == "checked") {
      value = "1";
    } else {
      value = "0";
    }

    post_data = field + "=" + value;

    $.ajax({
      type: 'PUT',
      url: '/places/' + place_id + '.json',
      data: post_data, 
      success: function() {}
    });
  };  

  // proof of concept - save on update feature
  $('#wizard_form input, #wizard_form textarea, #wizard_form select').each(function() {
    $(this).blur(sendFieldUpdate);
  });

   $("#wizard_form input[type='checkbox']").each(function() {
    $(this).change(sendCheckBoxUpdate);
   });


  $(document).ready(function() {
    $('#place_max_guests').valid8();
  });
