- content_for :javascripts do
  %script{:src => "/javascripts/wizard.js", :type => 'text/javascript'}


.row
  .span12       
    %h1.title= @place.title
    %p.section_title
      General Information
    .wizard-wrapper
      = form_for :place, :class => 'form-stacked', :html => {:id => "wizard_form"} do |f|
        = hidden_field_tag :place_id, params[:id]
        = hidden_field_tag :token, form_authenticity_token, :id => 'token'
        / .description
        .panel#1
          = render 'step_2', :f => f
        / .photos
        .panel#2
          = render 'step_3', :f => f
        / .amenities
        .panel#3
          = render 'step_4', :f => f
        / .calendar
        .panel#4
          = render 'step_5', :f => f
        / .pricing
        .panel#5
          = render 'step_6', :f => f
        / .preview
        .panel#6
          -#= render 'preview', :f => f
  .span4
    = render :partial => 'sidebar'

:javascript

  // TODO: Move this to a specific file
  var place_id = $('#place_id').val();
  var token = $('#token').val();
  var access_token = $('#accessToken').val();
  var zipCodeVal = true;

  function showIndicator(elem) {
    elem.after("<span class='save-indicator'><img src='/images/loading.gif' alt='' /></span>");
  }

  function showSavedIndicator(elem) {
    elem.parent().find('.save-indicator').html("<span class='label success'>saved</span>");
    window.setTimeout(function() {
      hideIndicator(elem);
    }, 2000);
  }

  function showErrorIndicator(elem) {
    elem.after("<span class='save-indicator'><span class='label success'>error</span></span>");
  }

  function validateElement(elem) {
    return $('#wizard_form').validationEngine('validateField', elem);
  }

  function hideIndicator(elem) {
    elem.parent().find('.save-indicator').detach();
  }

  var sendFieldUpdate = function() {
    
    var elem = $(this);
    // Check if we have changed values
    if(elem.attr('data-changed') == "1" && !validateElement(elem)) {
      if(zipCodeVal){
        hideIndicator(elem);
        showIndicator(elem);

        $.ajax({
          type: 'PUT',
          url: '/places/' + place_id + '.json',
          data: $(this).serialize(), 
          success: function() {
            showSavedIndicator(elem);
            elem.attr('data-changed', '0');
          }
        });
      } else {
        showErrorIndicator(elem);
      }
    }
  };

  var sendCheckBoxUpdate = function() {
    var elem = $(this);
    hideIndicator(elem);
    showIndicator(elem);

    elem.hide();

    var post_data = "";
    var field = $(this).attr("name");
    var value = "1";

    if($(this).attr("checked") == "checked") {
      value = "1";
    } else {
      value = "0";
    }

    post_data = field + "=" + value;

    $.ajax({
      type: 'PUT',
      url: '/places/' + place_id + '.json',
      data: post_data, 
      success: function() {
        hideIndicator(elem);      
        elem.show();
      }
    });
  };  

  var trackChange = function() {
    $(this).attr('data-changed', "1");
  };
  

  var validateZipCode = function() {
    var country_id = $('#place_city_id').val();
    var zip = $(this).val();
    if(zip.match(/\d{6}/) && (country_id == '1' || country_id == 'IN' || country_id == 'SG' || country_id == 'VN' || country_id == 'CN' )) {
      zipCodeVal = true;
    } else if(zip.match(/\d{5}/) && (country_id == 'ID' || country_id == 'MY' || country_id == 'TH' || country_id == '4065')) {
      zipCodeVal = true;
    } else if(zip.match(/\d{4}/) && (country_id == 'AU' || country_id == 'PH')) {
      zipCodeVal = true;
    } else if(zip.match(/\d{5}([ \-]\d{4})?/) && country_id == 'US') {
      zipCodeVal = true;
    } else if(country_id == '13984'){
      zipCodeVal = true;
    } else {
      zipCodeVal = false;
    }
  };

  $('#place_title').change(function() {
    $('h1.title').html($(this).val());
  });

  $('#place_zip').change(validateZipCode);

  $(document).ready(function() {

    if(window.location.hash != "") {
      switchToPanel(window.location.hash);
    } else {
      switchToPanel('#1');
    }

    // accomodation photo slider          
    var oSlider7 = $('#photo-slider');  	
    if(oSlider7.length > 0){    	
      oSlider7.tinycarousel({ interval: true, intervaltime: 6000, pager: true });
    
      $('#startslider').click(function(){ 
        oSlider7.tinycarousel_start();
        return false;
      });
    
      $('#stopslider').click(function(){ 
        oSlider7.tinycarousel_stop();
        return false;
      });		    		
    }
    
    // search siderbar accordion
    $(".panel-expander > .content:gt(0)").hide();
    $(".panel-expander > li:gt(4)").hide();
    $(".panel-expander .header").click(function(){
      $(this).toggleClass("active");
      $(this).siblings(".header").removeClass("active");      	        
      $(this).next(".content").slideToggle(500)
      return false;
    });

    $('#wizard_form').validationEngine();

    // Character count
    $('#place_title').charCounter(32, {container: "<em></em>",classname: "counter", format: "(%1)"});

    // proof of concept - save on update feature
    $('#wizard_form input[type=text].autosave, #wizard_form textarea.autosave, #wizard_form select.autosave').change(trackChange)
          .blur(sendFieldUpdate);

    $("#wizard_form input[type='checkbox']").change(sendCheckBoxUpdate);


  });
