- content_for :javascripts do
  %script{:src => "/javascripts/wizard.js", :type => 'text/javascript'}

  %link{:rel => "stylesheet", :href => "/javascripts/uploadify/uploadify.css"}  
  %script{:src => "/javascripts/uploadify/swfobject.js", :type => "text/javascript"}
  %script{:src => "/javascripts/uploadify/jquery.uploadify.v2.1.4.min.js", :type => "text/javascript"}

  %script{:src => "/javascripts/jquery.inlineedit.js", :type => "text/javascript"}

.row
  .span12
    .float-right
      = link_to t(:invisible), '#', :class => 'btn secondary', :id => 'listing-status'
    %h1.title= @place.title
    %p.section_title
      General Information
    .wizard-wrapper
      = form_for :place, :class => 'form-stacked', :html => {:id => "wizard_form"} do |f|
        = hidden_field_tag :place_id, params[:id]
        = hidden_field_tag :token, form_authenticity_token, :id => 'token'
        = f.hidden_field :published
        / .description
        .panel#1
          = render 'step_2', :f => f
        / .photos
        .panel#2
          = render 'step_3', :f => f
        / .amenities
        .panel#3
          = render 'step_4', :f => f
        / .calendar
        .panel#4
          = render 'step_5', :f => f
        / .pricing
        .panel#5
          = render 'step_6', :f => f
        / .preview
        .panel#6
          -#= render 'preview', :f => f
  .span4
    = render :partial => 'sidebar'

:javascript
  // Load initial Panel
  $('.wizard-wrapper .panel').css("display", "none");  
  $('.wizard-wrapper .panel:first').css("display", "block");  

  if(window.location.hash != "") {
    switchToPanel(window.location.hash);
  } else {
    switchToPanel('#1');
  }

  validatePanels(); 
