- content_for :javascripts do
  = javascript_include_tag "wizard"

  %link{:rel => "stylesheet", :href => "/javascripts/uploadify/uploadify.css"}

  %script{:src => "/javascripts/jquery.inlineedit.js", :type => "text/javascript"}

.row
  .span12
    .float-right
      = link_to t(:invisible), '#', :class => 'btn secondary', :id => 'listing-status'
    %h1.title= @place.title
  .span3
    = render :partial => 'sidebar'
  .span9
    %p.section_title= t(:general_information)
    .wizard-wrapper
      = form_for :place, :class => 'form-stacked', :html => {:id => "wizard_form"} do |f|
        = hidden_field_tag :place_id, params[:id]
        = hidden_field_tag :token, form_authenticity_token, :id => 'token'
        = f.hidden_field :published
        .tab-content
          / .description
          .panel.tab-pane#1
            = render 'step_general', :f => f
          / .photos
          .panel.tab-pane#2
            = render 'step_photos', :f => f
          / .amenities
          .panel.tab-pane#3
            = render 'step_amenities', :f => f
          / .pricing        
          .panel.tab-pane#4
            = render 'step_pricing', :f => f
          / .celendar
          .panel.tab-pane#5
            = render 'step_calendar', :f => f
          / .preview
          .panel.tab-pane#6
            -#= render 'preview', :f => f

:javascript

  $(function() {
    //$('#wizard_tabs a:first').tab('show');
    var wizardStep = "#{params[:step]}";
    // Load initial Panel
    $('.wizard-wrapper .panel').css("display", "none");  
    $('.wizard-wrapper .panel:first').css("display", "block");  

    if(wizardStep != "") {
      switchToPanel(wizardStep);
    } else {
      switchToPanel(1);
    }

    validatePanels(); 

  });
