!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body
    = render 'shared/header'
    = render 'shared/menu'
    .container
      .content
        .row
          %section.span12
            = yield
          %aside.span4
            = yield :aside


      %footer
      %p &copy; Heypal.com 2011
