!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body
    = render 'shared/header'
    .container
      .content
        .row
          - if content_for?(:aside)
            %section.span9
              = flash_messages
              = yield
            %aside.span3
              = yield :aside
          - else
            %section.span12
              = flash_messages
              = yield

      = render 'shared/footer'
