!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body
    = render 'shared/header'

    .container
      .content
        = flash_messages
        = yield
    .container    
      .content
        = render 'shared/footer'
    
    :javascript
      $(document).ready(function() {
        $('.gallery-pics').each(function(index){
          $(this).after('<div class="gallery-nav gnav' + index+ '">')
          .cycle({ 
            fx:     'fade', 
            speed:  'slow', 
            timeout: 4000, 
            pager:  '.gnav' + index 
          });
        });          
      });