!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'
    %script{:type=>"text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25552412-3']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    = render 'shared/header'      

    .container
      .content
        = flash_messages                  
        = yield
    .container    
      .content
        = render 'shared/footer'      
    
    :javascript
      $(document).ready(function() {
        $('#teaser-pics') 
          .after('<div id="nav">') 
          .cycle({ 
            fx:     'fade', 
            speed:  'slow', 
            timeout: 4000, 
            pager:  '#nav' 
          });
      });