!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body{:id => @body_id}
    .site_wrapper
      = render 'shared/header'
      = render 'shared/contact'
      .container
        .content
          = flash_messages
          = yield
      .container
        .content
          = render 'shared/footer'
