!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body{:id => @body_id}
    = render 'shared/header'

    .container
      .content
        = flash_messages
        = yield
    .container
      .content
        = render 'shared/footer'