!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body
    = render 'shared/header'      

    .container
      .content
        = flash_messages                  
        = yield
    .container    
      .content
        = render 'shared/footer'      
    
    :javascript
      $(document).ready(function() {
        $('#teaser-pics') 
          .after('<div id="nav">') 
          .cycle({ 
            fx:     'fade', 
            speed:  'slow', 
            timeout: 4000, 
            pager:  '#nav' 
          });
      });

    %script{:type => 'text/javascript', :src => 'https://s3.amazonaws.com/getsatisfaction.com/javascripts/feedback-v2.js'}
    %script{:type => 'text/javascript'}
      :plain
        var feedback_widget_options = {};
        feedback_widget_options.display = "overlay"; 
        feedback_widget_options.company = "squarestays";
        feedback_widget_options.placement = "left";
        feedback_widget_options.color = "#404040";
        feedback_widget_options.style = "question";
        var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);