!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body
    = render 'shared/header'

    .container
      .content
        = flash_messages
        = yield
    .container    
      .content
        = render 'shared/footer'
    
    :javascript
      $(document).ready(function() {
        $('#teaser-pics') 
          .after('<div id="nav">') 
          .cycle({ 
            fx:     'fade', 
            speed:  'slow', 
            timeout: 4000, 
            pager:  '#nav' 
          });
      });