!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body
    = render 'shared/header'
    = render 'shared/contact'
    .container.flash_pre
      = flash_messages
      .content
        = yield
      = render 'shared/footer'