!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body
    = render 'shared/header'
    .container
      = flash_messages      
      .content
        = yield
      = render 'shared/footer'
