!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body
    = render 'shared/header'
    .container
      .content
        .row
          %section.span12.offset2
            = flash_messages
            = yield

      = render 'shared/footer'
